.ex-documents2 {
  margin-bottom: 85px;
  h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  p {
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
  .ex-new-style-paragraph {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.18px;
  }
}