#ex-homepage-header{
  border-radius: 0;
  padding-top: 52px;
  background-color: transparent;
  border: none;
  padding-bottom: 50px;
  margin-bottom: 0;
  .navbar-brand{
    width: 140px;
    height: 40px;
    padding: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .navbar-right{
    li{
      a{
        text-decoration: none;
        padding-top: 12px;
        padding-bottom: 15px;
        outline: none;
        color: #ffffff;
      }
    }
  }
  .icon-bar{
    background-color: $white!important;
  }
}

.ex-main-header{
  background-color: $mainHeader;
  @extend #ex-homepage-header;
}
