.ex-service {
  .ex-img-block {
    position: relative;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    @include border-radius(4px);
    background-color: #f9fafc;
  }
  .col-sm-10 {
    h3 {
      margin-top: 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }
  .ex-mg-78 {
    margin-bottom: 78px;
  }
}



.ex-condition {
  .col-sm-5.text-center {
    padding-top: 38px;
  }
  p {
    margin-bottom: 30px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  .form-group {
    margin-bottom: 30px;
    input {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #e2e3e4;
      outline: none;
      &:focus {
        border: 1px solid #2ea2f8;
      }
    }

  }
}

.ex-about {
  .ex-wrapper {
    margin: 0 auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #dedede;
  }
  .ex-for-image {
    margin: 21px auto;
    height: 60px;
    width: 60px;
    @include border-radius(50%);
    background-color: #d8d8d8;
  }
  h3 {
    color: #354052;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 8px;
    margin-top: 21px;
  }
  p {
    padding-right: 61px;
    padding-bottom: 18px;
    color: #354052;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}




