.ex-bounds {
  height: 1px;
  background-color: #333333;
  opacity: 0.3;
}

.ex-main-email {
  h2 {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .ex-email-block {
    margin-bottom: 100px;
    .ex-email-bg {
      box-shadow: 0 2px 0 #f0f2f7;
      border-radius: 4px 4px 0 0;
      background-color: #122a4a;
      p {
        padding: 35px 110px;
        margin-bottom: 0;
        color: #ffffff;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 900;
        a {
          color: #fff;
        }
        @media (max-width: 767px) {
          font-size: 14px;
          padding: 35px;
          br {
            display: none;
          }
        }
      }
    }
    .ex-rectangle {
      height: 234px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      background-color: #ffffff;
      .ex-actions{
        padding: 0 15px;
        .ex-main-btn {
          width: initial;
          margin-top: 31px;
          margin-bottom: 31px;
          padding-left: 106px;
          padding-right: 106px;
          &:first-child {
            margin-right: 24px;
            padding-left: 53px;
            padding-right: 53px;
            background-color: #eef2f7;
          }
          &.ex-send-btn{
            padding-left: 0;
            padding-right: 0;
          }
          @media (max-width: 600px) {
            width: 100%;
            padding-left: 15px!important;
            padding-right: 15px!important;
            &:first-child {
              margin-right:0;
              margin-bottom: 0;
            }
          }
        }
      }
      .ex-send-email {
        position: relative;
        padding: 35px 0 15px;
        border-radius: 0 4px 4px 0;
        background-color: #f7f9fb;
        border-top: 2px solid #eef1f6;
        margin-bottom: 10px;
        label {
          position: relative;
          width: 66%;
          input {
            width: calc(100% - 54px);
            padding: 15px 23px;
            border: 1px solid #eef2f7;
            background-color: #ffffff;
            outline: none;
            @include prefix(border-radius, 4px);
          }
          button {
            position: relative;
            left: -5px;
            width: 50px;
            height: 50px;
            margin-bottom: 0;
            margin-top: 0;
          }
          @media (max-width: 600px) {
            width: 100%;
          }
        }
        @media (max-width: 600px) {
          padding: 35px 15px 15px;
        }
      }

    }
  }

}

.ex-footer {
  p {
    margin: 15px auto;
    color: #8b8b8b;
    font-family: $roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.26px;
  }
}



