section.ex-form{
  padding: 0 10px 25px;
  h4{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.86px;
  }
  #ex-loan-count{
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: $mobHeader;
    margin-bottom: 15px;
    @include prefix(border-radius, 3px);
    div{
      display: inline-block;
      padding: 0 15px 5px;
      border-bottom: 1px solid $white;
      span{
        color: $white;
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
      }
      i{
        display: inline-block;
        width: 12px;
        height: 22px;
        margin-left: 15px;
        background-image: url(../img/mobile/ruble-white.png);
        background-repeat: no-repeat;
      }
    }
    p{
      margin: 0;
      font-size: 10px;
      color: $white;
      letter-spacing: 0.42px;
      font-weight: 300;
    }
  }
  .form-group{
    .ex-unique-arrow{
      select{
        border: 1px solid #dddddd;
        color: #7c8495;
      }
      &:before{
        content: '';
        position: absolute;
        width: 12px;
        height: 9px;
        top: 50%;
        margin-top: -4px;
        right: 25px;
        background-image: url(../img/mobile/arrow-down.png);
      }
    }
    input{
      @include prefix(border-radius, 3px);
      height: 42px;
      border: 1px solid #DDDDDD;
      font-size: 10px;
      color: $font;
      font-weight: 300;
      @include placeholder{
        color: $mobPlaceholder;
      }
    }
    &.ex-error{
      input{
        border: 1px solid $error;
        @include placeholder{
          color: $error;
          font-weight: 400;
        }
      }
    }
    select{
      border: 1px solid #72b6fc;
      height: 42px;
      color: $font;
      font-size: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }
    button{
      margin-top: 25px;
      &#submitTwo{
        margin-top: 10px;
      }
      &#exConfirm{
        margin-top: 10px;
      }
    }
    .ex-ul{
      list-style-type: none;
      padding: 0;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;
      justify-content: space-between;
      margin: 0;
      li{
        width: 47%;
      }
    }
  }
  .ex-agreement-check{
    label{
      padding-top: 0;
      span{
        padding-left: 20px;
        font-size: 10px;
        font-weight: 300;
        color: $font;
        line-height: 16px;
        margin-left: 0;
        @media (min-width: 415px) {
          position: relative;
          top: 8px;
        }
      }
      i{
        top: 8px;
        @include prefix(border-radius, 2px);
      }
    }
  }
}