.ex-body-homepage{
  background-image: url(../img/mobile/mobile-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .ex-homepage{
    padding: 0 10px;
    main{
      overflow: hidden;
      margin: 25px 0;
      padding-bottom: 25px;
      background-color: $white;
      @include prefix(border-radius, 3px);
      .ex-range-wrapper{
        padding: 20px 15px 27px;
        h1{
          margin-top: 0;
          padding-top: 0;
          margin-bottom: 18px;
          @media (min-width: 500px) {
            br{
              display: none;
            }
          }
        }
        .ex-range-slider{
          padding-top: 8px!important;
          padding-bottom: 0!important;
          p{
            position: relative;
            top: 5px;
            display: inline-block;
            float: right;
            padding-left: 0!important;
            margin-right: 50px!important;
            color: $font;
            font-size: 24px!important;
          }
          i{
            top: 14px!important;
            width: 12px!important;
            height: 21px!important;
            background-image: url(../img/mobile/ruble.png)!important;
          }
          .slider-handle{
            border: 3px solid $white;
            width: 32px!important;
            height: 32px!important;
            top: -8px!important;
          }
        }
        .ex-slider-info{
          margin-top: 7px!important;
          span{
            color: $font;
            font-size: 10px;
          }
        }
      }
      .ex-info-wrapper{
        background-color: #f9fafc;
        padding: 25px 15px;
        ul{
          text-align: left;
          margin-bottom: 0;
          list-style-type: none;
          padding: 0;
          display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: -webkit-flex;     /* NEW - Chrome */
          display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
          justify-content: space-between;
          &:first-of-type{
            margin-bottom: 13px;
            li{
              p{
                padding-left: 20px;
              }
            }
          }
          li{
            overflow: hidden;
            padding: 7px 4px;
            height: 44px;
            background-color: $white;
            border: 1px solid #e6ecf2;
            width: 47%;
            @include prefix(border-radius, 3px);
            span{
              vertical-align: top;
              font-size: 8px;
              color: #83909e;
            }
            p{
              position: relative;
              top: -8px;
              font-size: 18px;
              margin: 0;
              color: $font;
              i{
                width: 6px;
                height: 10px;
                display: inline-block;
                margin-left: 11px;
                background-image: url(../img/mobile/ruble-sm.png);
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
      .ex-btn-wrapper{
        padding: 0 15px;
        button{
          margin-top: 25px;
        }
      }
    }
  }
}

