.ex-main-header{
  text-align: center;
  padding: 20px 0 22px;
  color: $white;
  height: 100px;
  overflow: hidden;
  background-color: #88e2ea;
  i.ex-hamburger{
    cursor: pointer;
    float: left;
    width: 60px;
    height: 60px;
    background-image: url(../img/icons/hamburger.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  a.ex-brand{
    color: #333333;
    font-family: $dosis;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.68px;
    text-decoration: none;
  }
}