main.ex-money{
  h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    text-transform: uppercase;
    margin-top: 68px;
    margin-bottom: 50px;
  }
  .nav-tabs{
    border-bottom: none;
    li{
      float: none;
      margin-bottom: 24px;
      &:last-of-type{
        margin-bottom: 0;
      }
      a{
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        padding: 12px 30px;
        @include prefix(border-radius, 20px);
        @media screen and (max-width: 991px) and (min-width: 768px) {
          padding: 12px 15px;
          font-size: 15px;
        }
      }
      &.active{
        a{
          color: #ffffff;
          background-color: #33c7d5;
          border: none;
        }
      }
    }
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .tab-content{
    i{
      display: inline-block;
      margin-bottom: 40px;
      background-repeat: no-repeat;
    }
    p{
      font-family: $roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
    }
    button{
      max-width: 260px;
      font-size: 18px;
      display: block;
      margin: 35px auto 62px;
      padding: 19px 0 16px;
    }
    #home{
      i{
        width: 282px;
        height: 60px;
        background-image: url(../img/icons/visaMaster.png);
      }
    }
    #menu1{
      i{
        width: 270px;
        height: 60px;
        background-image: url(../img/icons/yandex.png);
      }
    }
    #menu2{
      i{
        width: 232px;
        height: 83px;
        background-image: url(../img/icons/qiwi.png);
      }
    }
    #menu3{
      i{
        width: 139px;
        height: 89px;
        background-image: url(../img/icons/contact.png);
      }
    }
    #menu4{
      i{
        width: 124px;
        height: 113px;
        background-image: url(../img/icons/bank.png);
      }
    }
  }
}