section.ex-documents{
  padding: 0 10px 25px;
  p{
    text-align: justify;
    margin-bottom: 25px;
  }
  .ex-wrapper{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    a{
      outline: none;
    }
    .ex-doc-1{
      display: inline-block;
      width: 56px;
      height: 78px;
      background-image: url(../img/doc1.png);
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      border: 2px solid #9BACBD;
      @include prefix(border-radius, 2px);
    }
    .ex-doc-2,.ex-doc-3,.ex-doc-4{
      @extend .ex-doc-1;
    }
    .ex-doc-2{
      background-image: url(../img/doc2.png);
    }
    .ex-doc-3{
      background-image: url(../img/doc3.png);
    }
    .ex-doc-4{
      background-image: url(../img/doc4.png);
    }
  }
}