#ex-agreement{
  padding-top: 105px;
  h4{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 22px;
  }
  p{
    font-size: 13px;
  }
  .ex-agreement-check{
    margin-top: 30px;
    margin-bottom: 65px;
  }
}


/*Below are two pages similar as agreement, that's why they extend from agreement*/

#ex-offerta{
  @extend #ex-agreement;
  ul{
    list-style-type: decimal;
    font-size: 13px;
    padding-left: 10px;
    li{
      margin-bottom: 10px;
    }
  }
  .ex-agreement-check{
    margin-bottom: 0;
    margin-top: 20px;
    label{
      display: inline-block;
    }
  }
  .ex-mb{
    margin-bottom: 60px;
  }
  .ex-main-btn{
    margin-top: 30px;
  }
}


#ex-contract{
  @extend #ex-agreement;
  .ex-separated{
    margin-bottom: 15px;
  }

  .ex-agreement-check{
    margin-bottom: 0;
    margin-top: 20px;
    label{
      display: inline-block;
    }
  }
  .ex-mb{
    margin-bottom: 60px;
  }
  .ex-main-btn{
    margin-top: 30px;
  }
}