#ex-counter-block{
  .ex-calc-wrapper{
    overflow: hidden;
    margin-bottom: 55px;
    -webkit-box-shadow: 10px 20px 28px 0 rgba(170,170,170, 0.18);
    -moz-box-shadow: 10px 20px 28px 0 rgba(170,170,170, 0.18);
    box-shadow: 10px 20px 28px 0 rgba(170,170,170, 0.18);
    @include prefix(border-radius, 15px);
    background-color: $white;
    .ex-range-scope{
      padding: 30px 95px 55px 80px;
      h2{
        font-size: 33px;
        font-weight: 700;
        line-height: 54px;
        @media (max-width: 600px) {
          font-size: 25px;
          line-height: 35px;
        }
      }

      button{
        width: 100%;
        text-transform: uppercase;
        margin-top: 40px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: 700;
        background-color: $mainBtn;
        outline: none;
        border: none;
        @include prefix(border-radius, 3px);
        -webkit-box-shadow: 0 12px 22px 0 rgba(0,0,0, 0.23);
        -moz-box-shadow: 0 12px 22px 0 rgba(0,0,0, 0.23);
        box-shadow: 0 12px 22px 0 rgba(0,0,0, 0.23);
      }
      @media (max-width: 600px) {
        padding: 30px 20px 50px 20px;
      }
    }
    .ex-info-about-borrow{
      position: relative;
      background-color: $mainBg;
      min-height: 485px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      outline: 1px solid #f9fafc;
      &:before{
        content: '';
        position: absolute;
        left: -22px;
        top: 50%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20.5px 21px 20.5px 0;
        border-color: transparent #f9fafc transparent transparent;
      }
      .ex-table-wrapper{
        padding: 55px 55px 50px;
        table{
          margin-bottom: 0;
          tr{
            border-bottom: 2px solid #e8e8e9;
            td{
              color: #6d7c8c;
              padding-top: 20px;
              padding-bottom: 7px;
              border: none;
              &:first-of-type{
                padding-left: 0;
                font-size: 16px;
                font-weight: 300;
              }
              &:last-of-type{
                font-size: 18px;
                font-weight: 700;
                text-align: right;
                padding-right: 0;
                color: #34495e;
                i{
                  vertical-align: middle;
                  margin-left: 3px;
                  display: inline-block;
                  width: 12px;
                  height: 15px;
                  background: url(../img/ruble-currency-sign.svg) no-repeat;
                  -webkit-background-size: contain;
                  background-size: contain;
                }
              }
            }
          }
        }
      }
      p{
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: #34495e;
        letter-spacing: 0.02em;
        strong{
          color: #48d2a0;
          font-size: 32px;
          margin-left: 5px;
        }
        @media (max-width: 991px) {
          text-align: center;
        }
      }
      @media (max-width: 991px) {
        border-radius: 0;
        border: 2px solid $white;
        border-top: none;
      }
    }
  }
}
