#ex-documents{
  padding-top: 65px;
  padding-bottom: 50px;
  h2{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 65px;
  }
  .row{
    figure{
      margin-bottom: 30px;
      height: 330px;
      overflow: hidden;
      @include prefix(border-radius, 10px);
      img{
        width: 100%;
        height: 100%;
      }
      @media (max-width: 991px) {
        height: 465px;
      }
      @media (max-width: 580px) {
        height: 400px;
      }
      @media (max-width: 414px) {
        height: 300px;
      }
    }
  }
  p{
    margin-bottom: 20px;
    text-align: justify;
  }
}