body{
  //background-color: #f1f1f1!important;
  font-family: $lato!important;
  position: relative;
  width: 100%;
  color: #333333!important;
  float: left;
  min-height: 100vh;
  padding-right: 0!important;
}

.dropdown-menu{
  padding: 15px;
}


.ex-money-receive-title{
  margin: 0;
  font-weight: 700;
  font-size: 28px;
}



.ex-orange-btn{
  padding-top: 17px;
  padding-bottom: 13px;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background: #ffbc58; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffbc58 0%, #ff7900 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffbc58 0%,#ff7900 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffbc58 0%,#ff7900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc58', endColorstr='#ff7900',GradientType=0 ); /* IE6-9 */
  @include prefix(border-radius, 30px);
  outline: none;
  border: 1px solid #edaf52;
  border-bottom-color: #ed6d00;
}
.ex-blue-btn {
  margin-bottom: 26px;
  margin-top: 43px;
  padding-top: 23px;
  padding-bottom: 19px;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: #5c6be5;
}

.ex-agreement-check{
  label{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    &:hover input ~ i{
      //background: #ccc;
    }
    &:focus input ~ i{
      //background: #ccc;
    }
    span{
      display: inline-block;
      margin-left: 15px;
      margin-top: 2px;
      letter-spacing: 0.81px;
      @media (max-width: 991px) {
        font-size: 12px;
        margin-top: 4px;
      }
    }
    input{
      position: absolute;
      z-index: -1;
      opacity: 0;
      left: 0;
      margin-left: 0!important;
      &:checked ~ i{
        //background: $mainBtn;
        &:after{
          display: block;
        }
      }
      &:disabled ~ i{
        background: #0e647d;
        &:after{
          border-color: #7b7b7b;
        }
      }
    }
    i{
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      height: 20px;
      width: 20px;
      background: #fff;
      border: 1px solid #dee4e2;
      @include prefix(border-radius, 4px);
      &:after{
        content: '';
        position: absolute;
        display: none;
        left: 6px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid #dee4e2;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        //@include prefix(border-radius, 4px);
      }
    }
  }
  button{
    margin-top: 28px;
  }
}

.ex-adds{
  position: relative;
  min-height: 175px;
  overflow: hidden;
  margin-bottom: 25px;
  div{
    position: absolute;
    top: 0;
    width: 49%;
    height: 100%;
    padding: 8px;
    background-color: #e8e8e8;
    &:first-of-type{
      left: 0;
    }
    &:last-of-type{
      right: 0;
    }
  }
}

