footer.ex-main-footer{
  background-color: #1c2237;
  padding: 40px 0 55px;
  .ex-wrapper{
    display: inline-block;
    width: 191px;
    height: 37px;
    margin-bottom: 35px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p{
    color: #b0b0b0;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
  }
}