main.ex-main-form{
  background-color: #f7f7f7;
  padding-top: 60px;
  padding-bottom: 90px;
  .tab-content{
    h2{
      color: #1c2237;
      font-size: 30px;
      font-weight: 900;
      line-height: 35px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 15px;
      @media (max-width: 414px) {
        font-size: 24px;
        line-height: 29px;
      }
    }
    .ex-step-info{
      color: #1c2237;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      background-color: rgba(#50e3c2, 0.7);
      text-align: center;
      padding: 18px 10px;
      margin: 48px 0 72px;
    }
    .ex-wrapper{
      position: relative;
      .form-control{
        padding: 6px 25px;
      }
      &.ex-slider-wrapper{
        margin-bottom: 15px;
      }
      &.ex-val-select{
        margin-bottom: 15px;
        p{
          text-align: right;
          padding: 9px 35px;
          line-height: 76px;
          margin: 0;
          background-color: #066192;
          color: #ffffff;
          font-family: "Rounds";
          font-size: 76px;
          font-weight: 400;
          i{
            position: relative;
            top: 7px;
            display: inline-block;
            width: 44px;
            height: 70px;
            background-image: url(../img/icons/ruble.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 38px;
          }
          @media (max-width: 1200px) {
            font-size: 56px;
          }
          @media (max-width: 560px) {
            font-size: 37px;
            padding: 9px 15px;
            i{
              width: 20px;
              height: 35px;
              margin-left: 10px;
            }
          }
        }
      }
      &.ex-success{
        &:after{
          content: '';
          position: absolute;
          width: 10px;
          height: 9px;
          right: 22px;
          top: 19px;
          background-image: url(../img/icons/icon-check.png);
          background-repeat: no-repeat;
        }
        input{
          padding-right: 40px;
          border: 1px solid #82e8d1!important;
          background-color: #fff;
          @media (max-width: 414px) {
            font-size: 14px;
            @include placeholder{
              color: #c0c0c0;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
      &.ex-error{
        &:after{
          content: '';
          position: absolute;
          width: 8px;
          height: 9px;
          right: 22px;
          top: 19px;
          background-image: url(../img/icons/icon-cross.png);
          background-repeat: no-repeat;
        }
        input{
          padding-right: 40px;
          border: 1px solid #f85359!important;
          @include placeholder{
            color: #f85359;
            font-size: 16px;
            font-weight: 400;
          }
          @media (max-width: 414px) {
            font-size: 14px;
            @include placeholder{
              color: #f85359;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
      &.ex-arrow{
        &:after{
          content: '';
          position: absolute;
          width: 8px;
          height: 9px;
          right: 22px;
          top: 21px;
          background-image: url(../img/icons/icon-arrow.png);
          background-repeat: no-repeat;
        }
      }
      input{
        height: 47px;
        border: 1px solid #c8cfce;
        color: #262626;
        font-size: 16px;
        font-weight: 400;
        box-shadow: none;
        background-color: transparent;
        &:focus{
          border: 1px solid #77c6f0;
          background-color: #fff;
        }
        @include placeholder{
          color: #c0c0c0;
          font-size: 14px;
          font-weight: 400;
        }
        @media (max-width: 414px) {
          font-size: 14px;
          @include placeholder{
            color: #c0c0c0;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
      select{
        height: 47px;
        border: 1px solid #c8cfce;
        color: #c0c0c0;
        font-size: 14px;
        font-weight: 400;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background-color: transparent;
        &:focus{
          background-color: #fff;
        }
        option{
          color: #262626;
          font-size: 16px;
          font-weight: 400;
        }
        @media (max-width: 414px) {
          font-size: 12px;
        }
      }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    .ex-main-btn{
      display: block;
      text-align: center;
      margin-top: 60px;
    }
    label{
      padding-top: 17px;
      font-size: 12px;
      font-weight: 400;
      font-family: $lato;
      @media (max-width: 991px) {
        margin-bottom: 5px;
      }
    }
    #secondStep{
      .ex-step-info{
        margin-bottom: 40px;
      }
      .media{
        margin-top: 20px;
        .media-left{
          vertical-align: middle;
          padding-right: 0;
          .ex-coincidence-check{
            margin: 0;
            min-width: 163px;
            list-style: none;
            padding-left: 0;
            display: inline-block;
            li{
              color: #AAAAAA;
              display: block;
              position: relative;
              float: left;
              input[type=radio]{
                position: absolute;
                visibility: hidden;
              }
              input[type=radio]:checked ~ .check {
                border: 1px solid #333333;
              }

              input[type=radio]:checked ~ .check::before{
                background: #333333;
              }
              label{
                display: block;
                position: relative;
                color: #333333;
                font-size: 14px;
                font-weight: 400;
                padding: 3px 25px 0 35px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
              }
              .check{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border: 1px solid #c8cfce;
                transition: border .25s linear;
                -webkit-transition: border .25s linear;
                @include prefix(border-radius, 50%);
                &:before{
                  display: block;
                  position: absolute;
                  content: '';
                  top: 5px;
                  left: 5px;
                  width: 12px;
                  height: 12px;
                  margin: auto;
                  transition: background 0.25s linear;
                  -webkit-transition: background 0.25s linear;
                  @include prefix(border-radius, 50%);
                }
              }
            }
          }
          @media (max-width: 414px){
            display: block;
            ul{
              li{
                label{
                  font-size: 12px!important;
                }
              }
            }
          }
        }
        .media-body{
          padding-bottom: 5px;
          font-size: 14px;
          font-weight: 400;
          vertical-align: middle;
          @media (max-width: 414px){
            display: block;
            width: 100%;
            font-size: 12px;
            margin-top: 10px;
          }
        }
      }
      .ex-main-btn{
        margin-top: 20px;
      }
    }
    #thirdStep{
      .ex-step-info{
        margin-bottom: 40px;
      }
      .media{
        margin-top: 20px;
        .media-left{
          vertical-align: middle;
          padding-right: 0;
          .ex-coincidence-check{
            margin: 0;
            min-width: 163px;
            list-style: none;
            padding-left: 0;
            display: inline-block;
            li{
              color: #AAAAAA;
              display: block;
              position: relative;
              float: left;
              input[type=radio]{
                position: absolute;
                visibility: hidden;
              }
              input[type=radio]:checked ~ .check {
                border: 1px solid #333333;
              }

              input[type=radio]:checked ~ .check::before{
                background: #333333;
              }
              label{
                display: block;
                position: relative;
                color: #333333;
                font-size: 14px;
                font-weight: 400;
                padding: 3px 25px 0 35px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
              }
              .check{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border: 1px solid #c8cfce;
                transition: border .25s linear;
                -webkit-transition: border .25s linear;
                @include prefix(border-radius, 50%);
                &:before{
                  display: block;
                  position: absolute;
                  content: '';
                  top: 5px;
                  left: 5px;
                  width: 12px;
                  height: 12px;
                  margin: auto;
                  transition: background 0.25s linear;
                  -webkit-transition: background 0.25s linear;
                  @include prefix(border-radius, 50%);
                }
              }
            }
          }
          @media (max-width: 414px){
            display: block;
            ul{
              li{
                label{
                  font-size: 12px!important;
                }
              }
            }
          }
        }
        .media-body{
          padding-bottom: 5px;
          font-size: 14px;
          font-weight: 400;
          vertical-align: middle;
          @media (max-width: 414px){
            display: block;
            width: 100%;
            font-size: 12px;
            margin-top: 10px;
          }
        }
      }
      .ex-main-btn{
        margin-top: 20px;
      }
    }
  }
}