#askQuestion{
  z-index: 999999;
  padding: 0 15px;
  .modal-dialog{
    margin: 110px auto;
    .modal-content{
      background-color: #fbfbfb;
      box-shadow: none;
      border: none;
      @include prefix(border-radius, 5px);
      .modal-body{
        padding: 40px;
        h2{
          color: #1c2237;
          font-size: 20px;
          font-weight: 900;
          line-height: 27px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 28px;
          @media (max-width: 767px) {
            font-size: 16px;
            line-height: 22px;
          }
        }
        .form-group{
          margin-bottom: 20px;
        }
        input{
          border: 1px solid #c8cfce;
          padding: 15px 15px;
          height: 48px;
          font-size: 16px;
          font-weight: 400;
          &:focus{
            border: 1px solid #77c6f0;
            box-shadow: none;
            outline: none;
          }
          @include placeholder{
            font-size: 14px;
            font-weight: 400;
            color: #c0c0c0;
          }
        }
        textarea{
          @extend input;
          @include prefix(border-radius, 4px);
          width: 100%;
          min-height: 221px;
          height: initial;
          resize: none;
        }
        @media (max-width: 767px) {
          padding: 45px 15px 30px;
        }
      }
    }
    @media (max-width: 414px) {
      padding: 0 15px;
    }
  }
}