main.ex-receive{
  padding-top: 57px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
  h2{
    color: #1c2237;
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 97px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
      font-size: 25px;
      line-height: 31px;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin-bottom: 99px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    li{
      &:first-of-type{
        width: 310px;
        height: 60px;
        background-image: url(../img/icons/fanzaim-logo.png);
        background-repeat: no-repeat;
      }
      &:nth-child(2){
        width: 87px;
        height: 87px;
        background-image: url(../img/icons/transfer-money.png);
        background-repeat: no-repeat;
      }
    }
    @media (max-width: 767px) {
      display: block;
      text-align: center;
      margin-bottom: 40px;
      li{
        display: inline-block;
      }
    }
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;
  }
  .ex-main-btn{
    max-width: 400px;
    margin: 58px auto 0;
    display: block;
  }
  &.ex-contact{
    ul{
      li{
        &:last-of-type{
          width: 139px;
          height: 89px;
          background-image: url(../img/icons/contact2.png);
          background-repeat: no-repeat;
        }
      }
    }
  }
  &.ex-bank{
    ul{
      li{
        &:last-of-type{
          width: 124px;
          height: 113px;
          background-image: url(../img/icons/bank2.png);
          background-repeat: no-repeat;
          @media (min-width: 768px) {
            position: relative;
            top: -20px;
          }
        }
      }
    }
  }
  &.ex-yandex{
    ul{
      li{
        &:last-of-type{
          width: 270px;
          height: 60px;
          background-image: url(../img/icons/yandex2.png);
          background-repeat: no-repeat;
        }
      }
    }
  }
  &.ex-qiwi{
    ul{
      li{
        &:last-of-type{
          width: 232px;
          height: 83px;
          background-image: url(../img/icons/qiwi2.png);
          background-repeat: no-repeat;
        }
      }
    }
  }
  &.ex-bankingCard{
    ul{
      li{
        &:last-of-type{
          width: 282px;
          height: 62px;
          background-image: url(../img/icons/visa2.png);
          background-repeat: no-repeat;
        }
      }
    }
  }
}