.ex-uslovia {
  background-color: $grey;
  padding-top: 50px;
  h3 {
    font-size: 24px;
    text-transform: capitalize;
  }
  p {
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}
