.ex-main-anketa-step {
  h2 {
    margin-bottom: 40px;
  }
  .ex-anketa3-block {
    margin-bottom: 100px;
    .ex-anketa-head {
      box-shadow: 0 2px 0 #f0f2f7;
      border-radius: 4px 4px 0 0;
      background-color: #122a4a;
      p {
        padding: 35px;
        color: #ffffff;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 900;
        a {
          color: #fff;

        }
      }
    }
    .ex-anketa-main {
      .col-xs-8 {
        padding-top: 18px;
      }
      padding-bottom: 30px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      background-color: #ffffff;
      .ex-grey-input {
        padding-bottom: 18px;
        label {
          display: block;
          color: #a3a9b1;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 300;
        }
        input {
          width: 140px;
          height: 50px;
          border-radius: 4px;
          background-color: #eef2f7;
          outline: none;
          border: none;
          padding: 15px 5px 14px 35px;
          color: #000000;
          font-family: $roboto;
          font-size: 18px;
          font-weight: 300;
          &:focus {
            border: 1px solid #eef2f7;
            background-color: #fff;
            display: block;
          }
        }
        input[type='date']::-webkit-inner-spin-button,
        input[type='date']::-webkit-calendar-picker-indicator{
          display: none;
          -webkit-appearance: none;
        }
        .ex-input-300 {
          width: 300px;
        }
        .ex-input-620 {
          width: 620px;
        }
      }
    }

    .ex-anketa-foot {
      height: 100px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      background-color: #f7f9fb;
      border-top: 2px solid #eef1f6;
      .ex-main-btn {
       width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        color: #000000;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
}





