section.ex-about{
  background-color: #fbfbfb;
  padding: 80px 0 87px;
  h1{
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 300;
    line-height: 54px;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 25px;
    }
  }
  .ex-about-bg-wrapper{
    height: 543px;
    background-image: url(../img/about-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 82px;
    background-position: bottom center;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .ex-main-btn{
    margin-top: 80px;
    max-width: 500px;
    width: 100%;
    display: inline-block;
  }
}