section.ex-faq{
  background-color: #fbfbfb;
  padding: 87px 0;
  main.container{
    h1{
      margin-top: 0;
      margin-bottom: 65px;
      font-size: 36px;
      font-weight: 300;
      line-height: 54px;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 25px;
      }
    }
    .panel{
      border: none;
      box-shadow: none;
      background-color: transparent;
      .panel-heading{
        background-color: transparent;
        h4{
          a{
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-decoration: none;
            &:focus{
              color: #a8aab7;
            }
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
          i{
            display: inline-block;
            width: 14px;
            height: 9px;
            margin-left: 18px;
            &.ex-arrow-show{
              background-image: url(../img/icons/icon-arrow-show.png);
            }
            &.ex-arrow-hide{
              background-image: url(../img/icons/icon-arrow-hide.png);
            }
            @media (max-width: 767px) {
              display: none;
            }
          }
        }
      }
      .panel-body{
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        border-top: none;
        @media (max-width: 767px) {
          font-size: 14px;
        }
      }
    }
    .ex-main-btn{
      max-width: 500px;
      width: 100%;
      display: inline-block;
      margin-top: 70px;
    }
  }
}