.ex-main-footer{
  background-color: #00103c;
  padding-top: 55px;
  padding-bottom: 24px;
  color: $white;
  .container{
    div{
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 7px;
      border-bottom: 1px solid $white;
      a{
        display: inline-block;
        width: 178px;
        height: 48px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .ex-scroll-top{
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 60px;
        bottom: 10px;
        right: 0;
        border: 1px solid rgba(151, 151, 151, 0.24);
        background-image: linear-gradient(180deg, #ffe879 0%, #ffcd44 100%);
        background-color: #ffcd44;
        cursor: pointer;
        @include prefix(border-radius, 10px);
        &:before{
          content: '';
          position: absolute;
          width: 26px;
          height: 16px;
          left: 50%;
          margin-top: -8px;
          margin-left: -13px;
          top: 50%;
          background-image: url(../img/icons/arrow_button_up.png);
          -webkit-background-size: contain;
          background-size: contain;
        }
      }
    }
    p{
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      color: #b0b0b0;
    }
  }
}