.ex-main-header{
  text-align: center;
  padding: 25px 0 22px;
  color: $white;
  height: 100px;
  overflow: hidden;
  i.ex-hamburger{
    cursor: pointer;
    float: left;
    width: 28px;
    height: 26px;
    background-image: url(../img/icons/hamburger.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin-top: 13px;
  }
  a.ex-brand{
    display: inline-block;
    width: 178px;
    height: 48px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
  }
}