.ex-money-receive{
  padding: 95px 0 115px;
  background-color: #fbfbfb;
  h1{
    font-size: 36px;
    font-weight: 300;
    line-height: 54px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 70px;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  article{
    margin-bottom: 80px;
    h3{
      font-size: 20px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 55px;
    }
    i{
      display: inline-block;
      margin-bottom: 45px;
      -webkit-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
    }
    p{
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      &.ex-mb{
        margin-bottom: 30px;
      }
      @media (max-width: 991px) {
        text-align: justify;
      }
    }
    ul{
      margin-bottom: 30px;
      padding-left: 20px;
      li{
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        @media (max-width: 991px) {
          text-align: justify;
        }
      }
    }
    .ex-main-btn{
      max-width: 360px;
      width: 100%;
    }
    
    &:first-of-type{
      i{
        &:first-of-type{
          margin-right: 35px;
          width: 120px;
          height: 40px;
          background-image: url(../img/Visa.png);
        }
        &:last-of-type{
          position: relative;
          top: 5px;
          margin-right: 35px;
          width: 90px;
          height: 54px;
          background-image: url(../img/MasterCard.png);
        }
      }
    }
    &:nth-child(2){
      i{
        width: 234px;
        height: 45px;
        background-image: url(../img/Yandex.png);
      }
    }
    &:nth-child(3){
      i{
        width: 116px;
        height: 74px;
        background-image: url(../img/Contact.png);
      }
    }
    &:nth-child(4){
      i{
        width: 139px;
        height: 51px;
        background-image: url(../img/Qiwi.png);
      }
    }
    &:last-of-type{
      i{
        width: 80px;
        height: 72px;
        background-image: url(../img/Bank.png);
      }
    }
    @media (max-width: 991px) {
      text-align: center;
    }
  }
}