section.ex-section-1{
  position: relative;
  background-image: url(../img/pic.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 900px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#f7f7f7, 0.9);
    z-index: 1;
  }
  .container{
    position: relative;
    .ex-green-cover{
      position: absolute;
      width: 73%;
      height: 611px;
      z-index: 2;
      background-color: #fff;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/pic.png);
        background-position: -390px -50px;
        @media (max-width: 1200px) {
          background-position: -490px -50px;
        }
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #50e3c2;
        opacity: 0.8;
      }
      @media (max-width: 991px) {
        width: 100%;
        left: 0;
        background-color: transparent;
        &:before{
          display: none;
        }
        &:after{
          opacity: 0.5;
        }
      }
    }
    main{
      position: relative;
      z-index: 3;
      h1{
        margin-top: 115px;
        color: #ffffff;
        font-family: "Rounds";
        font-size: 89px;
        line-height: 81px;
        span{
          display: inline-block;
          &:first-of-type{
            font-size: 70px;
            line-height: 81px;
          }
          &:nth-child(2){
            font-size: 51px;
            line-height: 72px;
            @media (max-width: 1200px) {
              font-size: 40px;
            }
          }
          &:last-of-type{
            font-size: 64px;
            line-height: 72px;
            @media (max-width: 1200px) {
              font-size: 50px;
            }
          }
        }
        @media (max-width: 1200px) {
          font-size: 60px;
        }
        @media (max-width: 991px) {
          text-align: center;
        }
        @media (max-width: 480px) {
          font-size:35px;
          line-height: 30px;
          margin-top: 50px;
          span{
            &:first-of-type{
              font-size: 35px;
              line-height: 81px;
            }
            &:nth-child(2){
              font-size: 28px;
              line-height: 30px;
            }
            &:last-of-type{
              font-size: 30px;
            }
          }
        }
      }
      .ex-counter-block{
        max-width: 480px;
        width: 100%;
        margin: 112px auto 0;
        p{
          text-align: right;
          padding: 5px 35px;
          margin: 0;
          background-color: #066192;
          color: #ffffff;
          font-family: "Rounds";
          font-size: 76px;
          font-weight: 400;
          i{
            position: relative;
            top: 7px;
            display: inline-block;
            width: 44px;
            height: 70px;
            background-image: url(../img/icons/ruble.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 38px;
          }
          @media (max-width: 1200px) {
            font-size: 60px;
          }
        }
        .ex-wrapper{
          background-color: #fff;
          padding: 20px 35px 35px;
          -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          table{
            border-collapse: separate;
            margin-bottom: 17px;
            border: 1px solid #F3F3F3;
            @include prefix(border-radius, 5px);
            tbody{
              tr{
                td{
                  text-align: center;
                  border-top: none;
                  font-size: 14px;
                  font-weight: 300;
                  strong{
                    display: block;
                    font-size: 14px;
                    font-weight: 900;
                  }
                  @media (max-width: 480px) {
                    font-size: 10px;
                    strong{
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
          div{
            margin: 15px 0 12px;
            text-align: center;
            color: #8494a5;
            font-size: 14px;
            font-weight: 700;
          }
        }
        @media (max-width: 480px) {
          margin: 40px auto 0;
          p{
            padding: 15px 20px;
            font-size: 40px;
            i{
              width: 25px;
              height: 40px;
            }
          }
        }
      }
      .ex-virtual-money{
        margin-top: 160px;
        .col-md-2{
          .ex-wrapper{
            background-color: rgba(#50e3c2, 0.7);
            height: 60px;
            text-align: center;
            i{
              position: relative;
              display: inline-block;
              -webkit-background-size: contain;
              background-size: contain;
              background-repeat: no-repeat;
              top: 50%;
              @include prefix(transform,translateY(-50%));
            }
          }
          &:first-of-type{
            i{
              width: 87px;
              height: 30px;
              background-image: url(../img/icons/visa.png);
            }
          }
          &:nth-child(2){
            i{
              width: 127px;
              height: 25px;
              background-image: url(../img/icons/yandex.png);
            }
          }
          &:nth-child(3){
            i{
              width: 63px;
              height: 39px;
              background-image: url(../img/icons/mastercard.png);
            }
          }
          &:nth-child(4){
            i{
              width: 102px;
              height: 37px;
              background-image: url(../img/icons/qiwi.png);
            }
          }
          &:nth-child(5){
            i{
              width: 64px;
              height: 41px;
              background-image: url(../img/icons/contact.png);
            }
          }
          &:last-of-type{
            i{
              width: 43px;
              height: 43px;
              background-image: url(../img/icons/bank.png);
            }
          }
        }
        @media (max-width: 991px) {
          margin-top: 50px;
          .ex-wrapper{
            height: 70px;
            margin: 15px 0;
          }
        }
      }
    }
  }
}
section.ex-section-2{
  padding: 70px 0 150px;
  background-color: #f7f7f7;
  overflow: hidden;
  .ex-actions{
    position: relative;
    height: 320px;
    p{
      color: #1c2237;
      font-size: 30px;
      font-weight: 900;
      line-height: 30px;
      margin: 0;
      @media (max-width: 991px) {
        br{
          display: none;
        }
      }
    }
    #customNav{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      div{
        width: 70px;
        height: 60px;
        display: inline-block;
        background-color: #1c2237;
        text-align: center;
        cursor: pointer;
        &:before{
          content: '';
          position: relative;
          width: 20px;
          height: 20px;
          display: inline-block;
          top: 50%;
          -webkit-background-size: contain;
          background-size: contain;
          background-repeat: no-repeat;
          @include prefix(transform, translateY(-50%));
        }
        &:first-of-type{
          margin-right: 18px;
          &:before{
            background-image: url(../img/icons/triangleLeft.png);
          }
        }
        &:last-of-type{
          &:before{
            background-image: url(../img/icons/triangleRight.png);
          }
        }
      }
    }
    @media (min-width: 1200px) {
      height: 364px;
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      height: 297px;
    }
    @media (max-width: 991px) {
      height: auto;
      text-align: center;
      #customNav{
        position: static;
        margin: 25px 0;
      }
    }
  }
  .ex-carousel-scope{
    position: absolute;
    height: auto;
    left: 0;
    @media screen and (max-width: 1600px) and (min-width: 768px) {
      width: 180%;
    }
    @media screen and (max-width: 2800px) and (min-width: 1601px) {
      width: 200%;
    }
    @media screen and (max-width: 3840px) and (min-width: 2801px) {
      width: 300%;
    }
    figure{
      position: relative;
      height: 320px;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        background: rgba(#ffffff, 0.65);
        @include prefix(transition, all 0.4s linear);
      }
      &:hover{
        &:before{
          visibility: hidden;
          opacity: 0;
        }
        .ex-wrapper{
          main{
            background-color: rgba(#82e8d1, 0.78);
            h2{
              color: #ffffff;
            }
            p{
              color: #ffffff;
            }
          }
          .ex-main-btn{
            visibility: visible;
            opacity: 1;
          }
        }
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }
      .ex-wrapper{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 3;
        main{
          cursor: default;
          padding: 30px 40px 10px;
          @include prefix(transition, all 0.4s linear);
          h2{
            margin-top: 0;
            margin-bottom: 7px;
            color: #1c2237;
            font-size: 20px;
            font-weight: 900;
            line-height: 32px;
            @include prefix(transition, all 0.1s linear);
          }
          p{
            margin: 0;
            color: #1c2237;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            @include prefix(transition, all 0.1s linear);
          }
        }
        .ex-main-btn{
          width: 100%;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          border-radius: 0;
          font-weight: 400;
          float: left;
          font-size: 18px;
          color: #ffffff;
          @include prefix(transition, all 0.4s linear);
          @media (min-width: 1200px) {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
      @media (min-width: 1200px) {
        height: 364px;
      }
      @media screen and (max-width: 1199px) and (min-width: 992px) {
        height: 297px;
      }
    }
    @media (max-width: 991px) {
      position: static;
      width: 100%;
    }
  }
}
section.ex-section-3{
  padding: 70px 0 230px;
  h2{
    color: #1c2237;
    font-size: 30px;
    font-weight: 900;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 140px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  main{
    background-color: #ECF5F7;
    -webkit-box-shadow: 1px 5px 4px 0px rgba(185,185,185,0.45);
    -moz-box-shadow: 1px 5px 4px 0px rgba(185,185,185,0.45);
    box-shadow: 1px 5px 4px 0px rgba(185,185,185,0.45);
    .col-sm-4{
      &:first-of-type{
        .ex-wrapper{
          &:before{
            content: '';
            position: absolute;
            width: 230px;
            background-repeat: no-repeat;
            height: 276px;
            right: -40px;
            top: -53px;
            background-image: url(../img/icons/arrow-first.png);
          }
          span{
            right: 49px;
            background: #201f53; /* Old browsers */
            background: -moz-linear-gradient(top, #201f53 0%, #1f3382 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #201f53 0%,#1f3382 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #201f53 0%,#1f3382 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201f53', endColorstr='#1f3382',GradientType=0 ); /* IE6-9 */
          }
          @media (max-width: 767px) {
            border-bottom: 5px solid #ffffff;
          }
        }
      }
      &:nth-child(2){
        .ex-wrapper{
          &:before{
            content: '';
            position: absolute;
            width: 230px;
            background-repeat: no-repeat;
            height: 276px;
            right: -40px;
            top: -53px;
            background-image: url(../img/icons/arrow-second.png);
            @media screen and (max-width: 1199px) and (min-width: 992px) {
              right: -40px;
            }
          }
          span{
            right: 49px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20307b+0,0e74d5+100 */
            background: #20307b; /* Old browsers */
            background: -moz-linear-gradient(top, #20307b 0%, #0e74d5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #20307b 0%,#0e74d5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #20307b 0%,#0e74d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20307b', endColorstr='#0e74d5',GradientType=0 ); /* IE6-9 */
            @media screen and (max-width: 1199px) and (min-width: 992px) {
              right: 51px;
            }
          }
          figure{
            right: 6px;
            @media screen and (max-width: 1199px) and (min-width: 992px) {
              right: 7px;
            }
          }
          @media screen and (max-width: 1199px) and (min-width: 992px) {
            padding: 20px 0 20px 10px;
          }
          @media (max-width: 767px) {
            border-bottom: 5px solid #ffffff;
          }
        }
      }
      &:last-of-type{
        .ex-wrapper{
          &:before{
            content: '';
            position: absolute;
            width: 230px;
            background-repeat: no-repeat;
            height: 276px;
            right: -14px;
            top: -53px;
            background-image: url(../img/icons/arrow-third.png);
            @media screen and (max-width: 1199px) and (min-width: 992px) {
              right: -19px;
            }
          }
          span{
            right: 76px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0063b0+0,00b1f3+100 */
            background: #0063b0; /* Old browsers */
            background: -moz-linear-gradient(top, #0063b0 0%, #00b1f3 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #0063b0 0%,#00b1f3 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #0063b0 0%,#00b1f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063b0', endColorstr='#00b1f3',GradientType=0 ); /* IE6-9 */
            @media screen and (max-width: 1199px) and (min-width: 992px) {
              right: 71px;
            }
          }
          figure{
            right: 31px;
            @media screen and (max-width: 1199px) and (min-width: 992px) {
              right: 29px;
            }
          }
          @media screen and (max-width: 1199px) and (min-width: 992px) {
            padding: 20px 0 20px 5px;
          }
        }
      }
      .ex-wrapper{
        position: relative;
        padding: 20px 0 20px 28px;
        &:before{
          @media (max-width: 991px) {
            display: none;
          }
        }
        h3{
          color: #16192a;
          font-size: 12px;
          line-height: 19px;
          font-weight: 700;
          margin: 0;
          overflow: hidden;
        }
        p{
          font-size: 11px;
          line-height: 19px;
          color: #16192a;
          font-weight: 300;
          margin-bottom: 0;
          overflow: hidden;
          @media screen and (max-width: 1199px) and (min-width: 992px) {
            font-size: 10px;
          }
        }
        span{
          position: absolute;
          width: 130px;
          height: 230px;
          right: 0;
          top: 50%;
          z-index: -1;
          @include prefix(transform,translateY(-50%));
          @include prefix(border-radius, 30px);
          @media (max-width: 991px) {
            display: none;
          }
        }
        figure{
          position: absolute;
          right: 3px;
          top: -10px;
          color: #fff;
          font-weight: 700;
          font-size: 18px;
          strong{
            display: block;
            font-size: 50px;
            line-height: 43px;
            padding-left: 14px;
            font-weight: 400;
          }
          @media (max-width: 991px) {
            display: none;
          }
        }
        @media (min-width: 992px) {
          max-height: 135px;
        }
        @media (max-width: 767px) {
          padding: 15px;
        }
      }
    }
    @media (max-width: 767px) {
      display: inline-block;
    }
  }
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
section.ex-section-4{
  padding: 145px 0 110px;
  background-color: #f7f7f7;
  h2{
    color: #1c2237;
    font-size: 30px;
    font-weight: 900;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .media{
    margin-bottom: 85px;
    .media-left{
      padding-right: 20px;
      div{
        width: 60px;
        height: 60px;
        overflow: hidden;
        @include prefix(border-radius, 50%);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .media-body{
      h4{
        color: #262626;
        font-size: 14px;
        line-height: 20px;
        font-weight: 900;
      }
      p{
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        @media (max-width: 480px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .ex-subscribe{
    padding: 23px 50px;
    background-color: rgba(#50e3c2, 0.7);
    p{
      color: #1c2237;
      font-size: 34px;
      font-weight: 900;
      @media (max-width: 1199px) {
        font-size: 26px;
      }
      @media (max-width: 580px) {
        font-size: 18px;
      }
      @media (max-width: 370px) {
        font-size: 14px;
      }
    }
    form{
      .form-group{
        margin-bottom: 0;
        input{
          display: inline-block;
          width: calc(100% - 175px);
          height: 50px;
          border: 1px solid #c8cfce;
          background-color: #f7f7f7;
          @include placeholder{
            color: #c0c0c0;
            font-family: $lato;
            font-size: 14px;
            font-weight: 400;
          }
          @media (max-width: 580px) {
            width: 100%;
            margin-bottom: 15px;
          }
        }
        button{
          max-width: 155px;
          display: inline-block;
          float: right;
          padding: 14px 0 15px;
          font-family: $lato;
          font-size: 14px;
          font-weight: 400;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          @media (max-width: 580px) {
            max-width: initial;
            float: none;
          }
        }
      }
    }
  }
  footer{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    padding: 80px 0 110px;
  }
}