body{
	background-image:url(/templates/dengoman/img/bg-small.png);
    color:#80909c;
}

h1{
    margin:85px 0 50px;
    text-align:center;
}

label{
    color:#80909c;
    font-size:20px;
	font-weight:400;
}

input[type="radio"], input[type="checkbox"] {
    block-size:20px;
    line-size:20px;
}

.label-required::after {
    color:#80909c;
    content:" *";
    font-weight:bold;
}



.steps{
    margin:50px 0;
}
#form-steps > span{
	border:2px solid #935fb1;
    border-radius:30px;
	padding:10px 3px;
}
.steps .btn, .steps .btn:active, .steps .btn:focus, .steps .btn:hover {
	background:#4e8ef7;
    border:none;
    border-radius:18px;
	box-shadow:none;
    font-size:12px;
	font-weight:500;
    height:35px;
    line-height:38px;
    text-align: center;
	text-transform:uppercase;
    width:200px;
}
.steps .btn.off {
    background-color:#d5d6d8;
}


.checks{
    color:#3c434d;
    font-size:18px;
	font-weight:400;
}
.checks input[type="radio"], input[type="checkbox"] {
    block-size:13px;
    line-size:13px;
}


.btn-next, .btn-ok{
    text-decoration:none;
    width:180px;
}
.btn-ok{
    margin:0 auto;
    width:490px;
}


.triggers{
	color:#424955;
	font-size:12px;
	line-height:12px;
	text-transform:uppercase;
}
.triggers img{
	/*border-radius:10px;
	box-shadow:0 15px 20px rgba(0, 0, 0, 0.1);*/
	-webkit-filter:drop-shadow(0px 15px 20px rgba(0,0,0,0.1));
    /*filter: url(#drop-shadow);*/
	filter:drop-shadow(0px 15px 20px rgba(0,0,0,0.1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=15, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=15, Color='#444')";
    margin:0 0 30px;
}
.triggers p{
	margin-bottom:30px;
}
@media screen and (max-width:768px) {
    .btn-ok {
        width:100%;
    }
    .docs{
        display: none;
    }
}
@media screen and (max-width:580px) {
    .steps .btn{
        width: 100px;
    }
}
@media screen and (max-width:420px) {
    h1 {
        font-size:26px;
        line-height:28px;
    }
    .secure-body {
        width:245px;
    }
    .secure img {
        margin-top:4px;
        width:24px;
    }
    .secure span {
        font-size:14px;
    }
}
.label_er {
color: #b94a48 !important;
}
.label_true {
color: #3c763d !important;
}
.helpblock
{
  margin-bottom: 5px;
  margin-top: 2px;
  font-size: 0.8em;
  float: right;
}
.help-block
{
    margin-bottom: 0;
}