footer.ex-main-footer {
  padding: 28px 0;
  border-top: 1px solid rgba(#9b9b9b,.3);
  .ex-foot-logo {
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  footer.ex-main-footer {
    text-align: center;
    p {
      padding-bottom: 20px;
      padding-top: 20px;
      br {
        display: none;
      }
    }
  }
}