.ex-home {
  &:before {
    content: "";
    height: 720px;
    width: 100%;
    display: block;
    position: absolute;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ex-main-section {
    padding-top: 20px;
    padding-bottom: 190px;
    @media (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 30px;
    }
    h1 {
      margin-top: 57px;
      margin-bottom: 27px;
      font-size: 36px;
      font-weight: 700;
      line-height: 46px;
      @media (max-width: 1199px) and (min-width: 992px){
        margin-bottom: 0;
      }
      @media (max-width: 767px) {
        font-size: 26px!important;
        line-height: 32px!important;
        margin-top: 20px;
      }

    }
    .ex-orange {
      color: #ff8c00;
      font-size: 42px;
    }
    .ex-blue {
      color: #1c2f76;
      text-transform: uppercase;
    }
    .ex-text-hd {
      margin-bottom: 66px;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
    .ex-action {
      padding-right: 60px;
      @media (max-width: 991px){
        padding: 0;
        margin-bottom: 20px;
      }
    }
    .ex-calc-block {
      .ex-wrapper {
        padding: 40px 60px 26px 60px;
        border-radius: 5px 5px 0 0;
        background-color: rgba(#ffffff, 0.6);
        .ex-crumbs {
          color: #000000;
          font-size: 20px;
          font-weight: 600;
          text-align: right;
          .ex-unique {
            color: #a3a9b1;
            font-size: 16px;
          }
        }
        .ex-range-slider {
          position: relative;
          margin-top: 5px;
          span.ex-small-cost {
            top: 22px;
            position: absolute;
            color: #a4a4a4;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            &.ex-left {
              left: 0;
            }
            &.ex-right {
              right: 0;
            }
          }
        }
        .ex-slider-block {
          > span {
            display: block;
            text-align: right;
            color: #a4a4a4;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
          }
          p {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: right;
            padding: 5px 20px;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            span {
              vertical-align: middle;
              color: #000000;
              font-size: 28px;
              font-weight: 300;
              line-height: 48px;
            }
          }
          .ex-slider-val {
            i {
              vertical-align: middle;
              margin-left: 10px;
              display: inline-block;
              width: 17px;
              height: 20px;
              background-image: url("../img/rub.svg");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
        @media (max-width: 991px) {
          padding: 15px;
        }
      }
      .ex-info-block {
        padding: 20px 44px;
        border-radius: 0 0 5px 5px;
        background-color: #ff8c00;
        @media (max-width: 991px) {
          padding: 15px;
        }
        .ex-crumbs {
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          .ex-unique {
            font-size: 14px;
            font-weight: 300;
          }
          .ex-result-style {
            font-weight: 700;
          }
          @media (max-width: 776px){
            margin-bottom: 10px;
            text-align: right;
          }
        }
      }
    }

  }
  .ex-info-zaim {
    padding-top: 100px;
    padding-bottom: 85px;
    @media (max-width: 991px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    h2 {
      color: #9b9b9b;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      border-bottom: 1px solid rgba(#9b9b9b, 0.3);
      padding-bottom: 7px;
      margin-bottom: 20px;
    }
    .ex-info-zaim-block {
      margin-bottom: 32px;
      padding: 58px 64px 48px 62px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      border: 1px solid rgba(155, 155, 155, 0.2);
      background-color: #ffffff;
      h3 {
        font-size: 23px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 20px;
        @media (max-width: 776px) {
          font-size: 23px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 31px;
        margin-bottom: 17px;
        border-bottom: 1px solid rgba(#9b9b9b, .3);
      }
      a {
        color: #9b9b9b;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-decoration: none;
      }
      @media (max-width: 991px) {
        padding: 15px;
      }
      .ex-info-image {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
  .ex-methods-zaim {
    padding-bottom: 197px;
    @media (max-width: 991px) {
      padding-bottom: 20px;
    }
    .ex-control {
      position: relative;
      h2 {
        color: #9b9b9b;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        border-bottom: 1px solid rgba(#9b9b9b, 0.3);
        padding-bottom: 7px;
        margin-bottom: 28px;
      }
      #customNav {
        position: absolute;
        top: 84px;
        left: 66px;
        z-index: 2;
        div {
          position: relative;
          display: inline-block;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            width: 30px;
            height: 60px;
            display: inline-block;
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &:first-of-type {
            margin-right: 948px;
            &:before {
              background-image: url(../img/left-but.png);
            }
          }
          &:last-of-type {
            &:before {
              background-image: url(../img/right-but.png);
            }
          }
        }
        @media (max-width: 1199px) {
          display: none;
        }
      }
    }
    .item {
      text-align: center;
      figure {
        height: 150px;
        padding: 27px 5px;
        border-radius: 5px;
        border: 1px solid rgba(155, 155, 155, 0.2);
        background-color: #ffffff;
        h3 {
          color: #9b9b9b;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 26px;

        }
        .ex-for-cards {
          ul {
            list-style-type: none;
            padding: 0;
            li {
              display: inline-block;
              margin-right: 17px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      a {
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }
}

.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;

}
.owl-carousel  .owl-dots {
  margin-top: 20px;
  .owl-dot {
    span {
      background-color: #b4c6c0;
    }
  }
}
.owl-item.active.center {
  .item {
    text-align: center;
    figure {
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      border: 1px solid rgba(155, 155, 155, 0.2);
      background-color: #ffffff;
      h3 {
        color: #000000;
      }
    }
    a {
      color: #1c2f76;
    }
  }
}


