.navbar-default{background:#454040;color:#80909c;height:90px;}
.navbar-default .nav > li > a{font-size:15px;font-weight:800;}
.navbar-nav > li > a{line-height:55px;}
.navbar{border-radius:0px;}
.navbar{margin-bottom:0px;}
.sliders{color:white;}
.irs{height:44px;margin:7px 0;width:100%;}
.irs-from, .irs-to, .irs-single{background:none;color:#fff;display:block;top:-20px;font-size:20pt;}
.irs-line, .irs-bar, .irs-bar-edge{height:5px;top:22px;background:#5cb85c;}
.irs-line{background:white;border:none;border-radius:16px;}
.irs-slider{background:#5cb85c;border:none;box-shadow:1px 4px 3px rgba(0, 0, 0, 0.4);cursor:pointer;height:25px;top:12px;width:25px;border-radius:15px;}
.irs-min, .irs-max{display:none;background:none;color:#444444;font-size:12px;font-family:'Myriad Pro';font-weight:600;top:30px;}
.irs-bar-edge{width:22px;}
.current_amount_color.orange{color:#ffd25b;}
.current_amount_color.green{color:#9bd154;}
.current_amount_color.red{color:#db0100;}
.green .irs-single{background:#7acaf6;border-radius:4px;top:-20px;padding:0px 15px;}
.red .irs-single{background:#db0100;}
.orange .irs-bar, .orange .irs-bar-edge{background:#6ed919;}
.green .irs-bar, .green .irs-bar-edge{background:#f9d657;top:22px;}
.red .irs-bar, .red .irs-bar-edge{background:#db0100;}
.green{background:#5cb85c;border-radius:0 0 5px 5px;opacity:0.9;filter:alpha(Opacity=90);padding:30px 0;}
.green .col-md-2{width:20%;}
.current{border:1px solid white;border-radius:5px;padding:20px 0;width:128px;}
.grey{background:#b2b1b3;border-radius:5px 5px 0 0;opacity:0.9;filter:alpha(Opacity=90);padding:5px 0;}
.grey h1{font-size:22px;}
.grey2 .irs-single{color:#4C7E4B;top:-20px;}
.grey2 .irs-line{background-color:#edebeb;}
.input-group-addon{color:white;background-color:#b2b1b3;border:0px solid #ccc;font-size:20pt;}
footer .logo{max-width:175px;padding:5px;}
.logo-footer{color:#a5a5a5;}
footer p{font-size:10px !important;}
footer a, footer a:hover, footer a:visited{color:#7d7979;text-decoration:none;}
footer .menu-header a{color:#5cb85c;font-size:15px;font-family:'Myriad Pro';font-weight:600;line-height:25px;}
footer .menu a{font-size:10px;font-family:'Myriad Pro';font-weight:400;}
.p{background-color:#fff;opacity:0.9;min-height:100vh;}
.btn-circle, .btn-circle:hover{border:1px double #5cb85c;border-radius:50%;font-size:16px;}
.btn-circle.off{border:1px double #AEAEAE;color:#AEAEAE;}
.btn-lk{background-color:#52a013;padding:15px 20px;}
.dadata{margin-bottom:-10px;}
.conditions h3{font-size:16px;color:#3e3e3e;;}
.conditions p{font-size:12px;}
.suggestions-suggestions.suggestions-mobile{width:250px !important;left:0px !important;background:#ffffff !important;border:1px solid #999 !important;}
.suggestions-suggestions.suggestions-mobile.suggestions-value{left:0px !important;}
#circle{position:relative;width:29px;height:29px;border-radius:50%;font-size:19px;border:1px double #fff;}
#circle::before{content:"+";color:white;position:absolute;left:8px;top:2px;}
.modal-body{padding:15px 30px 15px 5px;}
.panel-default > .panel-heading{background-color:#9fca7c;border:none;color:#fff;cursor:pointer;}
.panel-heading img{height:30px;padding:0px 10px 0px 0px;}
.offers-img{max-height:65px;height:60px;max-width:200px;}
.panel-body{}
.panel{border:0px solid transparent;}
.panel-title a, .panel-title a:hover, .panel-title a:focus{line-height:29px;color:#fff;}
.offer-lk{background-color:#fff;margin:10px 0px;padding:20px 30px;border:1px double rgb(192, 192, 192);border-radius:10px;line-height:25px;}
.offer-lk:hover{border:1px double #00da00;box-shadow:1px 1px 10px #00da00;}
.spec_lk{font-size: 28px;}
.spec_lk2{font-size: 12px;}
.btn-lk:hover{box-shadow:2px 5px 5px rgb(192, 192, 192);}
.offer-lk big{font-size:26px;font-weight:600;}
.title.lk{font-size:40px;}
.lk-table thead{font-size:18px;}
.lk-tbody{font-size:20px;}
.lk-tbody td{padding:25px 0 !important;background-color:#fff;vertical-align:middle !important;}
.lk-tbody td big{font-weight:600;}
.offers img{max-width:345px;}
#email_confirm, #email_later{margin:0px;padding:20px;font-size:20px;}
#email_later{color:#ccc;}
@media screen and (max-width:1200px){html, body{}
.contacts-item{height:450px;}
.howto #video{max-width:402px;}
.green{font-size:14px;}
.current{width:100px;}
}
@media screen and (max-width:992px){.current{width:100%;border:1px double #6ed919;}
.green{color:#333;background:none;border-radius:5px;border:1px double #6ed919;}
.irs-line{background:#b2b1b3;}
.irs-single{color:#000;top:-18px;}
.navbar-default .nav > li > a{font-size:8px;}
.btn{margin:20px 0;}
}
@media screen and (max-width:770px){.navbar, .navbar-header, .navbar-brand, .navbar-btn{height:58px;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{padding:8px 0;}
.navbar-btn{border-radius:10px;margin:0;padding:8px 15px;}
.navbar img{height:100%;margin-left:15px;max-height:73px;max-width:231px;}
.navbar-nav > li > a{line-height:28px;}
.navbar-brand{padding:12px 0;}
.calc{background-size:cover;/*height:280px;*/}
.calc h1{font-size:25px;line-height:25px;margin-top:0px;margin-bottom:0px;text-align:center;}
.calc .irs{margin:0px 0;}
.white h2{font-size:25px;padding:15px 0;}
.white h3{font-size:15px;}
.head .h2{color:#333;font-size:15px;}
.advantage p{font-size:12px;}
.calc .irs-line, .calc .irs-bar, .calc .irs-bar-edge{height:5px;top:21px;}
.irs-single{border-radius:24px;display:block;font-size:14px;padding:3px 30px;top:-10px;}
.calc .irs-slider{height:25px;top:12px;width:25px;}
.btn, .btn:active, .btn.focus, .btn:focus, .btn:hover{font-size:13.5px;font-family:'Myriad Pro';font-weight:600;height:45px;padding:11px;}
.form-label-2{margin:10px;line-height:15px;height:65px;}
.summary span{font-size:14px;}
.title{font-size:30px;}
.subtitle{font-size:24px !important;}
.calc .btn{margin:30px 0;}
#circle, .tip-twitter{display:none;}
.navbar .navbar-nav{width:100%;padding:0px 10%;}
header .header-content{padding:0px;}
header .header-content .header-content-inner{padding:10px;}
.h1, h1{font-size:20px;}
#birthdate, #passportdate{user-select:none;}
.title.lk{font-size:30px;padding:0;}
#email_confirm, #email_later{padding:10px;}
.offer-lk{line-height:15px;}
button.navbar-toggle{display:none;}
}
@media screen and (max-width:580px){.contacts-item{height:535px;}
.panel-body{padding:5px;}
footer .social{width:30px;}
.icon-text img{height:50px;}
.nav-tabs > li > a{font-size:12px;padding:5px 5px;}
.current{padding:5px 0;}
.green{padding:5px 0;}
.green div{padding-bottom:5px;}
.head{padding:20px;} 
label{font-size:14px;}
header .header-content .header-content-inner h1{margin-top:0;margin-bottom:0;font-size:20px;}
.h2, h2{font-size:20px;}
}
.navbar{
background-color:#454040 !important;}
.navbar-nav > li > a{color:#ffffff; text-transform:uppercase; font-size: 16px; }
.navbar-nav > li > a:hover{color: #000000;}
.footer_spec99 {
    font-size: 10px;
}
.special_index5 {
    margin-top: 30px;
}
#ya-rtb {
    text-align: center !important;
    min-width: 100% !important; 
}
input#i , input#o, input#f, input#feedback-name {
    text-transform: capitalize !important;
  }
  @media screen and (min-width:580px){ 
  #phonestatus {
      top: 29px !important;
  }
  #passportstatus {
      top: 56px;
  }
  #work_phonestatus {
    top: 29px !important;
  }
}
@media screen and (max-width:580px){ 
    .has-feedback label~.form-control-feedback {
        top: 5px !important;
    }
  }