#ex-receive-money{
  h1{
    font-weight: 700;
    line-height: 48px;
    color: #34495e;
    letter-spacing: 0.7px;
  }
  article{
    &:first-of-type{
      main{
        height: 100%;
        min-height: 549px;
        .ex-main-btn{
          display: block;
        }
      }
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
    }
    &:last-of-type{
      main{
        &:first-of-type{
          margin-bottom: 30px;
        }
      }
    }
    main{
      padding: 35px 40px 25px;
      background-color: $white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
      @include prefix(border-radius, 5px);
      .ex-header{
        position: relative;
        text-align: center;
        h3{
          color: #1589ee;
          font-size: 18px;
          font-family: $roboto;
          font-weight: 100;
          line-height: 35px;
          letter-spacing: 0.35px;
          margin: 0;
        }
        i{
          &.ex-master-card{
            position: absolute;
            right: -22px;
            top: 10px;
            display: inline-block;
            width: 78px;
            height: 16px;
            background-image: url(../img/5-layers.png);
            background-repeat: no-repeat;
          }
          &.ex-yandex{
            position: absolute;
            right: -22px;
            top: 10px;
            display: inline-block;
            width: 58px;
            height: 12px;
            background-image: url(../img/yandex.png);
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
          }
          &.ex-contact{
            position: absolute;
            right: -22px;
            top: 10px;
            display: inline-block;
            width: 42px;
            height: 19px;
            background-image: url(../img/contatc-logo.png);
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
          }
          @media (max-width: 580px) {
            position: relative!important;
            right: initial!important;
          }
        }
      }
      p{
        margin-top: 25px;
        text-align: justify;
        font-size: 10px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0.24px;
        margin-bottom: 0;
        &.ex-hidden{
          margin-top: 0;
          overflow: hidden;
          max-height: 0;
        }
        &.ex-active{
          margin-top: 0;
          max-height: 10000px!important;
          @include prefix(transition, max-height 3s ease-in);
        }
      }
      .ex-footer{
        text-align: center;
        margin-top: 30px;
        &:after{
          content: '';
          clear: both;
          display: block;
        }
        .ex-collapse{
          cursor: pointer;
          font-size: 12px;
          color: rgba(#333333, 0.30);
          letter-spacing: 0.49px;
          @include prefix(transition, all 0.5s ease);
          &:hover{
            color: rgba(#333333, 0.50);
          }
          &.ex-close{
            float: left;
            margin-left: 15px;
            margin-top: 33px;
            @include prefix(transition, all 0.5s ease);
            @media (max-width: 500px) {
              display: inline-block;
              margin-bottom: 20px;
              margin-top: 0;
              float: none;
              margin-left: 0;
            }
          }
          &.ex-blinked{
            @include prefix(border-radius, 5px);
            -webkit-animation: glowing 1500ms 1;
            -moz-animation: glowing 1500ms 1;
            -o-animation: glowing 1500ms 1;
            animation: glowing 1500ms 1;
          }
        }
        .ex-main-btn{
          display: none;
          float: right;
          width: initial;
          margin-top: 0;
          padding-left: 25px;
          padding-right: 25px;
          letter-spacing: 2.1px;
          @media (max-width: 500px) {
            width: 100%;
            float: none;
          }
        }
      }
    }
  }
}


/*---------On click effect for collapse btn---------*/

@-webkit-keyframes glowing {
  50% { color: lighten($error, 15%) }
}

@-moz-keyframes glowing {
  50% { color: lighten($error, 15%) }
}

@-o-keyframes glowing {
  50% { color: lighten($error, 15%) }
}

@keyframes glowing {
  50% { color: lighten($error, 15%) }
}