@charset "UTF-8";

.animated-1 {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
.animated-2 {
  animation-duration: 0.4s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.animated-3 {
  animation-duration: 0.4s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.animated-4 {
  animation-duration: 0.3s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
}
.animated-5 {
  animation-duration: 0.8s;
  animation-delay: 1.6s;
  animation-fill-mode: both;
}
.animated-6 {
  animation-duration: 0.4s;
  animation-delay: 2.3s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  25% {
    visibility: visible;
    opacity: 0.25;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  75% {
    visibility: visible;
    opacity: 0.75;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  25% {
    visibility: visible;
    opacity: 0.25;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  75% {
    visibility: visible;
    opacity: 0.75;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRightUnique {
  30% {
    transform: translate3d(-30%, 0, 0) rotate(44deg);
  }
  40% {
    transform: translate3d(10, 0, 0) rotate(44deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate(44deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@-webkit-keyframes fadeInRightUnique {
  30% {
    transform: translate3d(-30%, 0, 0) rotate(44deg);
  }
  40% {
    transform: translate3d(10, 0, 0) rotate(44deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate(44deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInRightUnique{
  animation-name: fadeInRightUnique;
}