body{
  position: relative;
  color: $main!important;
  font-family: $roboto!important;
}
.ex-main-btn{
  width: 100%;
  padding: 20px 0 15px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #3391FF;
  background-image: linear-gradient(-180deg, #62C4FF 0%, #3391FF 100%);
  -moz-box-shadow:    0 2px 4px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  box-shadow:         0 2px 4px 0 rgba(0,0,0,0.25);
  color: $white;
  cursor: pointer;
  @include prefix(border-radius, 5px);
}
ul.ex-tabs{
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  margin-bottom: 62px;
  &:after{
    content: '';
    clear: both;
    display: block;
  }
  li{
    width: 50%;
    float: left;
    text-align: center;
    &.active{
      border-left: 1px solid rgba(151, 151, 151, 0.24);
      border-right: 1px solid rgba(151, 151, 151, 0.24);
      background-image: linear-gradient(180deg, #ffe879 0%, #ffcd44 100%);
      background-color: #ffcd44;
      @include prefix(border-radius, 5px);
    }
    a{
      width: 100%;
      color: #333333;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
      display: inline-block;
      padding: 21px 0 17px;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    @media (max-width: 490px) {
      width: 100%;
      float: none;
    }
  }
  @media (max-width: 490px) {
    padding: 5px 0;
  }
}
ul.ex-tabs-three{
  @extend .ex-tabs;
  li{
    width: 33.3%;
    &.active{
      a{
        color: #333333;
      }
    }
    a{
      color: #cbcbcb;
      @media (max-width: 1199px) {
        font-size: 18px;
      }
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
    @media (max-width: 767px) {
      float: none;
      width: 100%!important;
    }
  }
  @media (max-width: 767px) {
    padding: 5px 0;
  }
}
ul.ex-tabs-four{
  @extend .ex-tabs-three;
  li{
    width: 25%;
  }
}
.ex-agreement-check{
  label{
    margin-top: 15px!important;
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    padding-top: 3px!important;
    &:hover input ~ i{
      background: #f8f8f8;
    }
    &:focus input ~ i{
      background: #f8f8f8;
    }
    span{
      display: inline-block;
      margin-left: 15px;
      margin-top: 2px;
      font-size: 14px;
      font-weight: 400;
      @media (max-width: 991px) {
        font-size: 12px;
        margin-top: 4px;
      }
    }
    input{
      position: absolute;
      z-index: -1;
      opacity: 0;
      left: 0;
      margin-left: 0!important;
      &:checked ~ i{
        background: #4a90e2;
        &:after{
          display: block;
        }
      }

    }
    i{
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      height: 24px;
      width: 24px;
      background: #ffffff;
      border: 1px solid #c8cfce;
      @include prefix(border-radius, 5px);
      &:after{
        content: '';
        position: absolute;
        display: none;
        left: 8px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        @include prefix(border-radius, 4px);
      }
    }
  }
  button{
    margin-top: 28px;
  }
}