.ex-form{
  padding-top: 65px;
  padding-bottom: 60px;
  h1{
    margin-top: 0;
    margin-bottom: 65px;
  }
  .ex-indicator-scope{
    margin-bottom: 110px;
    &.nav-tabs{
      border-bottom: none;
    }
    figure{
      position: relative;
      display: inline-block;
      &.ex-first-step{
        cursor: pointer;
        width: 28px;
        height: 28px;
        border: 2px solid $indicatorBlue;
        margin-right: 8px;
        @include prefix(border-radius, 50%);
        &:after{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: $indicatorBlue;
          top: 50%;
          margin-top: -3px;
          left: 50%;
          margin-left: -3px;
          @include prefix(border-radius, 50%);
        }
        p{
          left: -100%;
        }
      }
      &.ex-second-step{
        text-align: center;
        width: calc(100% - 80px);
        &:before{
          content: '';
          position: absolute;
          height: 2px;
          left: 0;
          top: 50%;
          margin-top: -3px;
          width: 50%;
          z-index: -1;
          background-color: $font;
        }
        &:after{
          content: '';
          position: absolute;
          height: 2px;
          right: 0;
          top: 50%;
          margin-top: -3px;
          width: 50%;
          z-index: -1;
          background-color: $font;
        }
        div{
          position: relative;
          display: inline-block;
          width: 44px;
          background-color: $white;
          span{
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: 28px;
            height: 28px;
            border: 2px solid $indicatorPassive;
            @include prefix(border-radius, 50%);
            &:after{
              content: '';
              position: absolute;
              width: 6px;
              height: 6px;
              background-color: $font;
              top: 50%;
              margin-top: -3px;
              left: 50%;
              margin-left: -3px;
              @include prefix(border-radius, 50%);
            }
          }
        }
        p{
          width: 100%;
          bottom: -59px;
        }
      }
      &.ex-last-step{
        cursor: pointer;
        width: 28px;
        height: 28px;
        border: 2px solid $indicatorPassive;
        margin-left: 8px;
        @include prefix(border-radius, 50%);
        &:after{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: $font;
          top: 50%;
          margin-top: -3px;
          left: 50%;
          margin-left: -3px;
          @include prefix(border-radius, 50%);
        }
        p{
          width: 72px;
          left: -100%;
        }
      }
      p{
        position: absolute;
        text-transform: uppercase;
        font-weight: 700;
        bottom: -66px;
        text-align: center;
        @media (max-width: 414px) {
          display: none;
        }
        @media (max-width: 767px) {
          font-size: 13px;
        }
      }
    }

    &.ex-on-second-step{
      .ex-second-step{
        &:before{
          background-color: $indicatorBlue;
        }
        div{
          span{
            border: 2px solid $indicatorBlue;
            &:after{
              background-color: $indicatorBlue;
            }
          }
        }
      }
    }
    &.ex-on-last-step{
      .ex-second-step{
        &:before{
            background-color: $indicatorBlue;
        }
        &:after{
          background-color: $indicatorBlue;
        }
        div{
          span{
            border: 2px solid $indicatorBlue;
            &:after{
              background-color: $indicatorBlue;
            }
          }
        }
      }
      .ex-last-step{
        border: 2px solid $indicatorBlue;
        &:after{
          background-color: $indicatorBlue;
        }
      }
    }
  }
  form{
    #ex-main-slider-range{
      .ex-range-slider{
        padding-top: 15px;
        background-color: $white;
      }
      .ex-slider-info{
        margin-top: initial;
        padding-top: 6px;
      }
      .irs{
        bottom: 6px!important;
      }
    }
    .form-group{
      margin-bottom: 20px;
      label{
        padding-top: 15px;
        color: $label;
        font-weight: 700;
      }
      .ex-wrapper{
        position: relative;
        input{
          font-weight: 700;
          height: 50px;
          @include placeholder{
            font-weight: 400;
          }
        }
      }
      select{
        height: 50px;
        font-weight: 700;
      }
      &.ex-error{
        .ex-wrapper{
          input{
            box-shadow: none;
            outline: none;
            padding-right: 30px;
            color: $error;
            @include placeholder{
              color: $error;
            }
            &:focus{
              border: 1px solid #ccc;
              outline: none;
            }
          }
          &:before{
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -6px;
            right: 15px;
            width: 7px;
            height: 13px;
            background: url(../img/question-icon.png) no-repeat;
          }
        }
        p{
          font-size: 12px;
          margin-top: 6px;
          margin-bottom: 0;
          color: $error;
        }
      }
    }
    .ex-agreement-check{
      label{
        padding-top: 0;
      }
    }
    .ex-main-btn{
      float: right;
      width: initial;
      text-transform: capitalize;
      padding: 15px 45px;
      margin-top: 25px;
      @media (max-width: 600px) {
        width: 100%;
        padding: 15px 0;
      }
    }
  }
}