.ex-faq {
  padding-top: 40px;
  padding-bottom: 64px;
  h1 {
    margin-top: 0;
    margin-bottom: 75px;
    color: #2d3e4f;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.34px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 0;
    padding-bottom: 30px;
  }
  .ex-main-btn {
    margin-top: 38px;
  }

}