#ex-homepage-header {
  height: 84px;
  padding-top: 24px;
  padding-bottom: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  background-image: linear-gradient(to top, #ecf0f1 0%, #ffffff 100%);
  margin-bottom: 0;
  #navbarCollapse {
    padding-top: 0;
    padding-right: 0;
  }
  .navbar-brand {
    width: 172px;
    height: 34px;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .navbar-right {
    li {
      a {
        padding: 8px 32px !important;
        color: #333333;
        font-size: 18px;
        font-weight: 700;
        @media screen and (max-width: 991px) and (min-width: 768px) {
          padding: 8px 18px !important;
        }
        @media (max-width: 768px) {
          padding: 8px 18px !important;
        }
      }
    }
    .icon-bar {
      background-color: #000 !important;
    }
  }
  .ex-dropdown-menu {
    .dropdown-menu {
      background-color: transparent;
      padding: 0;
      box-shadow: none !important;
      border: none;
      margin-top: 30px;
      li {
        border-radius: 5px;
        border: 1px solid #ecf0f1;
        background-color: #ffffff;;
        margin-bottom: 2px;
        a {
          text-transform: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px;
          padding-left: 21px !important;
          padding-right: 75px !important;
        }
        &:hover {
          border: 1px solid transparent;
         a{
           color: #ffffff;
           background-color: #2f81b7;
           -moz-border-radius: 5px;
           -webkit-border-radius: 5px;
           -ms-border-radius: 5px;
           border-radius: 5px;
         }
        }
      }
    }
    > a {
      position: relative;
      background-color: transparent;
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: 16px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid #333333;
        @media (max-width: 991px) {
          right: 0;
        }
      }
    }
    @media screen and (max-width: 991px) and (min-width: 320px) {
      .dropdown-menu {
        margin-top: 0 !important;
        li {
          > a:hover {
            border-bottom: none;
            border-top: none;
          }
        }
      }
    }
  }
}
.ex-main-header {
  background-color: #268FFB;
  @extend #ex-homepage-header;
}

@media (max-width: 767px) {
  .navbar-nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27);
    margin: 0;
    width: 100%;
    background: #F3F5F6;
    position: absolute;
    z-index: 99999;
    padding: 20px 0;
    li {
      a{
        display: inline-block;
      }
      .dropdown-menu{
        li {
          border-radius: 0!important;
          border: none!important;
          background-color: transparent!important;
          margin-bottom: 0!important;
          a {
             font-weight: inherit!important;
             line-height: 16px !important;
             padding-left: 0 !important;
             padding-right: 0 !important;
          }
          &:hover {
            border: 1px solid transparent;
            a{
              font-weight: 700! important;
              color: #333333!important;
              background-color: transparent!important;
              border-radius: 0!important;
            }
          }
        }
      }
    }
  }
  .navbar-collapse {
    padding: 0;
  }
}
