/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@@@@@@ Helper files import here @@@@@@*/
@import "library/_mixins";
/*@@@@@@ Core files import here @@@@@@*/
@import "core/_fonts";
@import "core/_variables";
@import "core/_global";
/*@@@@@@ Lib files import here @@@@@@*/
//@import "compass/reset";
@import "library/_bootstrap";
/*@@@@@@ Desktop Site part files import here @@@@@@*/
@import "desktop/footer";
@import "desktop/header";
@import "desktop/main";








