html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


/* @import url(https://fonts.googleapis.com/css?family=Montserrat); */

html,
body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; 
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 115vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
}

.background:first-child {
  background-image: url(..//templates/bzaim2/assets/img/test2.jpg);
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
}

.background:first-child .content-wrapper {
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
}

.background:nth-child(2) {
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
  background-image: url(..//templates/bzaim2/assets/img/test5.jpg);
}

.background:nth-child(3) {
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
  background-image: url(..//templates/bzaim2/assets/img/test7.jpg); 
}


/* Set stacking context of slides */

.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
  margin-top: 80px;
  font-size: 5vh;
  line-height: 1.4;
}

.content-subtitle {
  font-size: 3vh;
  margin-bottom: 80px;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
  transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

.background.up-scroll+.background {
  -webkit-transform: translate3d(0, 30vh, 0);
  transform: translate3d(0, 30vh, 0);
}

.background.up-scroll+.background .content-wrapper {
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
  transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
}

.background.down-scroll+.background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
  transform: translate3d(0, -15vh, 0);
}

.background.down-scroll+.background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100% !important;
  width: 16% !important;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 40vh;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
  background-color: #3d88ce;
  background-color: rgba(12, 106, 194, 0.8);
  z-index: 999;
}

@media (min-width: 768px) {
  #pageh {
    font-size: 33px !important; color: #fff; top: -8vh; z-index: 9999; position: fixed; left: 0;  right: 0;  margin: 5% auto;
 }
  .logo-main {
    width: 200px;
   position: fixed;
   left: 30px;
   top: 30px;
   z-index: 999;
 }
  .special_index {
    width: 35% !important;
  }
  .padding {
    padding-top: 10vh !important;
  }
  .ul_index {
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .content-title2 {
    margin-top: 40vh !important;
    font-size: 2.5vh !important;
    padding: 20px 40px;
    text-align: center;
  }
  .content-title3 {
    margin-top: 1vh !important;
    font-size: 2vh !important;
    padding: 20px 40px;
    text-align: center;
  }
  .content2 {
    font-size: 1.5vh !important;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 2.5vh !important;
    text-transform: none;
  }
  .list-inline>li {
    font-size: 2vh !important;
    padding: 0 20px !important;
  }
  ul {
    border-radius: 20px !important;
  }
  .drawer-list {
    height: 115vh !important;
    padding-top: 20vh !important;
  }
  .hamburger {
    text-align: left;
  }
  label.hamburger {
    top: 6vh !important;
  }
  label.hamburger2 text close, label.hamburger2 text open {
    font-size: .5em !important;
  }
  label.hamburger3 text close, label.hamburger3 text open {
    font-size: .5em !important;
  }
}

@media (max-width: 767px) {
  label.h5 {
    width: 25%;
    font-size: 0.7em !important;
    text-align: left !important;
    padding-right: 10px;
  }
  #pageh {
    font-size: 20px !important; color: #fff; top: -2vh; z-index: 9999; position: fixed; left: 0;  right: 0;  margin: 5% auto;
 }
  .logo-main { 
    width: 130px;
   position: fixed;
   left: 15px;
   top: 30px;
   z-index: 999;
 }
  .h3 {
    font-size: 2vh !important;
  }
  .special{
    margin-top: 7vh !important;
  }
  .special2{
    margin-top: 0vh !important;
  }
  label.hamburger2 text close,
label.hamburger2 text open {
  text-transform: uppercase;
  font-size: .6em  !important; 
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}
label.hamburger3 text close,
label.hamburger3 text open {
  text-transform: uppercase;
  font-size: .6em !important;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}
  .content-title3{
    /* margin-top: 6.5vh !important; */
    font-size: 2vh !important;
    padding: 7px 7px;
    text-align: center;
  }
  label.hamburger2 {
    right: 11% !important;
    top: 1vh !important;
    text-align: left !important;
  }
  label.hamburger3 {
    right: 11% !important;
    top: 1vh !important;
    text-align: left !important;
  }
  .content2 {
    font-size: 1.5vh !important;
    padding: 10px 10px;
    border-radius: 25px;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 1.5vh !important;
    text-transform: none;
  }
  .content4 {
    font-size: 1.1vh !important;
    padding: 10px 5px;
    border-radius: 25px;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 1.5vh !important;
    text-transform: none;
  }
  .background.down-scroll+.background:not(.down-scroll) .wrapper2 {
    -webkit-transform: translateY(-4vh);
    transform: translateY(-4vh);
  }
  
  .ul_index {
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    vertical-align: middle !important;
  }
  .special_index {
    margin-bottom: -11% !important;
  }
  .drawer-list {
    width: 44% !important;
    padding-top: 20vh !important;
  }
  label.hamburger {
    right: 11% !important;
    top: 5vh !important;
    text-align: left !important;
  }
  .content-wrapper {
    min-height: 100%;
    margin: 0 !important;
  }
  .background:first-child .content-wrapper {
    -webkit-transform: translateY(0vh) !important;
    transform: translateY(0vh) !important;
  } 
  .content-title {
    text-align: left !important;
    margin-top: -15vh !important;
    font-size: 4vh !important;
    line-height: 1.2 !important;
    margin-left: 30px !important;
  }
  .content-subtitle {
    text-align: left !important;
    margin-left: 30px !important;
    margin-bottom: 40px !important;
  }
  label.hamburger text close,
  label.hamburger text open {
    font-size: .6em !important;
  }
  .drawer-list li a {
    font-size: calc(13px - .5vw) !important;
  }
  footer {
    max-height: 20% !important;
    position: absolute !important;
    padding: 15px 0px 20px 0 !important;
  }
  .background {
    position: fixed;
    margin-top: 94px;
    height: 90px;
    min-height: 100% !important;
  }
  footer p,
  footer a {
    font-size: 1.5vh !important;
    text-align: left !important;
  }
  .logo {
    margin: 0px !important;
  }
}

@media (min-width: 768px) {
  .special4{
    margin-top: 0vh !important;
  }
  .drawer-list {
    width: 40vw;
  }
  .content-wrapper3{
    margin-top: 10vh !important;
  }
}

.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  z-index: 1;
}

.drawer-list li:last-child {
  margin-bottom: 2em;
}

.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: calc(22px - .5vw);
}

@media (min-width: 768px) {
  .drawer-list li a {
    text-align: center;
    padding: 1rem;
  }
}

.drawer-list li a:hover {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: rgba(17, 132, 240, 0.5);
}

input.hamburger {
  display: none;
}

input.hamburger:checked~.drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.hamburger:checked~.drawer-list li {
  transform: translatex(0);
}

input.hamburger:checked~.drawer-list li:nth-child(1) {
  transition: transform 1s 010s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(26) {
  transition: transform 1s 210s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li a {
  padding-right: 18px;
}

input.hamburger:checked~label>i {
  background-color: transparent;
  transform: rotate(90deg);
}

input.hamburger:checked~label>i:before {
  transform: translate(-50%, -50%) rotate(315deg);
}

input.hamburger:checked~label>i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
}

input.hamburger:checked~label close {
  color: #FEFEFE;
  width: 100%;
}

input.hamburger:checked~label open {
  color: transparent;
  width: 0;
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.hamburger:hover {
  cursor: pointer;
}

label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}

label.hamburger text close {
  color: transparent;
  right: 0;
  width: 0;
}

label.hamburger text open {
  color: #FEFEFE;
  width: 100%;
}

label.hamburger>i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}

label.hamburger>i:before,
label.hamburger>i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

label.hamburger>i:before {
  transform: translate(-50%, -14px);
}

label.hamburger>i:after {
  transform: translate(-50%, 14px);
}

label.hamburger {
  position: fixed;
  top: 20vh;
  right: 6%;
}

input.hamburger2 {
  display: none;
}

input.hamburger2:checked~.drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.hamburger2:checked~.drawer-list li {
  transform: translatex(0);
}

input.hamburger2:checked~.drawer-list li:nth-child(1) {
  transition: transform 1s 010s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(26) {
  transition: transform 1s 210s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger2:checked~.drawer-list li a {
  padding-right: 18px;
}

input.hamburger2:checked~label>i {
  background-color: transparent;
  transform: rotate(90deg);
}

input.hamburger2:checked~label>i:before {
  transform: translate(-50%, -50%) rotate(315deg);
}

input.hamburger2:checked~label>i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
}

input.hamburger2:checked~label close {
  color: #FEFEFE;
  width: 100%;
}

input.hamburger2:checked~label open {
  color: transparent;
  width: 0;
}

label.hamburger2 {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.hamburger2:hover {
  cursor: pointer;
}

label.hamburger2 text close,
label.hamburger2 text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}

label.hamburger2 text close {
  color: transparent;
  right: 0;
  width: 0;
}

label.hamburger2 text open {
  color: #FEFEFE;
  width: 100%;
}

label.hamburger2>i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}

label.hamburger2>i:before,
label.hamburger2>i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

label.hamburger2>i:before {
  transform: translate(-50%, -14px);
}

label.hamburger2>i:after {
  transform: translate(-50%, 14px);
}

label.hamburger2 {
  position: fixed;
  top: 20vh;
  right: 6%;
}

input.hamburger3 {
  display: none;
}

input.hamburger3:checked~.drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.hamburger3:checked~.drawer-list li {
  transform: translatex(0);
}

input.hamburger3:checked~.drawer-list li:nth-child(1) {
  transition: transform 1s 010s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(26) {
  transition: transform 1s 210s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger3:checked~.drawer-list li a {
  padding-right: 18px;
}

input.hamburger3:checked~label>i {
  background-color: transparent;
  transform: rotate(90deg);
}

input.hamburger3:checked~label>i:before {
  transform: translate(-50%, -50%) rotate(315deg);
}

input.hamburger3:checked~label>i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
}

input.hamburger3:checked~label close {
  color: #FEFEFE;
  width: 100%;
}

input.hamburger3:checked~label open {
  color: transparent;
  width: 0;
}

label.hamburger3 {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.hamburger3:hover {
  cursor: pointer;
}

label.hamburger3 text close,
label.hamburger3 text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}

label.hamburger3 text close {
  color: transparent;
  right: 0;
  width: 0;
}

label.hamburger3 text open {
  color: #FEFEFE;
  width: 100%;
}

label.hamburger3>i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}

label.hamburger3>i:before,
label.hamburger3>i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

label.hamburger3>i:before {
  transform: translate(-50%, -14px);
}

label.hamburger3>i:after {
  transform: translate(-50%, 14px);
}

label.hamburger3 {
  position: fixed;
  top: 20vh;
  right: 6%;
}


/**
    SCROLLBAR STYLE FOR IE
*/

body {
  scrollbar-base-color: #138a72;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  scrollbar-dark-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.icon {
  display: inline-block;
  width: 5vw;
  height: 4vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

footer {
  position: fixed;
  /* Фиксированное положение */
  left: 0;
  bottom: 0;
  /* Левый нижний угол */
  padding: 10px;
  /* Поля вокруг текста */
  background: rgba(12, 106, 194, 0.8);
  /* Цвет фона */
  color: #d0d0d0;
  /* Цвет текста */
  width: 100%;
  /* Ширина слоя */
  z-index: 999;
}

footer p, footer a {
  font-size: 1.3vh !important;
  padding: 5px 5px;
  line-height: 1.8vh !important;
}

footer img {
  vertical-align: middle;
  max-width: 175px;
  padding: 5px;
}

footer a {
  font-size: 2vh;
  color: #d0d0d0;
}

a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: #d0d0d0;
}

.ul_index {
  margin-top: 40px;
}

.special_index {
  margin-top: 40px;
  width: 70%;
  padding: 10px 12px;
  font-size: 18px;
}

button::before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: #959595 0 2px 5px;
  -moz-box-shadow: #959595 0 2px 5px;
  border-radius: 3px;
  box-shadow: #959595 0 2px 5px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  padding: 2px 0 0;
  position: absolute;
  top: 0;
  width: 100%;
}

button:active::before {
  padding: 1px 0 0;
}

button {
  -moz-box-shadow: inset 0 0 0 1px #63ad0d;
  -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #eee;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
  background: -moz-linear-gradient(#eee, #e2e2e2);
  background: linear-gradient(#eee, #e2e2e2);
  border: solid 1px #d0d0d0;
  border-bottom: solid 3px #b2b1b1;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #f5f5f5;
  color: #555;
  display: inline-block;
  font: bold 12px Arial, Helvetica, Clean, sans-serif;
  margin: 0 25px 25px 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fafafa;
  
}

button:hover {
  background: #e4e4e4;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
  background: -moz-linear-gradient(#e4e4e4, #ededed);
  background: linear-gradient(#e4e4e4, #ededed);
  border: solid 1px #c2c2c2;
  border-bottom: solid 3px #b2b1b1;
  box-shadow: inset 0 0 0 1px #efefef; 
}

button:active {
  background: #dfdfdf;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
  background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
  background: linear-gradient(#dfdfdf, #e3e3e3);
  border: solid 1px #959595;
  box-shadow: inset 0 10px 15px 0 #c4c4c4;
  top: 2px;
}

a.button.special_index {
  background: #cae285;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cae285), to(#a3cd5a));
  background: -moz-linear-gradient(#cae285, #a3cd5a);
  background: linear-gradient(#cae285, #a3cd5a);
  border: solid 1px #aad063;
  border-bottom: solid 3px #799545;
  box-shadow: inset 0 0 0 1px #e0eeb6;
  color: #5d7731;
  text-shadow: 0 1px 0 #d0e5a4;
}

button.special_index:hover {
  background: #abd164;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#abd164), to(#b9d972));
  background: -moz-linear-gradient(#abd164, #b9d972);
  background: linear-gradient(#abd164, #b9d972);
  border: solid 1px #98b85b;
  border-bottom: solid 3px #799545;
  box-shadow: inset 0 0 0 1px #cce3a1;
}

button.special_index:active {
  background: #a4cb5d;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a4cb5d), to(#9ec45a));
  background: -moz-linear-gradient(#a4cb5d, #9ec45a);
  background: linear-gradient(#a4cb5d, #9ec45a);
  border: solid 1px #6e883f;
  box-shadow: inset 0 10px 15px 0 #90b352;
}

.content {
  padding: 10px 10%;
  font-size: 3vh;
  background-color: rgba(0, 0, 0, 0.3);
}
/*-- Sign Styles --*/
.sign {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sign__word {
  text-align: center;
  -webkit-animation: neon 10s ease-in-out infinite alternate;
          animation: neon 10s ease-in-out infinite alternate;
}
.sign__word__white {
  text-align: center;
  -webkit-animation: white1 10s ease-in-out infinite alternate;
          animation: white1 10s ease-in-out infinite alternate;
}
.sign__word__red {
  text-align: center;
  -webkit-animation: red1 10s ease-in-out infinite alternate;
          animation: red1 10s ease-in-out infinite alternate;
} 
/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(9, 252, 1, 0.98), 0 0 30px rgba(73, 253, 2, 0.42), 0 0 12px rgba(30, 242, 30, 0.58), 0 0 22px rgba(115, 242, 30, 0.84), 0 0 38px rgba(115, 242, 30, 0.88), 0 0 60px rgba(115, 242, 30, 0.88);
  }
  to {
    text-shadow: 0 0 6px rgba(9, 252, 1, 0.98), 0 0 30px rgba(73, 253, 2, 0.42), 0 0 12px rgba(30, 242, 30, 0.58), 0 0 22px rgba(115, 242, 30, 0.84), 0 0 38px rgba(115, 242, 30, 0.88), 0 0 60px rgba(115, 242, 30, 0.88);
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(9, 252, 1, 0.98), 0 0 30px rgba(73, 253, 2, 0.42), 0 0 12px rgba(30, 242, 30, 0.58), 0 0 22px rgba(115, 242, 30, 0.84), 0 0 38px rgba(115, 242, 30, 0.88), 0 0 60px rgba(115, 242, 30, 0.88);
  }
  to {
    text-shadow: 0 0 6px rgba(9, 252, 1, 0.98), 0 0 30px rgba(73, 253, 2, 0.42), 0 0 12px rgba(30, 242, 30, 0.58), 0 0 22px rgba(115, 242, 30, 0.84), 0 0 38px rgba(115, 242, 30, 0.88), 0 0 60px rgba(115, 242, 30, 0.88);
  }
} 
/*-- Animation Keyframes --*/
@-webkit-keyframes white1 {
  from {
    text-shadow: 0 0 6px rgba(204, 204, 204, 0.92), 0 0 30px rgba(204, 204, 204, 0.34), 0 0 12px rgba(204, 204, 204, 0.52), 0 0 21px rgba(204, 204, 204, 0.92), 0 0 34px rgba(204, 204, 204, 0.78), 0 0 54px rgba(204, 204, 204, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(204, 204, 204, 0.92), 0 0 30px rgba(204, 204, 204, 0.34), 0 0 12px rgba(204, 204, 204, 0.52), 0 0 21px rgba(204, 204, 204, 0.92), 0 0 34px rgba(204, 204, 204, 0.78), 0 0 54px rgba(204, 204, 204, 0.92);
  }
}
@keyframes white1 {
  from {
    text-shadow: 0 0 6px rgba(204, 204, 204, 0.92), 0 0 30px rgba(204, 204, 204, 0.34), 0 0 12px rgba(204, 204, 204, 0.52), 0 0 21px rgba(204, 204, 204, 0.92), 0 0 34px rgba(204, 204, 204, 0.78), 0 0 54px rgba(204, 204, 204, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(204, 204, 204, 0.92), 0 0 30px rgba(204, 204, 204, 0.34), 0 0 12px rgba(204, 204, 204, 0.52), 0 0 21px rgba(204, 204, 204, 0.92), 0 0 34px rgba(204, 204, 204, 0.78), 0 0 54px rgba(204, 204, 204, 0.92);
  }
}
/*-- Animation Keyframes --*/
@-webkit-keyframes red1 {
  from {
    text-shadow: 0 0 6px rgba(255, 0, 0, 0.92), 0 0 30px rgba(255, 0, 0, 0.34), 0 0 12px rgba(255, 0, 0, 0.52), 0 0 21px rgba(255, 0, 0, 0.92), 0 0 34px rgba(255, 0, 0, 0.78), 0 0 54px rgba(255, 0, 0, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(255, 0, 0, 0.92), 0 0 30px rgba(255, 0, 0, 0.34), 0 0 12px rgba(255, 0, 0, 0.52), 0 0 21px rgba(255, 0, 0, 0.92), 0 0 34px rgba(255, 0, 0, 0.78), 0 0 54px rgba(255, 0, 0, 0.92);
  }
}
@keyframes red1 {
  from {
    text-shadow: 0 0 6px rgba(255, 0, 0, 0.92), 0 0 30px rgba(255, 0, 0, 0.34), 0 0 12px rgba(255, 0, 0, 0.52), 0 0 21px rgba(255, 0, 0, 0.92), 0 0 34px rgba(255, 0, 0, 0.78), 0 0 54px rgba(255, 0, 0, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(255, 0, 0, 0.92), 0 0 30px rgba(255, 0, 0, 0.34), 0 0 12px rgba(255, 0, 0, 0.52), 0 0 21px rgba(255, 0, 0, 0.92), 0 0 34px rgba(255, 0, 0, 0.78), 0 0 54px rgba(255, 0, 0, 0.92);
  }
}
@media (max-width: 767px) {
  .background.down-scroll+.background:not(.down-scroll) .content-wrapper {
    -webkit-transform: translateY(-4vh) !important;
    transform: translateY(-4vh) !important;
  }
}
.spec_a {
  text-decoration: none !important;
}
.layer {
  overflow-y: scroll; /* Добавляем полосы прокрутки */
  height: 30vh !important; /* Высота блока */
 }
 .panel {
  background-color: rgba(255, 255, 255, 1) !important;
 }
 .content5 {
   background-color: transparent !important;
   color: #000 !important;
   font-weight: 800 !important;
 }
 .content-title4 {
   color: #fff !important;
   background-color: rgba(12, 106, 194, 0.8) !important;
  text-align: center;
  -webkit-animation: white1 10s ease-in-out infinite alternate;
          animation: white1 10s ease-in-out infinite alternate;
 }
 .steps .btn, .steps .btn:active, .steps .btn:focus, .steps .btn:hover {
  background: #ffee00;
  border: none;
  border-radius: 18px;
  box-shadow: none;
  font-size: 14px; 
  color: #000;
  display: block !important;
  font-weight: 900;
  height: 50px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  margin: 8px;
  cursor: default;
 }
 .steps .btn.off {
  background-color: #ddd;
  color: #000;
 }
 .steps {
  position: fixed; z-index:999; left: 7%; top: 20vh;
 }

 a.spec_a {
   color: #fff;
   text-transform: none;
 } 
 p.form-group.has-feedback {
  white-space:nowrap !important
 }
 input.form-control.ec.tip, select.form-control.ec.tip {
  display: inline-block;
 }
 label.h5 {
   width: 30%;
   text-align: right;
   padding-right: 20px;
 }
 /* input#i , input#o, input#f, input#feedback-name, input#birthplace, input#city, input#street {
  text-transform: capitalize !important;
} */

.cd-container { 
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-top {
  z-index: 16;
  display: inline-block;
  height: 40px;
  border-radius: 15px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(/templates/bzaim/img/cd-top-arrow.png) center 50% no-repeat rgb(69, 64, 64);
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
.er:-moz-placeholder {
  color: #ff0000 !important;
}

.er::-moz-placeholder {
  color: #ff0000 !important;
}

.er::placeholder {
  color: #ff0000 !important;
}

.er:-ms-input-placeholder {
  color: #ff0000 !important;
}

.er::-webkit-input-placeholder {
  color: #ff0000 !important;
}
.help-block.form-error {
  display: none !important;
}
#phonestatus {
  top: 12px !important;
}
.spec_modal {
  width: 100% !important;
}
#work_salarystatus , #work_salary, #work_experiencestatus {
  top: 20px !important;
}
.cbx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}
.cbx:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
} 
#cdx2 {
  min-height: 16px !important;
  padding-left: 16px !important;
  margin-bottom: 5px !important;
  margin-right: 10px !important;
}
.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #6871f1;
  animation: jelly 0.6s ease;
}
#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.cntr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
@-moz-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
.font_spec {
  font-size: 1.1em;
}