//Colors
$yellowBtn: #FFDD2D;

//Fonts
$roboto: 'Roboto', sans-serif;


//Mobile
$white: #ffffff;
$black: #000000;
$footer: #162F4B;
$white: #ffffff;
$black: #000000;
$footer: #162F4B;
$darkblue: #122a4a;
$darkgray:#242424;
$gray:#a6acb3;
$lightgray:#f7f9fb;
