main.ex-faq{
  padding-top: 40px;
  padding-bottom: 70px;
  .nav.nav-tabs{
    display: block;
    border-bottom: none;
    margin-bottom: 25px;
    li{
      float: none;
      margin-bottom: 24px;
      &:last-of-type{
        margin-bottom: 0;
      }
      a{
        cursor: pointer;
        padding: 12px 30px;
        border-radius: 5px;
        background-color: #f9f9f9;
        color: #427674;
        font-size: 16px;
        font-weight: 700;
        line-height: 42px;
        @media screen and (max-width: 991px) and (min-width: 768px) {
          padding: 12px 15px;
          font-size: 15px;
        }
      }
      &.active{
        a{
          color: #ffffff;
          border: none;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          border-radius: 5px;
          background-color: #427674;
          font-size: 16px;
          font-weight: 700;
          line-height: 42px;
        }
      }
    }
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .ex-main-btn{
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  .panel-group{
    .card{
      box-shadow: none;
      border: none;
      margin-top: 4px;
      .card-header{
        position: relative;
        background-color: transparent;
        border-bottom: none;
        h4{
          display: block;
          position: relative;
          //max-width: 95%;
          a{
            position: relative;
            text-decoration: none;
            font-weight: 700;
            line-height: 20px;
            color: #333;
            font-size: 16px;
            letter-spacing: 0.3px;
            padding-right: 20px;
            i {
              position: absolute;
              top: 5px;
              right: 0;
              background-repeat: no-repeat;

              width: 6px;
              height: 6px;
              @media (max-width: 991px) {
                display: none;
              }
              &.ex-plus{
                background-image: url(../img/icons/triangle.png);
                -webkit-transform:rotate(180deg);
                transform: rotate(180deg);
                -webkit-filter: brightness(0%);
                filter: brightness(0%);
              }
              &.ex-minus {
                background-image: url(../img/icons/triangle.png);
              }
            }
          }
        }
        @media (min-width: 768px) {
          padding: 10px 15px 10px 0;
        }
      }
      .card-body{
        padding: 20px 33px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        border-radius: 5px;
        background-color: #f9f9f9;
        p {
          color: #333333;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.26px;
        }

      }
    }

  }
  .ex-bg-head {
    a {
      color: #9b9b9b!important;
    }
  }
}