.ex-main {
  padding-top: 62px;
  padding-bottom: 58px;
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    span {
      color: #5d9d58;
      font-size: 42px;
    }
    @media (max-width: 991px) {
      font-size: 32px;
      line-height: 40px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      br {
        display: none;
      }
    }
    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .ex-for-img {
    width: 500px;
    height: 333px;
    background-repeat: no-repeat;
    background-image: url("../img/pic.png");
    @media (max-width: 991px) {
      display: none;
    }
  }
  .ex-border {
    border-left: 1px solid rgba(#333333, 0.3);
    @media (max-width: 1199px) {
      border-left: none;
    }
  }
  .ex-main-form {
    padding: 22px 0 22px 22px;
    .ex-wrapper {
      position: relative;

      input {
        height: 50px;
        color: #262626;
        font-size: 16px;
        font-weight: 400;
        padding: 12px 19px;
        box-shadow: inset 0 0 10px #e5e5e5;
        border: 1px solid #9b9b9b;
        background-color: #ffffff;
        @include prefix(border-radius, 5px);
        &:focus {
          border: 1px solid #9b9b9b;
          background-color: #ffffff;
        }
        @include placeholder {
          color: #c0c0c0;
          font-size: 14px;
          font-weight: 400;
        }
        @media (max-width: 414px) {
          font-size: 14px;
          @include placeholder {
            color: #9b9b9b;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    .ex-btn-blue {
      max-width: 295px;
      margin-top: 45px;
    }
    @media (max-width: 991px) {
      padding: 0 10px 30px;
    }
  }

}

.ex-section-art {
  padding-bottom: 102px;
  padding-top: 102px;
  background-color: #f9f9f9;
  @media (max-width: 991px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  h2 {
    color: #427674;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .ex-art-block {
    margin-bottom: 20px;
    padding: 26px;
    @include prefix(border-radius, 5px);
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
    color: #9b9b9b;
    -webkit-transition: all 0.3s ease;
    @media (max-width: 1191px) and (min-width: 991px) {
      min-height: 400px;
    }
    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }
    p {
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #9b9b9b;
    }
  }
  .ex-art-block.ex-art-active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: 1px solid #5d9d58;
    color: #333333;
    a {
      color: #333333;
    }
  }
}

.ex-about-section {
  padding-top: 35px;
  padding-bottom: 35px;
  h2 {
    margin-top: 0;
    margin-bottom: 70px;
    color: #427674;
    font-size: 36px;
    font-weight: 700;
  }
  .item {
    margin-bottom: 52px;
    text-align: center;
    height: 200px;
    padding: 30px 21px;
    @include prefix(border-radius, 5px);
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
    @media (max-width: 767px) {
      height: 270px;
    }
    @media (max-width: 500px) {
      height: 320px;
    }
    @media (max-width: 380px) {
      height: 400px;
    }
    figcaption {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    h3 {
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 700;
    }

  }
  .owl-dots .owl-dot span {
    background-color: #ffffff !important;
    border: 1px solid #5d9d58;
  }
  .owl-dots .owl-dot.active span {
    background-color: #5d9d58 !important;
  }
}

