body{
	color:#444444;
	font-size:20px;
}

h3{
	font-size:30px;
	margin:0 0 25px;
}

table{
	font-size:15px;
	margin:20px 0 40px;
}
table td{
	vertical-align:top;
}
table tr > td:first-child{
	color:#aeaeae;
	padding-top:10px;
}
table tr > td:last-child{
	padding:10px 0 10px 25px;
}

input[type="radio"], input[type="checkbox"] {
    block-size:20px;
    line-size:20px;
}

.form-control{
    border-color:#636363;
	border-radius:10px;
    font-size:20px;
    height:40px;
	padding-left:25px;
}

.navbar{
	margin-bottom:60px;
}

.has-search{
	margin-bottom:0;
}
.has-search .form-control {
    padding-right:60.5px;
}
.has-search span{
	color:#aeaeae;
	font-size:26px;
	line-height:34px;
	margin:4px 25px 0 0;
}


.btn{
	border-radius:10px;
}


.small-card{
	margin:10px 0 15px;
}
.small-card strong{
	font-size:23px;
	margin:21px 25px 0 0;
	text-align:right;
}
.small-card img{
	border:2px solid #86ca98;
	height:105px;
	width:105px;
}


.form-control-static{
	font-size:20px;
}

.history-about img{
	border:2px solid #86ca98;
	width:100%;
}
.history-about strong{
	border-bottom:2px solid #86ca98;
	font-size:26px;
	line-height:24px;
	padding-bottom:5px;
}
.history-about p{
	font-size:19px;
    margin-top:20px;
}

.profile-controls, .profile-controls:visited, .profile-controls:hover, .profile-controls:focus{
	color:#aeaeae;
	font-size:13px;
}

.save, .example{
	background-image:url(../img/lk/shadow.png);
	margin:0;
	padding:0 0 8px 8px;
}
.rating-btn{
	margin:50px 0 50px;
}
.btn-save, .btn-example{
	font-size:20px;
	height:50px;
	width:220px;
}
.btn-example{
	font-size:15px;
	height:40px;
	line-height:15px;
	padding:12px;
}
.btn-rating{
	width:345px;
}

.activate{
	margin:50px 0 35px;
	padding-left:8px;
}
.btn-activate{
	font-size:20px;
	height:50px;
	width:374px;
}

.profile{
	border-bottom:2px solid #86ca98;
}
.profile strong{
	border:none;
	display:inline-block;
}

.ps{
	max-width:100%;
	height:50px;
	margin-bottom:30px;
}

.gift{
	margin-top:40px;
}

footer{
	margin-top:45px;
}