//Colors
$white: #ffffff;
$black: #000000;
$main: #333333;
$slider: #ff973b;
$asideMenu: #ffffff;

//Fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$dosis: 'Dosis', sans-serif;
//Mobile
