/*@@@@@@ Helper files import here @@@@@@*/
/*@@@@@@ Core files import here @@@@@@*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Regular.eot");
  src: url("../fonts/Dosis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis-Regular.woff") format("woff"), url("../fonts/Dosis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*@@@@@@ Lib files import here @@@@@@*/
/*@@@@@@ Mobile Site part files import here @@@@@@*/
