@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic,cyrillic-ext');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
  font-family: 'Akrobat-Regular';
  src: url('../fonts/Akrobat-Regular.eot');
  src: url('../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Regular.woff') format('woff'),
  url('../fonts/Akrobat-Regular.ttf') format('truetype'),
  url('../fonts/Akrobat-Regular.svg#glyphicons-halflingsregular') format('svg');
}