.ex-main-header {
  height: 80px;
  padding: 29px 15px;
  color: #fff;
  border: none;
  @include prefix(border-radius, 0);
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  background-color: #ffffff;
  @media (max-width: 991px) {
    height: auto;
  }
  .ex-brand {
    width: 148px;
    height: 36px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    @media (max-width: 480px) {
      width: 160px;
      height: 30px;
    }
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/hamburger-icon.png);
    opacity: .3;
  }
  .navbar-nav {
    .nav-item {
      position: relative!important;
      padding: 4px 8px;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
        border-radius: 5px;
        border: 1px solid #546066;
      }
      a {
        padding: 0;
        color: #546066;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
      }
      i {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 12px;
        width: 8px;
        height: 5px;
        background-image: url(../img/icons/dr-arrow.png);
        background-repeat: no-repeat;
        @media (max-width: 991px) {
          display: none;
        }
      }
      @media (max-width: 991px) {
       text-align: left;
      }
    }
    @media (max-width: 991px) {
      margin-top: 20px;
      .nav-item  {
        display: block;
        width: auto!important;
        margin-right: 0;
        margin-bottom: 10px;
        a {
          &:focus {
            display: none;
          }
        }
        &:last-child{
          width: 230px!important;
        }
      }
    }

  }
  .dropdown-toggle:after {
    display: none;
  }
  .navbar-nav {
    .ex-dropdown {
      padding: 0 15px !important;
      position: relative;
      color: #1c2f76;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      i {
        position: absolute;
        right: 0;
        top: 7px;
        display: inline-block;
        width: 7px;
        height: 5px;
        background-image: url(../img/icons/dropdown-arrow.png);
        background-repeat: no-repeat;
      }
      &:after {
        display: none;
      }
      @media (max-width: 991px) {
        padding: 0!important;
      }
    }
    .dropdown-menu {
      padding:  0 20px 0 0 ;
      margin-top: 0;
      top: 60px;
      left: auto !important;
      box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
      border-radius: 5px;
      background-color: #ffffff;
      .dropdown-item {
        position: relative;
        padding: 13px 24px 13px 20px;
        color: #9b9b9b;
        font-size: 12px;
        font-weight: 300;
        text-transform: capitalize;
        &:focus {
          background-color: transparent;
        }
        &:hover {
          background-color: #71d379;
          color: #ffffff;
          font-size: 12px;
          font-weight: 300;
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: -20px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 23px 0 23px 20px;
            border-color: transparent transparent transparent #71d379;
            @media (max-width: 991px) {
              display: none;
            }
          }
        }
      }
      @media (max-width: 991px) {
        display: block;
        box-shadow:none;
        border: none;
        .dropdown-item {
          padding: 5px 20px;
         &:hover{
           background-color: transparent;
           color:#9b9b9b ;
         }
        }
      }
    }
  }
}


