.ex-about {
  padding-bottom: 70px;
  &:before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    height: 400px;
    width: 100%;
    background-image: url("../img/about.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .ex-page-title {
    margin-top: 194px;
    margin-bottom: 60px;
    padding: 29px 15px;
    background-color: rgba(#ff8c00, .3);
    h1 {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 0;
    }
    @media (max-width: 991px) {
      padding: 20px 0;
      margin-top: 0;
      margin-bottom: 0;
      h1 {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  .ex-steps {
    .ex-steps-block {
      figure {
        margin-top: 27px;
        margin-bottom: 18px;
        text-align: center;
        padding: 13px 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border: 1px solid rgba(155, 155, 155, 0.2);
        background-color: #ffffff;
        color: #ff8d00;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
      }
      .ex-steps-content {
        padding: 0 23px;
        h3 {
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
        @media (max-width: 991px) {
          text-align: center!important;
          br {
            display: none;
          }
        }
        @media (max-width: 767px) {
          padding: 0;
          h3 {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }

      }
      @media (max-width: 991px) {
        padding-top: 20px;
      }
    }
  }
  .ex-about-content {
    padding-top: 36px;
    padding-bottom: 76px;
    p {
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 60px;
      @media (max-width: 776px) {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  .ex-info {
    padding-bottom: 60px;
    h2 {
      color: #9b9b9b;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 21px;
      padding-bottom: 7px;
      border-bottom: 1px solid rgba(#9b9b9b, 0.3);
    }
    p {
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

