.ex-article {
  .ex-page-title {
    margin-top: 194px;
    margin-bottom: 60px;
    padding: 29px 15px;
    background-color: rgba(#ff8c00, .3);
    h1 {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 0;
    }
    @media (max-width: 991px) {
      padding: 20px 0;
      margin-top: 0;
      margin-bottom: 0;
      h1 {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  .ex-article-content {
    padding-top: 36px;
    padding-bottom: 60px;
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 60px;
      @media (max-width: 776px) {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
    @media (max-width: 776px) {
      font-size: 14px;
      padding-bottom: 0;
    }
  }
}
.ex-article.ex-article-1:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  height: 400px;
  width: 100%;
  background-image: url("../img/art1.png");
  background-repeat: no-repeat;
  background-size: cover;
    @media (max-width: 991px) {
      display: none;
    }
}
.ex-article.ex-article-2:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  height: 400px;
  width: 100%;
  background-image: url("../img/art2.png");
  background-repeat: no-repeat;
  background-size: cover;
    @media (max-width: 991px) {
      display: none;
  }
}
.ex-article.ex-article-3:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  height: 400px;
  width: 100%;
  background-image: url("../img/art3.png");
  background-repeat: no-repeat;
  background-size: cover;
    @media (max-width: 991px) {
      display: none;
  }
}