.ex-docs {
  padding-bottom: 60px;
  .ex-page-title {
    padding: 29px 15px;
    background-color: #ff8c00;
    h1 {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 0;
    }
    @media (max-width: 991px) {
      padding: 20px 0;
      h1 {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  .ex-text {
    padding-top: 36px;
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      @media (max-width: 776px) {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
    .ex-for-buttons {
      margin-top: 60px;
    }
  }
}

