@media screen and (max-width: 767px) {
    /* line 104, ../sass/desktop/_spasibo.scss */
    table {
      border: 0;
    }
  
    /* line 107, ../sass/desktop/_spasibo.scss */
    table caption {
      font-size: 1.3em;
    }
  
    /* line 110, ../sass/desktop/_spasibo.scss */
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    /* line 120, ../sass/desktop/_spasibo.scss */
    table tr {
      /* border-bottom: 3px solid #ddd; Tom Nolane */ 
      display: block;
      margin-bottom: .625em; 
    }
    .ex-spasibo table tr td {
      padding-top: 10px !important; /* Tom Nolane */
      padding-bottom: 10px !important;/* Tom Nolane */
    }
    /* line 125, ../sass/desktop/_spasibo.scss */
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
     
    }
  
    /* line 131, ../sass/desktop/_spasibo.scss */
    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      width: 45%;
    }
  
    /* line 140, ../sass/desktop/_spasibo.scss */
    table td:after {
      clear: both;
      content: '';
      display: block;
    }
  
    /* line 146, ../sass/desktop/_spasibo.scss */
    table td:last-child {
      border-bottom: 0;
    }
  
    /* line 150, ../sass/desktop/_spasibo.scss */
    td div {
      /* padding-left: 50%; */ /* Tom Nolane */
    }
  }