#askQuestion{
  z-index: 999999;
  .modal-dialog{
    margin: 110px auto;
    .modal-content{
      background-color: #fbfbfb;
      box-shadow: none;
      border: none;
      @include prefix(border-radius, 5px);
      .modal-body{
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        background-color: #f7f7f7;
        padding: 45px 40px 30px;
        h2{
          text-align: center;
          font-size: 30px;
          font-weight: 400;
          line-height: 32px;
          margin-top: 0;
          margin-bottom: 28px;
          @media (max-width: 767px) {
            font-size: 16px;
            line-height: 22px;
          }
        }
        .form-group{
          margin-bottom: 20px;
        }
        input{
          padding: 15px 30px;
          color: #262626;
          height: 60px;
          font-size: 16px;
          font-weight: 400;
          background-color: #f4f4f4;
          border: 1px solid #c8cfce;
          @include prefix(border-radius, 100px);
          &:focus{
            background-color: #fff;
            border: 1px solid #88e2ea;
            box-shadow: none;
            outline: none;
          }
          @include placeholder{
            color: #c0c0c0;
            font-size: 14px;
            font-weight: 400;
          }
        }
        textarea{
          @extend input;
          @include prefix(border-radius, 35px);
          width: 100%;
          min-height: 200px;
          height: initial;
          resize: none;
        }
        @media (max-width: 767px) {
          padding: 45px 15px 30px;
        }
      }
    }
    @media (max-width: 414px) {
      padding: 0 15px;
    }
  }
}