body {
  font-family: $opensans !important;
  font-weight: 400 !important;
  position: relative;
  width: 100%;
  color: #30323e!important;
  float: left;
  min-height: 100vh;
  padding-right: 0 !important;
}

.ex-main-btn {
  width: 100%;
  padding: 27px 5px 26px 5px;
  border: none;
  outline: none;
  background-color: #7fc4f5;
  color: #ffffff;
  cursor: pointer;
  font-family: $opensans;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include prefix(border-radius, 5px);
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ex-adds {
  height: 220px;
  background-color: #edeeef;
}

.ex-sticky {
  position: relative;
  width: 100%;
  float: left;
  padding-bottom: 250px;
  min-height: 100vh;
  .ex-sticky-footer {
    position: absolute;
    width: 100%;
    min-height: 133px;
    bottom: 0;
    left: 0;
  }
}
.ex-agreement-check {
  label {
    margin-top: 25px !important;
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    padding-top: 3px !important;
    color: #333333;
    font-size: 14px;
    &:hover input ~ i {
      background: #f8f8f8;
    }
    &:focus input ~ i {
      background: #f8f8f8;
    }
    span {
      display: inline-block;
      margin-left: 15px;
      margin-top: 2px;
      color: #333333;
      font-size: 14px;
      font-weight: 700;
    }
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      left: 0;
      margin-left: 0 !important;
      &:checked ~ i {
        background: transparent;
        &:after {
          display: block;
        }
      }

    }
    i {
      display: inline-block;
      position: absolute;
      top: 7px;
      left: 0;
      height: 24px;
      width: 24px;
      border: 1px solid #5d4889;
      background-color: #ffffff;
      @include prefix(border-radius, 5px);
      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 8px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid #5d4889;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        @include prefix(border-radius, 4px);
      }
    }
  }
}

.ex-email {
  .ex-email-wraper{
    padding: 25px 39px 25px 47px;
    background-color: rgba(#f7f7f7,0.7);
    margin-bottom: 20px;
    label {
      padding-top: 6px;
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
    .ex-email-place{
      padding-right: 42px;
      padding-left: 38px;
      input {
        height: 48px;
        width: 100%;
        padding: 15px 22px;
        border-radius: 5px;
        border: 1px solid rgba(51, 51, 51, 0.18);
        background-color: #f7f7f7;
        &:focus {
          outline: none;
        }
      }
      @mixin placeholder {
        &::-webkit-input-placeholder {
          color: #333333;
          font-size: 14px;
          font-weight: 400;}
        &:-moz-placeholder           {
          color: #333333;
          font-size: 14px;
          font-weight: 400;}
        &::-moz-placeholder          {
          color: #333333;
          font-size: 14px;
          font-weight: 400;
        }
        &:-ms-input-placeholder      {
          color: #333333;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .ex-main-btn {
      padding-top: 14px;
      padding-bottom: 14px;
      background-color: #171d44;
      font-size: 14px;
      font-weight: 700;
    }
    @media (max-width: 1199px) and (min-width: 992px){
      label {
        font-size: 18px;
      }
    }

    @media (max-width: 991px) {
      padding:20px 10px;
      label {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .ex-email-place {
        padding: 0;
        margin-bottom: 10px;
      }

    }
  }
  .ex-int {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
    text-align: center;
  }

}

.ex-dn {
  display: none !important;
}

.ex-transparent {
  background-color: transparent !important;
}



