.ex-doc {
  padding-top: 62px;
  padding-bottom: 64px;
  .nav-tabs {
    li {
      margin-right: 10px;
      text-align: center;
      width: 400px;
      &:first-child {
        width: 270px;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 3px 68px;
        cursor: pointer;
        color: #2d3e4f;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        -moz-border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        background-color: #ecf0f1;
        margin-right: 0;
        white-space: nowrap;
      }
      &.active {
        a {
          padding: 3px 50px !important;
          background-color: #2f81b7;
          color: #ffffff;
        }
      }
      @media (max-width: 1200px) {
        width: 325px;
        a {
          padding: 3px 20px;
          font-size: 16px;
        }
        &.active {
          a {
            padding: 3px 20px;
            font-size: 20px;
          }
        }
      }
      @media (max-width: 991px) {
        width: 100%!important;
        margin-bottom: 2px;
        margin-right: 0;
        a {
          padding: 0;
          border-radius: 0;
        }
      }
    }
    @media (max-width: 1200px) {
      border: none;
    }
  }
  .tab-pane {
    padding-top: 69px;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
    }
    ul {
      padding-left: 20px;
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.3px;
      }
    }
    .ex-main-btn {
      margin-top: 56px;
    }
    @media (max-width: 991px) {
      padding-top: 30px;
    }
  }

}
