@font-face {
  font-family: 'HelveticaRegular';
  src: url('../fonts/HelveticaRegular.eot');
  src: url('../fonts/HelveticaRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaRegular.woff') format('woff'),
  url('../fonts/HelveticaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

