//Colors
$mainBg: #f9fafc;
$white: #ffffff;
$black: #000000;
$slider: #268ffb;
$mainBtn: #358ed7;
$mainHeader: #268ffb;
$stars: #358ed7;
$mainFooter: #34495e;
$font: #34495e;
$linkPassive: #cdcdcd;
$footerTexts: #cbcccd;
$accordionBorder: #dddddd;
$accordionBg: #f8f4f4;
$modalBg: #f9fafc;
$indicatorBlue: #55acee;
$indicatorPassive: #7c8495;
$label: #858585;
$error: #f54b5e;

//Fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

//Mobile
$mobHeader: #72b6fc;
$mobFont: #242424;
$mobFooter: #38597b;
$mobAsideMenu: #38597b;
$mobPlaceholder: #7c8495;
$mobBlink: #38597b;