.form-control.ec.tip.suggestions-input.error::placeholder{color:#f54b5e;}
.form-control.ec.tip.suggestions-input.error::-moz-placeholder{color:#f54b5e;}
.form-control.ec.tip.suggestions-input.error::-webkit-input-placeholder{color:#f54b5e;}
.form-control.ec.tip.hasDatepicker.error::placeholder{color:#f54b5e;}
.form-control.ec.tip.hasDatepicker.error::-moz-placeholder{color:#f54b5e;}
.form-control.ec.tip.hasDatepicker.error::-webkit-input-placeholder{color:#f54b5e;}
.form-control.ec.tip.error::placeholder{color:#f54b5e;}
.form-control.ec.tip.error::-moz-placeholder{color:#f54b5e;}
.form-control.ec.tip.error::-webkit-input-placeholder{color:#f54b5e;}
.hov:hover{color:black !important;}
.hov{font-size:14px !important;font-weight:700 !important;}
input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}
.help-block2 {
    display: none;
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: 0.8em;
    float: left;
    color: red !important;
}  
.help-block {
    display: none !important;
}