body{
    color:#444444;
}
h1{
    color:#444444;
    font-size:34px;
    /*font-weight:bold;*/
    font-family:'latobold', 'Lato', sans-serif;
    line-height:36px;
    margin:50px 0 60px;
    text-align:center;
}

a, a:hover, a:visited{
    color:#444444;
    text-decoration:underline;
}

label{
    color:#80909c;
    font-size:20px;
}

input[type="radio"], input[type="checkbox"] {
    block-size:20px;
    line-size:20px;
}

.label-required::after {
    color:#80909c;
    content:" *";
    /*font-weight:bold;*/
    font-family:'latobold', 'Lato', sans-serif;
}

.form-control{
    font-size:20px;
    margin:2px 0;
}

.form-steps-line, .form-steps-green-line{
    position:relative;
}
.form-steps-line::before, .form-steps-green-line::before {
    bottom:0;
    background-color:#aeaeae;
    content:" ";
    height:3px;
    position:absolute;
    top:19px;
    width:100%;
    z-order:0;
}
.form-steps-green-line::before {
    background-color:#629fd1;
    width:33%;
}
.form-steps-green-line.step2::before {
    width:50%;
}
.form-steps-green-line.step3::before {
    width:66%;
}
.steps{
    margin:30px 0;
}
.btn-circle, .btn-circle:active, .btn-circle:focus, .btn-circle:hover {
    border:none;
    border-radius:50%;
    font-size:19px;
    height:40px;
    line-height:28px;
    padding: 6px 0;
    text-align: center;
    width:40px;
}
.btn-circle.off {
    background-color:#AEAEAE;
}


.secure{
    margin-bottom:50px;
    text-align:center;
}
.secure-body{
    display:inline-block;
    margin:0 auto;
    width:380px;
}
.secure-item:first-child{
    margin-right:10px;
}
.secure-item{
    display:inline-block;
    float:left;
}
.secure img{
    margin-top:8px;
}
.secure span{
    color:#aeaeae;
    font-size:22px;
    /*font-weight:bold;*/
    font-family:'latobold', 'Lato', sans-serif;
    margin:0 auto;
    text-align:center;
}
.secure > span{
    line-height:48px;
}
.secure > span > span{
    text-transform:uppercase;
}


.btn-next, .btn-ok{
    font-size:18px;
    text-decoration:none;
    width:180px;
}
.btn-ok{
    margin:0 auto;
    width:490px;
}


.triggers{
    margin:50px 0 65px;
}
.triggers .row div{
    text-align:center;
}
.triggers img{
    height:70px;
    margin:0 auto 10px;
}
.triggers p{
    color:#aeaeae;
    font-size:16px;
}
.btn-default {
    color: #ссс !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}


@media screen and (max-width:768px) {
    .btn-ok {
        width:100%;
    }
}

@media screen and (max-width:420px) {
    h1 {
        font-size:26px;
        line-height:28px;
    }
    .secure-body {
        width:245px;
    }
    .secure img {
        margin-top:4px;
        width:24px;
    }
    .secure span {
        font-size:14px;
    }
    .btn-ok {
        font-size:20px;
    }
}
