body{
	background:#ffffff;
	color:#3c434d;
	font-size:20px;
}

h1{
	font-size:25px;
	/*font-weight:400;*/
	font-family:'latoregular', 'Lato', sans-serif;
	margin:20px 0 25px;
	text-align:left;
}

h3{
	font-size:30px;
	margin:0 0 25px;
}

label{
	color:#80909c;
	font-size:18px;
	/*font-weight:600;*/
	font-family:'latosemibold', 'Lato', sans-serif;
	line-height:18px;
	margin-bottom:15px;
}
label.checkbox{
	/*font-weight:400;*/
	font-family:'latoregular', 'Lato', sans-serif;
	margin-left:6px;
}

table{
	margin:20px 0 40px;
}
.table > thead > tr > th{
	font-size:18px;
	/*font-weight:600;*/
	font-family:'latosemibold', 'Lato', sans-serif;
	text-align:center;
	vertical-align:top;
}
.table > tbody > tr > td{
	color:#aeaeae;
	font-size:17px;
	text-align:center;
	vertical-align:middle;
}

td img{
	height:50px;
}

input[type="checkbox"] {
    margin-right:5px;
}

.table > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}

/*
input[type="radio"], input[type="checkbox"] {
    block-size:20px;
    line-size:20px;
}

.form-control{
    border-color:#636363;
	border-radius:10px;
    font-size:20px;
    height:40px;
	padding-left:25px;
}
*/
.navbar{
	margin-bottom:30px;
}

.btn{
	border-radius:10px;
}


.small-card{
	color:#444444;
	margin:10px 0 15px;
	overflow:hidden;
}
.small-card strong{
	clear:both;
	color:#629fd1;
	font-size:23px;
	text-align:left;
	text-transform:capitalize;
}
.small-card img{
	clear:both;
	float:none;
	margin:0 0 30px 0;
	max-height:190px;
	max-width:190px;
}
.small-card .form-label-1{
	color:#444444;
	font-size:14px;
	/*font-weight:400;*/
	font-family:'latoregular', 'Lato', sans-serif;
	line-height:20px;
}
.small-card .form-label-2{
	color:#71c386;
	font-size:20px;
	/*font-weight:700;*/
	font-family:'latobold', 'Lato', sans-serif;
	line-height:20px;
}
.irs{height:20px;}
.irs-slider{top:0;}
.irs-bar-edge, .irs-bar, .irs-line{top:8px;}

.label-success{
	background-color:#9bd154;
}
.irs-single, .irs-max, .irs-min{
	display:none;
}
.buffer{
    height: 0;
    margin: -27px;
}
footer{
	margin-top:45px;
}

@media screen and (max-width:1170px) {
    .contacts-item {
        height: 450px;
    }
    label.checkbox {
        font-size:16px;
    }
}

@media screen and (max-width:468px) {
	.col-xxs-6{width:50%;}
}