html, body{height:100%;margin:0;padding:0;}
body{background-color:#f3f8fd;color:#80909c;font-size:18px;font-family:'Myriad Pro';font-weight:400;}
.amm{}
.am{border:2px double #ccc;padding:5px;color:#333;border-radius:5px;background:#fff;left:15px;width:62.8%;}
.page{margin-bottom:0px;min-height:100%;}
.buffer{height:65px;}
h1, h2{color:#3c434d;font-family:'Myriad Pro';font-weight:800;text-align:center;}
h5{color:#414042;text-transform:uppercase;padding:15px;}
a, a:hover, a:visited, a:focus{outline:none;text-decoration:none;}
.doc h2, .doc h3{font-size:16px;}
.doc p{font-size:14px;}
.help-block{margin-top:5px;margin-bottom:0px;font-size:14px;}
.help-lang{margin-top:20px;}
p.text-indent{text-align:justify;text-indent:35px;}
.sliders{background-color:white;color:black;padding:10px 0px 0px 10px;border-radius:10px;border:2px double #000;}
.controls{text-transform:uppercase;}
.extra-controls{background-color:white;color:black;padding:0px;border-radius:10px;border:2px double #000;}
.summary{background-color:white;padding:0px;border-radius:10px;border:1px double #000;text-align:center;}
.summary div, .summary .hidden-xs{font-size:11px;}
.summary span{font-size:22px;}
.form-control{border-width:2px;font-size:20px;height:44px;}
.middle-cover{display:table;}
.middle{display:table-cell;vertical-align:middle;}
.blog-box-image img{max-width:140px;padding:20px 0;}
.btn, .btn:active, .btn.focus, .btn:focus, .btn:hover{font-family:'Myriad Pro';font-weight:600;background-color:#7acaf6;border-color:#7acaf6;border-width:2px;color:#ffffff;font-size:20px;width:100%;border-radius: 20px;height:60px;padding:14px;margin:10px;text-decoration:none;}
.blue{background:#629fd1;color:#ffffff;}
.blue h1, .blue h2{color:#ffffff;}
.blue .btn, .blue .btn:active, .blue .btn.focus, .blue .btn:focus, .blue .btn:hover{background-color:#629fd1;border-color:#ffffff;border-width:2px;}
.white h2{color:#444444;font-size:45px;padding:35px 0;}
.white h3{color:#444444;font-size:20px;font-weight:800;}
.a4{background:#ffffff;padding:86px;}
.navbar{background:#7acaf6;border:none;border-radius:0;color:#80909c;height:90px;margin:0;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin-left:0;background-color:#7acaf6;}
.navbar img{height:100%;max-height:73px;max-width:231px;min-height:25px;}
.navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:visited{background-color:#7acaf6;color:#ffffff;font-size:17px;font-family:'Myriad Pro';font-weight:700;line-height:60px;text-decoration:none;text-transform:uppercase;border:1px solid #7acaf6;padding:0px 15px;margin:15px 0px;}
.navbar-nav > li > a:hover{border-bottom:1px solid #fff;}
.navbar-header{background:#f3f8fd;border:none;border-radius:0;color:#444444;}
.navbar-brand{float:left;height:100%;max-height:58px;padding:10px 0;}
.navbar .navbar-nav{display:inline-block;float:none;vertical-align:top;}
.navbar .navbar-collapse{text-align:center;}
.navbar-btn{margin:20px 0;}
.navbar-btn strong{color:#fff;float:left;font-size:18px;font-family:'Myriad Pro';font-weight:600;margin-left:0px;text-align:left;text-transform:uppercase;}
.navbar-btn img{float:left;max-height:48px;}
.navbar-btn .ico{float:left;font-size:40px;margin-right:7px;}
.navbar-btn .text{font-size:20px;line-height:22px;}
.navbar-toggle{float:right;font-size:31px;margin:0;}
.irs{height:44px;margin:7px 0;width:100%;}
.irs-from, .irs-to, .irs-single{background:none;color:#fff;display:block;}
.irs-line, .irs-bar, .irs-bar-edge{height:10px;top:20px;}
.irs-line{background:#444444;border:none;border-radius:16px;}
.irs-slider{background:#7acaf6;background:linear-gradient(to top, #188fcc, #7acaf6);border:none;box-shadow:1px 4px 3px rgba(0, 0, 0, 0.4);cursor:pointer;height:35px;top:5px;width:35px;border-radius:25px;}
.irs-min, .irs-max{background:none;color:#444444;font-size:12px;font-family:'Myriad Pro';font-weight:600;top:30px;}
.irs-bar-edge{width:22px;}
.current_amount_color.orange{color:#ffd25b;}
.current_amount_color.green{color:#9bd154;}
.current_amount_color.red{color:#db0100;}
.orange .irs-single{background:#ffd25b;}
.green .irs-single{background:#7acaf6;border-radius:25px;top:-35px;padding:1px 20px;font-size:24px;}
.red .irs-single{background:#db0100;}
.orange .irs-bar, .orange .irs-bar-edge, .orange .irs-single{background:#ffd25b;}
.green .irs-bar, .green .irs-bar-edge{background:#7acaf6;}
.red .irs-bar, .red .irs-bar-edge{background:#db0100;}
.calc{background:url(/templates/vkredito/img/bg.png) center top no-repeat;background-size:contain;height:600px;}
.calc h1{color:#444444;font-size:65px;font-family:'Myriad Pro';font-weight:800;line-height:48px;margin:135px 0 36px;}
.calc h2{color:#ffffff;font-size:24px;font-family:'Myriad Pro';font-weight:400;text-align:left;}
.form-label-1{color:#3c434d;font-size:26px;line-height:58px;text-align:left;}
.form-label-2{color:#7ACAF6;line-height:30px;padding:5px;margin:5px 0 !important;}
.form-label-3{color:#3c434d;font-size:36px;line-height:58px;text-align:right;}
.calc .irs{margin:30px 0;}
.calc .btn{margin-top:26px;}
.algo{font-size:10px;padding:30px 0;}
.algo h2{font-size:18px;line-height:18px;margin:0 0 20px;}
.algo-item{}
.algo-item img{margin-top:8px;height:100px;}
.bullets{padding:44px 0 0;}
.slider{height:450px;}
.slider h2{margin:80px 0 0 0;}
.slider .carousel{height:450px;}
.slider .carousel-indicators{bottom:78px;}
.slider .carousel-control{background:none;}
.slider .carousel .sub{margin-top:20px;}
#slide-0 h2{margin-bottom:60px;}
#slide-1 img{margin:18px 0 20px;}
#slide-2 img{margin:70px 0 48px;}
#slide-3 img{margin:55px 0 45px;}
.carousel-super{cursor:pointer;height:120px;padding-bottom:44px;}
.carousel-super.active{border-bottom:4px solid #619FD2;}
.howto, .review, .advantage{padding:10px 0;}
.howto p{margin:55px 0 50px;font-size:18px;text-transform:uppercase;}
.inner{display:block;margin-top:70px;border-bottom:2px dotted #000;}
.advantage p{color:#444444;font-size:20px;}
.about{padding:50px 0;}
.about p{font-size:18px;text-align:justify;text-indent:2em;}
.about .irs{margin:7px 0;width:100%;}
.page-about{font-size:24px;}
.page-about h1{color:#3c434c;margin-bottom:50px;}
.about-steps img{margin-top:21px;max-width:54px;width:100%;}
.about-item{border:2px solid #dbe4eb;border-radius:50%;height:100px;margin:10px auto;width:100px;}
.internal h1{color:#3c434d;}
.panel-default > .panel-heading{background-color:#ffffff;border:none;color:#3c434d;}
.panel-heading img{height:30px;padding:0px 10px 0px 0px;}
h4.panel-title a{color:#75a6ce;font-size:20px;font-family:'Myriad Pro';font-weight:700;}
h4.panel-title a.collapsed{color:#7acaf6;}
.panel-body{padding:30px 95px;}
.panel{border:0px solid transparent;}
.page h1{margin:30px 0 30px;}
.contacts{padding:80px 0 65px;text-align:center;}
.contacts strong{color:#3c434d;font-size:48px;line-height:48px;}
.contacts strong span{font-size:36px;line-height:36px;}
.contacts-text{margin-bottom:72px;text-align:center;}
.contacts-item{border:1px solid #e7eef3;height:450px;margin-bottom:25px;text-align:center;}
.contacts-head{border-bottom:1px solid #e7eef3;height:120px;}
.contacts-head img{max-height:50px;margin-top:35px;}
.contacts-body{padding:45px 40px;}
.contacts-body span{color:#629fd1;}
#hey{background:rgba(255,255,255,0.78);bottom:10px;left:5px;height:170px;position:fixed;width:235px;z-index:10000;}#hey p{background:rgba(98,159,209,0.78);color:#ddeaf5;font-size:18px;line-height:47px;margin-bottom:8px;text-align:center;text-transform:uppercase;}
#hey .close{color:#ffffff;font-size:13px;font-weight:400;margin:2px;}
#hey img{margin:10px;margin-top:2px;}
#hey div p{background:transparent;color:#3b434d;font-size:14px;line-height:25px;text-transform:none;}
#hey div p span{font-size:20px;font-weight:700;}
#hey .btn{font-size:13px;height:38px;padding:9px 14px;text-transform:uppercase;}
footer{background:#7acaf6;color:#ffffff;padding-top:25px;}
footer .logo{margin:3px 0;max-width:259px;min-width:110px;width:100%;}
footer a, footer a:hover, footer a:visited{color:#ffffff;text-decoration:none;}
footer .menu-header a{font-size:15px;font-family:'Myriad Pro';font-weight:600;line-height:25px;}
footer .menu a{font-size:14px;font-family:'Myriad Pro';font-weight:400;line-height:25px;}
.dadata{}
.nav-tabs{text-align:center;border-bottom:1px solid #f3f8fd;padding:0px 0 40px 0px;}
.nav-tabs > li, .nav-pills > li{float:none;display:inline-block;border-bottom:1px solid #f3f8fd;margin:0px -2px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:2px solid #f3f8fd;border-bottom-color:#629fd1;color:#629fd1;background-color:#f3f8fd;}
.icon-text{padding:50px 0;}
.panel-group .panel{margin-bottom:-4px;}
.panel-title{padding:10px 80px;}
#circle{position:relative;background:#7acaf6;width:28px;height:28px;border-radius:50%;font-size:21px;}
#circle::before{content:"+";color:white;position:absolute;left:8px;top:2px;}
.navbar-collapse.in{overflow-y:inherit;}
.lk-tbody{border-bottom:1px solid #ddd;}
.offer-lk{border:1px solid #000;margin:15px 10px;width:47%;}
.offer-lk:hover{border:1px solid #7acaf6;box-shadow:0 0 10px #7acaf6;}
.offer-lk:hover img{filter:none;}
.offer-lk:hover big{color:#7acaf6;}
.offer-lk:hover .btn-lk{background-color:#65c0f2;}
.offer-lk:hover .close-ribbon{display:block;}
.for_img{margin-top:22px;}
.img_footer{background:url("/templates/vkredito/img/lk-bg.png") repeat-x;background-size:34% 100%;height:200px;margin:0 -15px;}
.offer-lk div{padding:5px 0;margin:0px -1px;}
.offer-lk big{font-size:35px;font-weight:800;color:#000;}
.offer-lk img{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray;}
.pixel{background-color:white;color:black;border:1px solid #000;padding:10px;margin:10px 35px;}
.pixel a, .pixel a:hover, .pixel a:active, .pixel a:visited{color:black;}
.pixel img{height:50px;}
.pixel .btn{margin:0px;}
.pixel small{font-size:13px;}
.close-ribbon{display:none;position:absolute;top:0;right:1em;z-index:1;color:#eee;font-size:2em;cursor:pointer;width:1.5em;line-height:0.5em;-webkit-transition:line-height 0.5s;transition:line-height 0.5s;}
.close-ribbon:after{content:"";font-size:0.5em;position:absolute;height:4.2em;border:1.5em solid #73d0b3;z-index:-1;top:-1em;border-top-width:1.5em;border-bottom-color:transparent;right:-35px;-webkit-transition:height 0.5s;transition:height 0.5s;}
.close-ribbon:before{content:"";font-size:0.5em;position:absolute;border-style:solid;border-color:transparent transparent #3F9E80 transparent;top:-1em;right:19px;border-width:0 0 1em 0.7em;z-index:-1;}
.ribbon-prob{font-size:18px;position:inherit;right:-30px;}
.lk-trigger{background-color:#fff;border-radius:10px;margin:20px 0;padding:10px 5px;}
.btn-default{color: #cccccc !important; background-color: #ffffff !important;border-color: #ccc !important;}
.arrow-down p{color:#8e8e8e;}
@media screen and (max-width:1200px){.contacts-item{height:450px;}
.howto #video{max-width:402px;}
.btn-lk, .btn-lk:hover{font-size:15px;width:150px;height:53px;}
.offers-img{max-width:170px;}
}
@media screen and (max-width:992px){.howto #video{max-width:258px;}
.contacts-item{height:340px;}
.navbar, .navbar-header, .navbar-brand, .navbar-btn{height:58px;}
.navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:visited{font-size:15px;line-height:28px;}
.navbar-btn-small{float:right;margin:0;padding:8px 0px;}
.navbar-brand{padding:7px 0;}
.offer-lk{width:90%;}
.offer-lk img{-webkit-filter:none;-moz-filter:none;-ms-filter:none;-o-filter:none;filter:none;filter:none;}
.page h1{margin:5px 0 5px;font-size:26px;}
}
@media screen and (max-width:768px){.navbar, .navbar-header, .navbar-brand, .navbar-btn{height:58px;background:#7acaf6;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{padding:8px 0;}
.navbar-btn{border-radius:10px;margin:0;padding:8px 15px;}
.navbar img{height:100%;margin-left:15px;max-height:73px;max-width:231px;}
.navbar .navbar-collapse{background:#efefef;position:relative;z-index:10;}
.navbar-nav > li > a{line-height:28px;}
.navbar-brand{padding:12px 0;}
.calc{background-size:cover;}
.calc h1{font-size:25px;line-height:25px;margin-top:25px;margin-bottom:40px;text-align:center;}
.white h2{font-size:25px;padding:15px 0;}
.white h3{font-size:12px;}
.advantage p{font-size:12px;}
.calc .irs-line, .calc .irs-bar, .calc .irs-bar-edge{height:5px;top:21px;}
.irs-single{border-radius:24px;display:block;font-size:14px;padding:3px 30px;top:42px;}
.calc .irs-slider{height:25px;top:11px;width:25px;}
.btn, .btn:active, .btn.focus, .btn:focus, .btn:hover{font-size:13.5px;font-family:'Myriad Pro';font-weight:600;height:45px;padding:11px;}
.form-label-2{margin:10px;line-height:15px;height:65px;}
.summary span{font-size:14px;}
.green .irs-single{padding:5px;font-size:18px;}
.am{width:100%;}
.offer-lk{margin:20px 10px;}
.offer-lk div{padding:2p 0;}
}
@media screen and (max-width:580px){.contacts-item{height:535px;}
.panel-body{padding:5px;}
footer .social{width:30px;}
.icon-text img{height:50px;}
.nav-tabs > li > a{font-size:12px;padding:5px 5px;}
.am{width:94.6%;}
}
@media screen and (max-width:320px){.am{width:89.6%;}
}
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
  }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  .cd-top {
    z-index: 16;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(/templates/vkredito/img/cd-top-arrow.png) center 50% no-repeat #7acaf6;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }
  .er:-moz-placeholder {
    color: #ff0000;
    font-size: 0.8em;
}

.er::-moz-placeholder {
    color: #ff0000;
    font-size: 0.8em;
}

.er::placeholder {
    color: #ff0000;
    font-size: 0.8em;
}

.er:-ms-input-placeholder {
    color: #ff0000;
    font-size: 0.8em;
}

.er::-webkit-input-placeholder {
    color: #ff0000;
    font-size: 0.8em;
}

.label_er {
color: #b94a48 !important;
}
.label_true {
color: #3c763d !important;
}
#ya-rtb {
  text-align: center !important;
  min-width: 100% !important; 
}
input#i , input#o, input#f, input#feedback-name {
  text-transform: capitalize !important;
}