@font-face {
  font-family: 'Akrobat-Regular';
  src: url('../fonts/Akrobat-Regular.eot');
  src: url('../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Regular.woff') format('woff'),
  url('../fonts/Akrobat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

