/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,800,500|Lato:400,300,700&subset=latin,cyrillic-ext,cyrillic); */

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color:#efefef;
    color:#444444;
    font-family:'Open Sans', sans-serif;
}

h1, h2{
    color:#444444;
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    text-align:center;
}

a, a:hover, a:visited, a:focus{
    /*color:#ffffff;*/
    outline:none;
    text-decoration:none;
}
.middle-cover{
    display:table;
}
.middle{
    display:table-cell;
    vertical-align:middle;
}
.tab{
    padding: 0px 100px;
}
.table > tbody > tr > td{
    padding: 5px;
}
.btn{
    background-color:#71c386;
    border-radius:8px;
    color:#ffffff;
    font-family:'Open Sans', sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height:14px;
    padding:15px;
    text-transform:uppercase;
}
.btn.focus, .btn:focus, .btn:hover{
    color:#ffffff;
}

.btn-get{
    width:256px;
}

.navbar{
    background:#efefef;
    border:none;
    border-radius:0;
    color:#444444;
    height:90px;
    margin:0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left:0;
}
.navbar img{
    height:100%;
    max-height:73px;
    max-width:231px;
    /* margin-left: 10px; */
}
.navbar-nav > li > a{
    color:#444444;
    font-size:16px;
    font-weight:bold;
    line-height:60px;
    text-decoration:none;
    text-transform:uppercase;
}
.navbar-header{
    background:#efefef;
    border:none;
    border-radius:0;
    color:#444444;
    height:100%;
}
.navbar-brand {
    float: left;
    /*font-size: 18px;*/
    height:100%;
    /*line-height:85px;*/
    max-height:90px;
    padding:8px 0;
}
.navbar .navbar-nav {
  display: inline;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
    text-align:center;
}
.navbar-btn{
    border-radius:10px;
    margin:12px 0;
    padding:8px 15px;
}
.navbar-btn strong{
    color:#444444;
    float:right;
    font-size:12px;
    line-height:24px;
    margin-right:10px;
    text-align:right;
}
.navbar-btn img{
    float:right;
    max-height:48px;
}
.navbar-btn .ico{
    float:left;
    font-size:40px;
    margin-right:7px;
}
.navbar-btn .text{
    font-size:20px;
    line-height:22px;
}
.navbar-toggle {
    float:left;
    margin-top:18px;
}


#bank {
    display:none;
    margin-left: -207px;
    margin-top: -272px;
}

.calc{
    background:url(/templates/rublimo/img/atmo.png) center bottom no-repeat; /* Tom Nolane /templates/rublimo */
    height:752px; /* Tom Nolane 585px */
}
.calc h1{
    color:#333;
    font-size:30px;
    line-height:60px;
    margin:15px 0 30px -35px;
    text-transform:uppercase;
} 
.calc h2{
    color:#ffffff;
    font-size:19px;
    margin:20px 0 10px;
    text-transform:uppercase;
}
.calc .form{
    color:#ffffff;
    left:50%;
    margin-left:-187px;
    position:absolute;
    width:340px;
}
.calc .form .form-label-1{
    font-size:21px;
}
.calc .form .form-label-2{
    font-size:30px;
    line-height:30px;
}
.calc .form .form-label-3{
    background:none;
    color:#ffffff;
    font-family:'Raleway', sans-serif;
    font-size:12px;
    font-weight:500;
}

.proc-label{
    font-weight: bold;
    margin-bottom: -5px;
    margin-top: -5px;
}

.calc .form .shadow{
    margin:17px auto;
    width:220px;
}
.calc .form .shadow .btn{
    width:100%;
}
.calc .irs{
    height:22px;
}
.calc .irs-from, .calc .irs-to, .calc .irs-single {
    background:none;
    color:#fff;
    display:none;
}
.calc .irs-line, .calc .irs-bar, .calc .irs-bar-edge {
    height:6px;
    top:8px;
}
.irs-bar-edge {
    width: 15px;
}
.calc .irs-line {
    background:#ffffff;
    border:1px solid #b9c9d3;
    border-radius: 16px;
}
.calc .irs-slider {
    border-radius:50%;
    box-shadow:1px 4px 3px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    height:30px;
    top:-5px;
    width:30px;
}
.calc .irs-min, .calc .irs-max {
    background:none;
    color:#ffffff;
    display:none;
    font-family:'Raleway', sans-serif;
    font-size:12px;
    font-weight:500;
}
.current_amount_color.orange{color:#ffd25b;}
.current_amount_color.green{color:#71c386;}
.current_amount_color.red{color:#dc6561;}
.orange .irs-single{background:#ffd25b;}
.green .irs-single{background:#71c386;}
.red .irs-single{background:#dc6561;}
.orange .irs-bar, .orange .irs-bar-edge, .orange .irs-slider, .orange .irs-single{
    background:#ffd25b;
    border-color:#dacd9b;
}
.green .irs-bar, .green .irs-bar-edge, .green .irs-slider{
    background:#0db738;
    border-color:#82c995;
}
.red .irs-bar, .red .irs-bar-edge, .red .irs-slider{
    background:#dc6561;
    border-color:#ffcccc;
}
.orange .irs-slider, .green .irs-slider, .red .irs-slider {border-color:#f8f8f8;}
/* Form button */
.calc .form .form-button{
    background:#71c386;
    border-radius:8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin:12px auto 14px;
    padding:3px 9px;
    width:100%;
    height: 40px;
}
.inf0{
    padding: 5px 0;
}
.calc .form .form-info {
    color: #333;
    background: #e5edf5;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin: 0px auto 5px;
    padding: 5px 10px;
    width: 100%;
    height: 35px;
}
.form-info-title{
    float: left;
    font-size: 10px;
}
.form-info-data{
    float: right;   
    font-size: 16px;
}

.calc .form .form-button.green{background-color:#71c386;}
.calc .form .form-button.orange{background-color:#ffd25b;}
.calc .form .form-button.red{background-color:#dc6561;}

.calc .form .form-button .probability{
    float:left;
    font-size:10px;
    font-weight:bold;
    line-height:10px;
    margin:6px;
}
.calc .form .form-button .rate{
    float:left;
    font-size:23px;
    line-height:23px;
    margin:4px 0 4px 5px;
}
.calc .form .form-button .line{
    float:left;
    font-size:27px;
    line-height:27px;
    margin-left:5px;
}
.calc .form .form-button .ok{
    float:right;
    font-size:14px;
    font-weight:bold;
    line-height:14px;
    margin:10px 5px 8px;
}
.calc .form img{
    margin-top:0px;
}


#getmoney{
    color:#ffffff;
    font-size:25px;
    line-height:28px;
}


.howto .shadow{
    position:absolute;
    left:50%;
    margin-left:-132px;
    margin-top:-60px;
    width:259px;
}


.howto-header{
    height:120px;
}
.howto-header {
    background:#ffd25b;
    color:#ffffff;
    font-size:18px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    line-height:120px;
    margin:0 auto;
    text-transform:uppercase;
}
.howto-body{
    background:#efefef;
    padding:60px 0 30px;
}
.howto-body img{
    width:100%;
}


.howto-xs{
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
}
.howto-xs span{
    line-height:54px;
}
.howto-xs > div{
    height:75px;
    margin:auto;
}
.howto-xs .middle-cover{
    margin:0 auto;
    height:75px;
    width:230px;
}
.howto-1{
    background:#f16100;
}
.howto-2{
    background:#7b99ac;
}
.howto-3{
    background:#ff002d;
}
.howto-4 .middle-cover{
    padding-top:12px;
}


.rating{
    background:#ffd25b url(/templates/rublimo/img/rating-bg.png) top center repeat-y;
    height:555px;
}
.rating h2{
    color:#ffffff;
    font-size:32px;
    line-height:32px;
    margin:100px 0 20px;
}
.rating p{
    color:#444444;
    font-size:20px;
    margin-bottom:20px;
}
.rating .btn{
    width:340px;
}


.reviews{
    background:#efefef url(/templates/rublimo/img/reviews-bg.png) bottom center repeat-x;
    height:790px;
}
.reviews .pattern{
    background:url(/templates/rublimo/img/reviews-pattern.png) bottom center repeat-x;
    height:790px;
    padding-bottom:145px;
}
.reviews h3{
    color:#444444;
    font-size:43px;
    margin: 50px 0 60px;
    text-align:center;
    text-transform:uppercase;
}
.reviews .carousel{
    height:390px;
}
.reviews .carousel-img{
    border-radius:50%;
    margin:0 auto;
}
.reviews .carousel-caption{
    margin:0 auto;
    position:relative;
    text-shadow:none;
}
.reviews p{
    color:#444444;
    font-size:18px;
}
.reviews h3{
    color:#3c434d;
    font-family:'Lato', sans-serif;
    font-size:20px;
    font-weight:700;
}
.reviews .carousel-indicators{
    bottom:0;
    margin-bottom:0;
}
.reviews .carousel-indicators li {
    background-color:#bac6cc;
    border:none;
    border-radius:13px;
    margin:8px;
    height:13px;
    width:13px;
}
.reviews .carousel-indicators .active {
    background-color:#bac6cc;
    border:2px solid #629fd1;
    margin:7px;
    height:14px;
    width:14px;
}
.reviews .carousel-control{
    background:none;
}
.reviews .carousel-control span.glyphicon{
    border:2px solid #dee4ea;
    border-radius:50%;
    height:50px;
    width:50px;
}
.reviews .carousel-inner > .active{
    text-align:center;
}
.reviews .shadow{
    position:absolute;
    left:50%;
    margin-left:-132px;
    width:259px;
}


.btn-menu, .btn-menu:hover, .btn-menu:visited, .btn-menu:focus{
	background-color:#ffffff;
	border:1px solid #5b605c;
	border-radius:10px;
	color:#aeaeae;
	padding:15px 25px;
}
.btn-menu.active{
	background-color:#86ca98;
	color:#ffffff;
}

#faq{
    margin-top:30px;
    text-align:center;
}
#faq img{
    max-width:256px;
    width:100%;
}


.about-steps{
    text-align:center;
}
.about-steps img{
    margin:30px auto;
    max-width:560px;
    width:100%;
}


.panel-group .panel {
    border-radius:10px;
    color:#444444;
}
.panel-default > .panel-heading {
    background-color: #ffffff;
    border:none;
    color:#444444;
}
.panel-default > .panel-heading.green {
    background-color:#86ca98;
    color:#ffffff;
}
.panel-heading{
	border-radius:10px;
    min-height:60px;
    padding:20px 15px;
}
.panel-title{
    font-size:23px;
    line-height:23px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top:none;
}


.panel{
    border-radius:10px;
}
.panel-body{
    color:#444444;
    font-size:14px;
    padding:0 15px;
}
.panel-body h2 {
    font-size:16px;
    font-weight:400;
    margin:0 0 24px 0;
    text-transform:uppercase;
}
.panel-body p, .about p {
    text-indent:36px;
}

.contacts-rublimo{
    font-size:22px;
}
.contacts-info{
    color:#444444;
    font-size:20px;
    margin:46px 0 30px;
}
.contacts-other{
    color:#444444;
    font-size:14px;
}
.contacts hr{
    border-top:4px dotted #90cea1;
    margin:10px auto;
    max-width:440px;
}
.lk-img{
    /* height: 65px;
    width: 300px; */
}

.media-heading{
    font-weight:bold;
}
.doc h2, .doc h3{
    font-size: 18px;
}
.doc p{
    font-size: 14px;
}

.docs-sidebar .btn-menu{
    font-size:12px;
    font-weight:400;
    padding:15px 17px;
    text-align:left;
}

.history{
    background:url(/templates/rublimo/img/history/bg.png) center top no-repeat;
}
.history .stepbox{
    background:#ffffff;
    border-radius:10px;
    height:190px;
    text-align:center;
}
.history .stepbox .stepbox-head{
    background:url(/templates/rublimo/img/history/arrow.png) right center no-repeat;
    border-radius:10px;
    color:#ffffff;
    font-size:30px;
    font-weight:bold;
    height:55px;
    line-height:55px;
    text-align:center;
}
.history .stepbox .stepbox-body{
    margin:13px 0;
}
.history .stepbox .stepbox-head span{
    line-height:55px;
    margin-right:10px;
}
.history .stepbox strong{
    font-size:14px;
    line-height:14px;
}
.history .stepbox p{
    font-size:31px;
    font-weight:bold;
}
.history .stepbox-1 .stepbox-head{background-color:#ff002d;}
.history .stepbox-1 p{color:#ff002d;}
.history .stepbox-2 .stepbox-head{background-color:#ff9d62;}
.history .stepbox-2 p{color:#ff9d62;}
.history .stepbox-3 .stepbox-head{background-color:#ffd25b;}
.history .stepbox-3 p{color:#ffd25b;}
.history .stepbox-4 .stepbox-head{background-color:#71c386;background-image:none;font-size:20px;line-height:28px;}
.history .stepbox-4 p{color:#71c386;}

.blog-box-image img{
    max-width: 140px;
    padding: 20px 0;
}

.results-small img{
    height:50px;
    max-width:100%;
}
.results-small p{
    text-indent:0;
}
.results-small .btn{
    height:30px;
    padding:6px;
    width:200px;
}


footer{
    background:#212121;
    color:#ffffff;
    padding-top:30px;
}
footer .logo{
    max-width:226px;
    width:100%;
}
footer a, footer a:hover, footer a:visited{
    color:#ffffff;
    text-decoration:none;
}
footer .menu a{
    font-size:16px;
    font-weight:bold;
    line-height:16px;
    margin:10px 0;
}
footer .submenu{
    margin-top:20px;
}
footer .submenu a{
    font-size:13px;
    line-height:30px;
}
footer .social{
    margin-top:30px;
}
footer .disclimer{
    font-size:10px;
    margin-top:27px;
    text-align:justify;
    text-indent:0px;
}
footer .copy{
    font-size:16px;
    line-height:55px;
}
#tosModal .modal-body{
    padding: 15px 30px 15px 20px;
}
.dadata{
  margin-bottom: -20px;
}
.zaymer, .moneyman{
    /* height: 85px; */
}
@media screen and (max-width:1170px) {
    .calc {
        background-position:47% 100%;
        height:610px;
    }
    .calc h1 {
        font-size: 48px;
        line-height: 48px;
        margin:15px 0 30px -35px;
    }
}

@media screen and (max-width:992px) {
    .navbar, .navbar-header, .navbar-brand, .navbar-btn{
        height:58px;
    }
    .navbar-nav > li > a {
        font-size:12px;
        line-height:28px;
    }
    .navbar-btn-small {
        border-radius: 10px;
        float:right;
        margin: 0;
        padding: 8px 15px;
    }
    .calc {
        background-position:79% 42%;
        background-image:url(/templates/rublimo/img/mobile/atmo.png);
        height:400px;
    }
    .calc h1 {
        font-size: 48px;
        line-height: 48px;
        margin:15px 0 30px -85px;
    }
    .calc h2 {
        margin: 15px 0 10px;
    }
    .calc .form {
        margin-left:-170px;
        width:340px;
    }
}

@media screen and (max-width:768px) {
    .navbar, .navbar-header, .navbar-brand, .navbar-btn{
        height:58px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        left:50%;
        margin-left:-36px;
        padding:8px 0;
        position:absolute;
    }
    .navbar-toggle {
        float:left;
        margin-top:0;
        margin-bottom:0;
        padding:12px 20px;
    }
    .navbar-btn {
        border-radius: 10px;
        margin: 0;
        padding: 8px 15px;
    }
    .navbar .navbar-collapse {
        background:#efefef;
        position:relative;
        z-index:10;
    }
    .navbar-nav > li > a {
        line-height:28px;
    }
    .calc {
        background-position:79% 42%;
        background-image:url(/templates/rublimo/img/mobile/atmo.png);
        height:410px;
    }
    .calc h1 {
        margin:30px 0 20px;
    }
    .calc h2 {
        margin:15px 0 10px;
    }
    .calc .form {
        margin-left:-120px;
        width:240px;
    }
    .suggestions-suggestions.suggestions-mobile {     
       width: 250px !important;
       left: 0px !important;
       background: #ffffff !important;
       border: 1px solid #999 !important;
    }
    .suggestions-suggestions.suggestions-mobile.suggestions-value {     
       left: 0px !important;
    } 
    #circle, .tip-twitter {
        display: none;
    }    
    .calc .irs-slider {
        height: 30px;
        top: -5px;
        width: 30px;
    }    
    .htitle{
        font-size: 22px;
    }
}

@media screen and (max-width:580px) {
    .howto-header h2 {
        font-size:42px;
        line-height:60px;
    }
    .results-small .btn{
        width:100%;
    }
    .tab {
        padding: 2px;
    }    
    .lk-img {
        width: 250px;
    }
}
#confirm1 {
    width: 100% !important; 
    margin-top: 40px !important; 
    margin-bottom: 30px !important;  
    min-height: 100% !important;
}
#confirm2 {
    max-height: 400px !important;
}
#confirm3 {
    color: #000000 !important;
     font-weight:bold !important;
}
#confirm4 {
    color: #000000 !important;
    font-size: 32px !important;
}
#confirm5 {
    font-size: 18px !important; 
    color:#ccc !important;
}
#confirm6 {
    font-size: 22px !important;
}
#confirm7 {
    font-size: 12px !important;
}
#confirm8 {
    width: 100% !important; 
    margin-top: 20px !important; 
    margin-bottom: -100px !important;  
    min-height: 100% !important;
}
#confirm9 {
    font-size: 30px !important;
}
#confirm10 {
    font-size: 16px !important;
     color: #ccc !important;
}
#confirm11 {
    font-size: 20px !important;
}
#email_later {
    color:#ccc !important;
}
.font10 {
    font-size: 10px !important;
}
.font40 {
    font-size: 40px !important;
}
.font26 {
    font-size: 26px !important;
}
.help-block {
    /* margin-top: -15px !important;  */
    color: #bc5351 !important;
    font-weight: 700 !important;
}
#display-none {
    display:none !important;
}
#form-1 {
    margin-right: 8px !important;
}
#form-2 {
    font-size: 21px !important;
}
#form-3 {
    margin-top: -50px !important;
}
#form-4 {
    padding: 5px !important; 
    color: #ccc !important;
}
#form-5 {
    margin-bottom: -17px !important;
}
#form-6 {
    color: #444444 !important;
     margin-top: 1px !important;
}
#reg_same, #reg_address {
    display:none ;
} 
#work_name {
    margin-bottom: 20px !important;
}
#next {
    float:right !important;
}
#text-decoration {
    text-decoration: none;
}
#loading {
    display:none;
}
.rectangl {
    height: 200px;
}
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
  }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  .cd-top {
    z-index: 16;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(/templates/rublimo/img/cd-top-arrow.png) center 50% no-repeat rgb(113, 195, 134);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }
  .row {
    margin-right: 0px;  
     margin-left: 0px;
}
.ind_head {
    padding-top: 168px;
}
.ind_spec2 {
    border: 2px solid; 
    background:#0db738;   
}
.special_news {
    margin:30px;
}
.special_news2 {
    height: 50vh;
}
.lk-img {
    background-color: #ffffff;
    border-radius: 15px;
}
input#i , input#o, input#f, input#feedback-name {
    text-transform: capitalize !important;
  }
  input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}
.help-block2 {
    display: none;
    margin-bottom: 5px;
    margin-top: 2px;
    float: left;
    color: red !important;
}  
.help-block {
    display: none !important;
}