.ex-about{
  padding: 0 10px 25px;
  p{
    margin-bottom: 65px;
  }
  ul{
    list-style-type: none;
    padding: 0;
    li{
      font-size: 10px;
      font-weight: 300;
      margin-bottom: 4px;
      a{
        text-decoration: none;
        color: $mobFont;
      }
    }
  }
}