.ex-form-page-nav {
  border-bottom: 1px solid rgba(#333333, 0.3);
}

.ex-form {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 24px;
  h1 {
    margin-bottom: 40px;
  }
  .ex-calc-wraper {
    padding-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    text-align: center;
  }
  .form-horizontal {
    .form-group {
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  .ex-anketa-head {
    box-shadow: 0 2px 0 #f0f2f7;
    border-radius: 4px 4px 0 0;
    background-color: #122a4a;
    p {
      padding: 35px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 900;
      a {
        color: #fff;
      }
    }
  }
  .ex-anketa-main {
    padding-left: 13px;
    padding-right: 14px;
    padding-bottom: 30px;
    margin-top: -10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    .ex-range-scope {
      margin-top: 25px;
    }
    #ex-slider-val {
      position: relative;
      padding-left: 45px;
      height: 50px;
      margin-top: 35px;
      border-radius: 4px;
      border: none;
      background-color: #eef2f7;
      color: #000000;
      font-size: 32px;
      font-weight: 100;
      line-height: 48px;
      letter-spacing: 0.86px;
      i {
        vertical-align: middle;
        margin-left: 25px;
        width: 17px;
        height: 29px;
        display: inline-block;
        background: url(../img/shape.png) no-repeat;
        -webkit-background-size: contain;
      }
    }
    .form-group {
      &.ex-error {
        input {
          border: 1px solid #d0021b;
          background-color: #e6e5e6;
          @include placeholder {
            color: #c30016;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
      &.ex-arrow-on {
        position: relative;
        &:before {
          z-index: 0;
          content: '';
          position: absolute;
          top: 45px;
          right: 20px;
          width: 12px;
          height: 9px;
          background-image: url(../img/unqiue-arrow.png);
          background-repeat: no-repeat;
        }
      }
      label {
        display: block;
        color: #a3a9b1;
        font-family: $roboto;
        font-size: 12px;
        font-weight: 300;
      }
      input {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: #eef2f7;
        outline: none;
        border: none;
        padding: 15px 5px 15px 35px;
        color: #000000;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 300;
        &:focus {
          border: 1px solid #eef2f7;
          background-color: #fff;
          display: block;
        }
      }
      select {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: #eef2f7;
        outline: none;
        border: none;
        padding: 15px 45px 15px 35px;
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
    label {
      font-size: 10px;
      font-weight: 300;
    }
    .ex-agreement-check {
      padding-bottom: 0;
      label {
        padding-left: 54px;
        padding-right: 25px;
        span {
          color: #242424;
          font-size: 8px;
          font-weight: 300;
          line-height: 16px;
        }
      }
    }
  }
  .ex-anketa-foot {
    padding: 25px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: #f7f9fb;
    border-top: 2px solid #eef1f6;
    .ex-main-btn {
      font-size: 14px;
      margin-top: 25px;
      margin-bottom: 25px;
      font-weight: 300;
      color: #000;
    }

  }

}

#secondTabContent {
  .ex-anketa-main {
    padding-top: 45px;
  }
  .ex-main-btn {
    @media (max-width: 767px) {
      width: 90%;
      margin: 15px auto;
      display: block;
    }
  }
}

#lastTabContent {
  .ex-anketa-main {
    padding-top: 45px;
  }
  .ex-main-btn {
    display: block;
    width: 90%;
    margin: 15px auto;
    text-transform: uppercase;
    font-size: 18px !important;
  }
}