
.ex-mob-block {

  padding: 8px 10px 24px 10px;

  .ex-onlinezaim {
    padding: 10px 14px  10px 16px;
  border-radius: 4px;
  background-color: #eef2f7;
  h1 {
    color: #122a4a;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
  }
    div {
      border-bottom: 1px solid #d1d3d9;
      &:last-child {
        border-bottom: none;
      }
    }
 p {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #242424;
    font-size: 10px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.21px;
  }
}
}