body.ex-approved{
  background-color: rgba(#72b6fc,0.25);
  section{
    padding-bottom: 30px;
    h2{
      margin-top: 25px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.16px;
      font-weight: 300;
      @media (min-width: 500px) {
        br{
          display: none;
        }
      }
    }
    .owl-theme{
      .owl-dots{
        margin-top: 20px!important;
        .owl-dot{
          &.active{
            span{
              background-color: $mobHeader;
            }
          }
          span{
            background: transparent;
            border: 1px solid #979797;
            &:active{
              background-color: $mobHeader;
            }
            &:focus{
              background-color: $mobHeader;
            }
          }
        }
      }
    }
    .ex-wrapper{
      @include prefix(border-radius, 3px);
      background-color: $white;
      padding: 20px 0 0;
      figure{
        width: 125px;
        margin: 0 auto 20px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .ex-table-scope{
        padding: 22px 35px 18px;
        background-color: #f9fafc;
        table{
          width: 100%;
          tr{
            td{
              font-size: 10px;
              line-height: 24px;
              font-weight: 300;
              &:last-of-type{
                text-align: right;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    footer{
      padding: 0 40px;
      .ex-main-btn{
        margin-top: 10px;
      }
    }
  }
}