.ex-main-header{
  min-height: 75px;
  background-color: $mobHeader;
  text-align: center;
  padding: 30px 25px;
  color: $white;
  i.ex-hamburger{
    cursor: pointer;
    display: block;
    float: left;
    width: 24px;
    height: 18px;
    background-image: url(../img/mobile/hamburger-icon.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  a.ex-brand{
    display: inline-block;
    width: 89px;
    height: 16px;
    background-image: url(../img/mobile/logo-mobile.png);
    background-repeat: no-repeat;
  }
}