#helpModal{
  .modal-content{
    .modal-body{
      padding: 70px 15px 45px;
      h4{
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 22px;
      }
      p{
        font-size: 16px;
        margin-bottom: 35px;
      }
      .form-group{
        margin-bottom: 20px;
      }
      input[type='text'],input[type='email']{
        height: 50px;
        padding: 6px 15px;
      }
      textarea{
        height: 135px;
        resize: none;
      }
      .ex-actions{
        overflow: hidden;
        button{
          width: initial!important;
          margin-top: 0;
          padding: 15px 44px;
          float: right;
          white-space: nowrap;
          border-radius: 3px;
          text-overflow: ellipsis;
          overflow: hidden;
          &:first-of-type{
            max-width: 200px;
          }
          &:last-of-type{
            float: left;
            max-width: 165px;
            background-color: #34495e;
          }
          @media (max-width: 767px) {
            width: 100%!important;
            max-width: 100%!important;
            &:first-of-type{
              margin-bottom: 30px;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}