.spec_footer4 { 
    visibility: hidden;
}
.spec_footer5 { 
    visibility: hidden;
}
.spec_footer6 { 
    visibility: hidden;
}
.table_text {
    color: #000000 !important;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.29px;
    float: left;
}
.table_text2 {
    color: #000000 !important;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.29px;
    float: right;
} 