aside.ex-aside-menu{
  display: block;
  background-color: $white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  @include prefix(transform, translateX(-100%));
  z-index: 99999;
  color: $white;
  @include prefix(transition, all 0.4s ease);
  &.ex-is-open{
    @include prefix(transform, translateX(0));
    @include prefix(transition, all 0.4s ease);
  }
  .ex-main-menu-content{
    padding: 25px 15px 25px;
    height: 100%;
    float: left;
    width: calc(100% - 80px);
    i{
      display: inline-block;
      width: 135px;
      height: 33px;
      background-image: url(../img/mobile/mob-logo-2.svg);
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
    ul{
      padding: 0;
      margin-top: 40px;
      li{
        margin-bottom: 9px;
        a{
          text-decoration: none;
          padding: 5px 0;
          color: #a3a9b1;
          font-size: 12px;
          letter-spacing: 0.58px;
          &:focus{
            color: #122a4a;
          }
        }
      }
    }
    button{
      margin-top: 15px;
      width: 100%;
      padding: 19px 52px;
      border: 1px solid #a3a9b1;
      font-size: 14px;
      background: transparent;
      color: #a3a9b1;
      @include prefix(border-radius, 3px);
    }
  }
  .ex-close-pipe{
    width: 80px;
    height: 100%;
    float: right;
    padding-top: 25px;
    text-align: center;
    background-color: #122a4a;
    span{
      display: inline-block;
      width: 36px;
      height: 36px;
      text-align: center;
      border: 1px solid $white;
      @include prefix(border-radius, 50%);
      i{
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        overflow: hidden;
        top: 50%;
        @include prefix(transform, translateY(-50%));
        &:before{
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background: $white;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:after{
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background: $white;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
}