.ex-doc {
  padding-top: 58px;
  padding-bottom: 60px;
  h1 {
    text-align: center;
    color: #1f1c09;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .ex-doc-content {
    padding-bottom:  40px;
    p {
      color: #333333;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
    ul {
      li{
        color: #333333;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
  .ex-main-btn {
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #5d4889;
    i{
      display: inline-block;
      width: 21px;
      height: 16px;
      background-image: url(../img/icons/shape.png);
      margin-left: 9px;
      vertical-align: middle;
    }
  }
}