footer.ex-main-footer {
  padding-top: 34px;
  padding-bottom: 33px;
  background: #30323e;
  p {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    border-right: 1px solid #ffffff;
    margin-bottom: 0;
  }
  .ex-list-title {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    border-right: none;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        color: rgba(#ffffff, 0.5);
        font-size: 12px;
        font-weight: 100;
        line-height: 12px;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  footer.ex-main-footer {
    text-align: center;
    p {
      border-right: none;
      padding-bottom: 20px;
      border-bottom: 1px solid #ffffff;
      padding-top: 20px;
    }
    .ex-list-title {
     border: none;
      padding-bottom: 0;
    }
  }
}