main.ex-main-docs{
  @extend .ex-main-content;
  .nav-tabs{
    li{
      width: initial;
      flex-shrink: 1;
      flex-basis: 0;
      flex-grow: 1;
      margin-right: 5px;
      a{
        @media (max-width: 991px) {
          min-height: initial;
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
      li{
        width: 100%;
      }
    }
  }
  .tab-content{
    #home{
      .ex-wrapper{
        p{
          text-indent: 22px;
        }
      }
    }
    .ex-wrapper{
      ul{
        li{
          color: #30323e;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          @media (max-width: 640px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}