section.ex-home {
  position: relative;
  background-color: #007aff;
  min-height: 746px;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
  }
  .ex-pr{
    position: relative;
  }
  .ex-section-1 {
    padding-top: 80px;
    h1 {
      font-size: 36px;
      font-weight: 700;
      color: #FFFFFF;
      margin-bottom: 30px;
      @media (max-width: 991px) {
        font-size: 26px;
      }
    }
    p {
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      @media (max-width: 991px) {
        font-size: 18px;
      }
    }
    .ex-img-rub {
      height: 295px;
      background-image: url(../img/pic.png);
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .ex-tab-on-range-slider {
    position: relative;
    z-index: 1;
    bottom: -10px;
    .nav-tabs {
      border-bottom: none;
      li {
        text-align: center;
        &:last-of-type {
          a{
            background-color: #0ae4b3;
            color: #ffffff;
          }
        }
        &:first-of-type {
          a{
            background-color: #007aff;
            color: #ffffff;
          }
        }
        a {
          border: none;
          padding: 3px 48px;
          cursor: pointer;
          color: #2d3e4f;
          font-size: 14px;
          font-weight: 400;
          line-height: 32px;
          border-radius: 10px 10px 0 0;
          background-color: #f6f6f6;
          white-space: nowrap;
          margin-right: 0;
        }
        &.active {
          a {
            font-weight: 700;
            background-color: #f6f6f6;
            color: #2d3e4f;
          }
        }
        @media (max-width: 991px) {
          width: 100% !important;
          margin-bottom: 2px;
          margin-right: 0;
          a {
            border-radius: 0;
          }
        }
      }
      @media (max-width: 1200px) {
        border-bottom: 0;
      }

    }
    .tab-content{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      border: 1px solid rgba(150, 150, 150, 0.3);
      background-color: #f6f6f6;
      padding: 22px 22px 6px;
      #menu1{
        .ex-wrapper{
          .ex-range-slider-ruble-tab{
            .irs-slider{
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
              background-color: #417505;
            }
            .irs-bar-edge{
              background-color: #50e3c2;
            }
            .irs-bar{
              background-color: #50e3c2;
            }
          }
          .ex-action{

          }
        }
      }
      .ex-wrapper{
        &:after{
          content: '';
          display: block;
          clear: both;
        }
        .ex-range-slider-ruble-tab{
          width: 40%;
          margin-right: 65px;
          float: left;
          .ex-info{
            padding: 2px 10px;
            overflow: hidden;
            border: 1px solid #969696;
            background-color: #ffffff;
            @include prefix(border-radius, 5px);
            span{
              margin-top: 7px;
              display: block;
              float: left;
              color: #30323e;
              font-size: 12px;
              font-weight: 300;
            }
            p{
              color: #30323e;
              font-size: 24px;
              font-weight: 700;
              float: right;
              margin: 0;
            }
          }
          .irs{
            top: -5px;
          }
          @media (max-width: 992px) {
            width: 100%;
            margin-right: 0;
          }
        }
        .ex-range-slider-time-tab{
          width: 24%;
          margin-right: 45px;
          float: left;
          @extend .ex-range-slider-ruble-tab;
          @media (max-width: 991px) {
            width: 100%;
            margin-right: 0;
          }
        }
        .ex-action{
          width: -webkit-calc(100% - 24% - 40% - 110px);
          width: -moz-calc(100% - 24% - 40% - 110px);
          width: calc(100% - 24% - 40% - 110px);
          float: left;
          @media (max-width: 991px) {
            width: 100%;
            float: none;
            text-align: center;
            margin-bottom: 30px;
            button{
              max-width: 295px;
            }
          }
        }
      }
      @media (min-width: 992px) {
        border-radius: 0 10px 10px 10px;
      }
    }
  }
  .ex-money-types{
    padding: 0 65px;
    margin-bottom: 62px;
    background-color: rgba(#f6f6f6, 0.6);
    @include prefix(border-radius, 5px);
    ul{
      padding: 25px 0 10px;
      list-style-type: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        a{
          display: inline-block;
          text-decoration: none;
          -webkit-background-size: contain;
          background-size: contain;
          background-repeat: no-repeat;
          &.ex-visa{
            width: 75px;
            height: 25px;
            background-image: url(../img/visa.png);
          }
          &.ex-yandex{
            width: 113px;
            height: 25px;
            background-image: url(../img/yandex.png);
          }
          &.ex-qiwi{
            width: 83px;
            height: 30px;
            background-image: url(../img/qiwi.png);
          }
          &.ex-contact{
            width: 66px;
            height: 40px;
            background-image: url(../img/contact.png);
          }
          &.ex-bank{
            width: 35px;
            height: 35px;
            background-image: url(../img/bank-building.png);
          }
        }
      }
      @media (max-width: 991px) {
        padding-top: 50px;
        display: block;
        text-align: center;
        li{
          margin-bottom: 30px;
        }
      }
    }
  }
}
section.ex-receive-money{
  h2{
    color: #30323e;
    font-size: 28px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 55px;
  }
  .ex-equal{
    margin-bottom: 75px;
    .ex-shadow{
      position: relative;
      padding: 25px 25px 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      background-color: #f6f6f6;
      @include prefix(border-radius,5px);
      span.ex-triangle{
        display: inline-block;
        -webkit-transform: scaleX(0.1);
        -ms-transform: scaleX(0.1);
        transform: scaleX(0.1);
        color: #f6f6f6;
        top: 65px;
        position: absolute;
        right: -87px;
        text-shadow: 11px 2px 4px rgba(0, 0, 0, 0.18);
        font-size: 190px;
        line-height: 0;
        @media (max-width: 1199px) {
          display: none;
        }
      }
      .media{
        .media-left{
          padding-right: 25px;
          span{
            color: #007aff;
            font-size: 115px;
            font-weight: 700;
            line-height: 95px;
          }
        }
        .media-body{
          h4{
            color: #333333;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
          }
          p{
            color: #333333;
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
          }
          @media (max-width: 991px) {
            vertical-align: middle;
          }
        }
      }
    }
  }
  .ex-btn-blue{
    max-width: 295px;
  }
  .ex-wrapper-info{
    margin-bottom: 100px;
    margin-top: 80px;
    border-top:  1px solid #4a90e2;
    border-bottom:  1px solid #4a90e2;
    padding: 30px 0;
    a{
      text-decoration: none;
      .ex-scope-info{
        padding: 40px;
        border: 1px solid #979797;
        min-height: 328px;
        @include prefix(border-radius,10px);
        @include prefix(transition, all 0.5s ease);
        &:hover{
          border: none;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          background-color: #007aff;
          h4,p{
            color: #FFFFFF;
          }
        }
        h4{
          margin-bottom: 40px;
          margin-top: 0;
          color: #30323e;
          font-size: 18px;
          font-weight: 700;
        }
        p{
          color: #30323e;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          margin-bottom: 0;
        }
        @media (max-width: 991px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}
section.ex-feedback{
  h2{
    color: #30323e;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 55px;
  }
  main{
    article{
      padding: 25px;
      background-color: #fff;
      @include prefix(border-radius, 10px);
      &:after{
        content: '';
        clear: both;
        display: block;
      }
      p{
        color: #30323e;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 30px;
      }
      span{
        clear: both;
        color: #30323e;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        display: block;
        float: right;
      }
    }
  }
  .ex-btn-blue{
    margin: 55px 0 100px;
    max-width: 295px;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}





