.ex-about {
  background-color: #fbfbfb;
  padding-top: 50px;
  padding-bottom: 60px;
  h1 {
    color: #30323e;
    font-family: $opensans;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .ex-text {
    margin-bottom: 40px;
    p {
      color: #30323e;
      font-family: $opensans;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 20px;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
    h4 {
      color: #30323e;
      font-family: $opensans;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 20px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .inner-text {
      p {
        margin-top: 25px;
      }
    }
  }
}
.ex-part-address {
  background-color: #ffffff;
  padding-top: 50px;
  h4 {
  color: #30323e;
  font-family: $opensans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 30px;
}
  p {
    color: #30323e;
    font-family: $opensans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
  }
}