.ex-doc {
  padding-top: 58px;
  padding-bottom: 60px;
  .ex-doc-content {
    padding-bottom: 30px;
    .panel {
      border: none;
      margin-bottom: 30px;
      .panel-heading {
        padding: 13px 12px 13px 30px;
        background-color: #f7f7f7;
        @include prefix(border-radius,5px);
        h4 {
          position: relative;
          a {
            text-decoration: none;
            font-weight: 700;
            line-height: 20px;
            position: relative;
            color: #30323e;
            font-size: 24px;
            padding: 13px 20px 13px 5px;
            @media (max-width: 767px) {
              font-size: 16px;
              padding: 0;
            }
          }
          i {
            position: absolute;
            right: 0;

            &.ex-plus {
              top: 2px;
              width: 15px;
              height: 15px;
              background-image: url(../img/icons/dark-plus.png);
            }
            &.ex-minus {
              width: 15px;
              height: 3px;
              top: 9px;
              background-image: url(../img/icons/minus.png);
            }
            @media (max-width: 767px) {
              display: none;
            }
          }

        }
      }
      .panel-body {
        padding: 13px 30px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        border: 1px solid #171d44;
        @include prefix(border-radius, 5px);
        .ex-text {
          color: #333333;
          font-family:   $opensans;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          ul {
            padding-left: 17px;
            margin-bottom: 32px;
          }
          p {
            margin-bottom: 32px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .ex-bg-head {
    background-color: transparent !important;
    a {
      color: #333333 !important;
    }
  }

}