main.ex-offers {
  padding-top: 40px;
  h2 {
    color: #2d3e4f;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 63px;
    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 30px;
    }
  }
  .ex-offers-content {
    padding-top: 48px;
    padding-bottom: 66px;
    background-color: #f7f7f7;;
    .ex-off-block {
      figure {
        margin-bottom: 14px;
        padding: 28px 27px 28px 27px;
        border: 1px solid #979797;
        @include prefix(border-radius, 5px);
        .ex-img-offerta {
          margin-bottom: 25px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-around;
          height: 52px;
          .ex-img1 {
            width: 162px;
            height: 24px;
            background-image: url("../img/1-b.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .ex-img2 {
            width: 153px;
            height: 40px;
            background-image: url("../img/2-b.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .ex-img3 {
            width: 171px;
            height: 33px;
            background-image: url("../img/3-b.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .ex-img4 {
            width: 162px;
            height: 40px;
            background-image: url("../img/4-b.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        table {
          width: 100%;
          tr {
            td {
              padding: 8px 0;
              &:first-of-type {
                text-align: left;
                color: #333333;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
              }
              &:last-of-type {
                text-align: right;
                color: #333333;
                font-size: 14px;
                font-weight: 700;
                line-height: 14px;
                @media (max-width: 600px) {
                  font-size: 15px;
                }
              }
            }
            &:last-of-type {
              td {
                &:last-of-type {
                  letter-spacing: 0.1em;
                }
              }
            }
          }
        }
      }
      .ex-offers-foot {
        p {
          padding-top: 20px;
          padding-bottom: 20px;
          margin-bottom: 0;
          .fa-star {
            font-size: 18px;
            color: #171d44;
          }
          .fa-star-o {
            font-size: 18px;
            color: #171d44;
          }
          @media (max-width: 991px) {
            display: block!important;
          }
        }
        .ex-main-btn {
          padding: 16px 5px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 700;
          @media (max-width: 991px) {
            display: block!important;
          }
        }
      }
      @media (max-width: 991px) {
        margin-bottom: 40px;
        .ex-main-btn {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .ex-offers-active {
      @media (min-width: 992px) {
        figure {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          border-radius: 5px;
          background-color: #ffffff;
          .ex-img-offerta {
            margin-bottom: 25px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-around;
            height: 52px;
            .ex-img1 {
              width: 162px;
              height: 40px;
              background-image: url("../img/1.png") !important;
              background-repeat: no-repeat;
              background-size: contain;
            }
            .ex-img2 {
              width: 153px;
              height: 40px;
              background-image: url("../img/2.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
            .ex-img3 {
              width: 171px;
              height: 33px;
              background-image: url("../img/3.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
            .ex-img4 {
              width: 162px;
              height: 40px;
              background-image: url("../img/4.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

        }
      }
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      table {
        width: 100%;
        tr {
          td {
            &:first-of-type {
              font-size: 12px;
            }
            &:last-of-type {
              font-size: 14px;
            }
          }
        }
      }

    }
  }
  @media (max-width: 991px) {
    .col-md-3 {
      figure {
        max-width: 80%;
        margin: 0 auto 40px;
      }
    }
  }
}

