@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700,800&subset=latin,cyrillic);

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color:#f3f8fd;
    color:#80909c;
    /*font-family:'latoregular', 'Lato', sans-serif;*/
    font-size:18px;
    font-family:'Lato', sans-serif;
    font-weight:400;
}

.page {
    margin-bottom:-90px;
    min-height:100%;
}
.buffer {
    height:90px;
}

h1, h2{
    color:#3c434d;
    font-family:'Lato', sans-serif;
    font-weight:800;
}

a, a:hover, a:visited, a:focus{
    /*color:#ffffff;*/
    outline:none;
    text-decoration:none;
}


p.text-indent{
    text-align:justify;
    text-indent:35px;
}

.form-control{
    border-color:#629fd1;
    border-width:1px;
    font-size:20px;
    height:40px;
}
.form-control-feedback{
    top: 6px;
}
#phonestatus{
    top: 3px;
}
.middle-cover{
    display:table;
}
.middle{
    display:table-cell;
    vertical-align:middle;
}
.btn-default {
    color: #ccc !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}
.btn, .btn:active, .btn.focus, .btn:focus, .btn:hover{
    font-family:'Lato', sans-serif;
    font-weight:600;
    background-color:#629fd1;
    border-color:#629fd1;
    border-width:2px;
    color:#ffffff;
    /*font-family:'latosemibold', 'Lato', sans-serif;;*/
    font-size:18px;
    height:58px;
    text-decoration:none;
}
.btn:hover{
    background-color: #4b87b9;
    border-color: #4b87b9;
}
.blue{
    background: #629fd1;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    min-height: 350px;
}
.blue h1, .blue h2{
    color:#fff;
    font-size: 20px;
}
.blue p{
    font-size: 16px;
}
.blue .btn, .blue .btn:active, .blue .btn.focus, .blue .btn:focus, .blue .btn:hover{
    background-color:#629fd1;
    border-color:#ffffff;
    border-width:2px;
}
.btn-panel, .btn-panel:active,.btn-panel:focus,.btn-panel:hover{
    background-color: #f3f8fd;
    color: #747f8b;
    border-color: #f3f8fd;
    padding: 6px 12px;
    height: auto;
}
.white h2{color:#3c434d;} 
.offers img{
    height: 50px;
    margin: 25px 0;
}
.a4{
    background:#ffffff;
    padding:86px;
}

.navbar{
    background:#f3f8fd;
    border:none;
    border-radius:0;
    color:#80909c;
    height:90px;
    margin:0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left:0;
}
.navbar img{
    height:100%;
    max-height:73px;
    max-width:231px;
    min-height:25px;
}
.navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:visited{
    background-color:#F3F8FD;
    color:#80909c;
    font-size:17px;
    font-family:'Lato', sans-serif;
    font-weight:700;
    /*font-family:'latobold', 'Lato', sans-serif;*/
    line-height:60px;
    text-decoration:none;
    text-transform:uppercase;
}
.navbar-nav > li > a:hover {
    background-color:#779ece;
    color: #fff000 !important;
    -webkit-transition: all .3s 0s, visibility 0s .3s;
    -moz-transition: all .3s 0s, visibility 0s .3s;
    transition: all .3s 0s, visibility 0s .3s;
}
.navbar-header{
    background:#f3f8fd;
    border:none;
    border-radius:0;
    color:#444444;
    height:100%;
}
.navbar-brand {
    float: left;
    height:100%;
    max-height:53px;
    padding:18px 0;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-btn{
    margin:20px 0;
}
.navbar-btn strong{
    color:#629fd1;
    float:left;
    font-size:18px;
    font-family:'Lato', sans-serif;
    font-weight:600;
    /*font-family:'latosemibold', 'Lato', sans-serif;*/
    line-height:24px;
    margin-left:25px;
    text-align:left;
    text-transform:capitalize;
}
.navbar-btn img{
    float:left;
    height: 48px;
    width: 50px;
}
.navbar-btn .ico{
    float:left;
    font-size:40px;
    margin-right:7px;
}
.navbar-btn .text{
    font-size:20px;
    line-height:22px;
}
/*.navbar-toggle {
    float:left;
    margin-top:18px;
}*/
.navbar-toggle {
    float:right;
    font-size:31px;
    margin:0;
}


.irs{
    height:44px;
    margin:7px 0;
    width:100%;
}
.irs2{margin-top: 17px;}
.irs2 .irs-single{
    display: block;
    top: -25px;
} 
.irs-from, .irs-to, .irs-single {
    background:none;
    color:#fff;
    display:none;
}
.irs-line, .irs-bar, .irs-bar-edge {
    height: 15px;
    top: 15px;
}
.irs-line {
    border:none;
    border-radius: 16px;
}
.irs-slider {
    background:#ffffff;
    border:none;
    border-radius:50%;
    box-shadow:1px 4px 3px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    height:44px;
    top:0px;
    width:44px;
}
.irs-min, .irs-max {
    background:none;
    color:#ffffff;
    display:none;
    font-size:12px;
    font-family:'Lato', sans-serif;
    font-weight:600;
    /*font-family:'latosemibold', 'Lato', sans-serif;*/
}
.irs-bar-edge{
    width:22px;
}
.irs-bar, .irs-bar-edge{
    border:none;
}
.current_amount_color.orange{color:#ffd25b;}
.current_amount_color.green{color:#9bd154;}
.current_amount_color.red{color:#db0100;}
.orange .irs-single{background:#ffd25b;}
.green .irs-single{background:#779ece;}
.red .irs-single{background:#db0100;}
.orange .irs-bar, .orange .irs-bar-edge, .orange .irs-single{background:#ffd25b;}
.green .irs-bar, .green .irs-bar-edge{background:#779ece;}
.red .irs-bar, .red .irs-bar-edge{background:#db0100;}
.calc{
    background:url(/templates/dengimo/img/atmo.png) center no-repeat;
    height:710px;
}
.calc h1{
    color:#000;
    font-size:48px;
    font-family:'Lato', sans-serif;
    font-weight:800;
    /*font-family:'latoheavy', 'Lato', sans-serif;*/
    line-height:48px;
    /* margin:135px 0 36px; */ /* Tom Nolane margin:135px 0 36px;  */
    margin:55px 0 36px;
}
.calc h2{
    color:#000;
    font-size:24px;
    font-family:'Lato', sans-serif;
    font-weight:400;
    /*font-family:'latoregular', 'Lato', sans-serif;*/
}
.form-label-1{
    color:#3c434d;
    font-size:26px;
    line-height:58px;
    text-align:left;
}
.form-label-2{
    color:#000;
    font-size:36px;
    line-height:98px;
}
.form-label-3{
    color:#3c434d;
    font-size:36px;
    line-height:58px;
    text-align:right;
}



.form-info, .form-info:active, .form-info:focus, .form-info:hover {
    background: none;
    border-color: #b4abab;
    color: #000;
    font-size: 16px;
    padding: 10px; 
    height: 70px;
    width: 100%;
    cursor: default;
}
.form-info-data{
    font-size: 22px;
    line-height: 25px;
}
.form-info-title{
    font-size: 10px;
}
.d {font-size: 14px;}
.proc-label{
    color: #fff;
    font-weight: bold;
    margin-bottom: -5px;
    margin-top: -5px;
}
.calc .irs{
    margin:30px 0;
    width: 480px;
}
.calc .btn{
    margin-top:26px;
}

.algo{
    font-size:10px;
    padding:30px 0;
}
.algo h2{
    font-size:18px;
    line-height:18px;
    margin:0 0 20px;
}
.algo-item{
    border:1px solid #96a4af;
    border-radius:50%;
    height:60px;
    margin:10px auto;
    width:60px;
}
.algo-item img{
    margin-top:8px;
    width:40px;
}

.bullets{
    padding:44px 0 0;
}

.slider{
    height:450px;
}
.slider h2{
    margin:80px 0 0 0;
}
.slider .carousel{
    height:450px;
}
.slider .carousel-indicators {
    bottom:78px;
}
.slider .carousel-control{
    background:none;
}
.slider .carousel .sub{
    margin-top:20px;
}
#slide-0 h2{margin-bottom:60px;}
#slide-1 img{margin:18px 0 20px;}
#slide-2 img{margin:70px 0 48px;}
#slide-3 img{margin:55px 0 45px;}
.carousel-super{
    cursor:pointer;
    height:120px;
    padding-bottom:44px;
}
.carousel-super.active{
    border-bottom:4px solid #619FD2;
}

.howto{
    padding:90px 0;
}
.howto #notebook{
    max-width:646px;
    width:100%;
}
.howto h2{
    text-align:left;
}
.howto p{
    margin:55px 0 50px;
}
.howto .middle{
    height:400px;
}
.howto #video{
    margin:4% 12%;
    max-width:484px;
    position:absolute;
    z-index:1;
}

.history{
    background:url(/templates/dengimo/img/kolos.jpg) center top no-repeat;
    height:410px;
    padding:50px 0;
}
.history h2{
    font-size:48px;
    margin:0;
}
.history p{
    font-size:18px;
    margin:0;
}
.history p span{
    font-size:24px;
    line-height: 92px;
}
.history .btn{
    background:transparent;
    margin-top:50px;
}

.about .irs{
    margin:7px 0;
    width:100%;
}

.page-about{
    font-size:24px;
}
.page-about h1{
    color:#3c434c;
    margin-bottom:50px;
}
.about-steps img{
    margin-top:21px;
    max-width:54px;
    width:100%;
}
.about-item{
    border:2px solid #dbe4eb;
    border-radius:50%;
    height:100px;
    margin:10px auto;
    width:100px;
}


.internal h1{
    color:#3c434d;
    text-align: center;
}


.panel-default > .panel-heading {
    background-color: #ffffff;
    border:none;
    color:#3c434d;
}
.panel-heading img{
    height:25px;
}
.panel-default {
    border-color: transparent;
}
.panel-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    padding: 0px 25px;
}
h4.panel-title a{
    color:#75a6ce;
    font-size:20px;
    font-family:'Lato', sans-serif;
    font-weight:700;
    /*font-family:'latoheavy', 'Lato', sans-serif;*/
}
h4.panel-title a.collapsed{
    color:#3c434d;
}
.panel-body{
    padding:30px 80px;
}

.contacts{
    padding:80px 0 65px;
    text-align:center;
}
.contacts strong{
    color:#3c434d;
    font-size:48px;
    line-height:48px;
}
.contacts strong span{
    font-size:36px;
    line-height:36px;
}
.contacts-text{
    margin-bottom:72px;
    text-align:center;
}
.contacts-item{
    border:1px solid #e7eef3;
    height:450px;
    margin-bottom:25px;
    text-align:center;
}
.contacts-head{
    border-bottom:1px solid #e7eef3;
    height:120px;
}
.contacts-head img{
    max-height:50px;
    margin-top:35px;
}
.contacts-body{
    padding:45px 40px;
}
.contacts-body span{
    color:#629fd1;
}


#hey{
    background:rgba(255,255,255,0.78);
    bottom:10px;
    left:5px;
    height:170px;
    position:fixed;
    width:235px;
    z-index:10000;
}#hey p{
    background:rgba(98,159,209,0.78);
    color:#ddeaf5;
    font-size:18px;
    line-height:47px;
    margin-bottom:8px;
    text-align:center;
    text-transform:uppercase;
}
#hey .close{
    color:#ffffff;
    font-size:13px;
    font-weight:400;
    margin:2px;
}
#hey img{
    margin:10px;
    margin-top:2px;
}
#hey div p{
    background:transparent;
    color:#3b434d;
    font-size:14px;
    line-height:25px;
    text-transform:none;
}
#hey div p span{
    font-size:20px;
    font-weight:700;
}
#hey .btn{
    font-size:13px;
    height:38px;
    padding:9px 14px;
    text-transform:uppercase;
}
.section-doc h2{
    font-size: 16px;
}
.section-doc p{
    font-size: 14px;
}
footer{
    background:#3c434d;
    color:#ffffff;
    padding-top:15px;
}
footer .logo{
    margin:3px 0;
    max-width:259px;
    min-width:110px;
}
footer a, footer a:hover, footer a:visited{
    color:#ffffff;
    text-decoration:none;
}
footer .menu a{
    font-size:16px;
    font-family:'Lato', sans-serif;
    font-weight:600;
    /*font-family:'latosemibold', 'Lato', sans-serif;*/
    line-height:49px;
}

footer .copy{
    color:#8a98a2;
    font-size:18px;
    line-height:55px;
}
.footer-text {
    font-size: 12px;
    font-family: 'roboto';
}
#tosModal .modal-body{
    padding: 15px 30px 15px 20px;
}
.dadata{
  margin-bottom: -20px;
}
.pixel{
    background-color: white;
    color: black;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 35px;
}
.pixel a, .pixel a:hover, .pixel a:active, .pixel a:visited {
    color: black;
}
.pixel img{
    height: 50px;
}
.pixel .btn{
    margin: 0px;
}
.pixel small{
    font-size: 13px;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
.gut{
    padding: 0px 0px 0 55px;
    font-size: 10px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media screen and (max-width:1200px) {
    .contacts-item {
        height: 450px;
    }
    .howto #video{
        max-width:402px;
    }
    .calc .irs {
        width: 425px;
    }  
    footer .menu a {
        font-size: 13px;
    }   
    .navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:visited{
        font-size:12px;
    }    
}

@media screen and (max-width:992px) {
    .howto #video{
        max-width:258px;
    }
    .contacts-item {
        height: 340px;
    }
    .navbar, .navbar-header, .navbar-brand, .navbar-btn{
        height:58px;
    }
    .navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:visited{
        font-size:9px;
        line-height:28px;
    }
    .navbar-btn-small {
        float:right;
        margin:0;
        padding:8px 0px;
    }
    .navbar-brand {
        padding:7px 0;
    }   
    .calc .btn {
        margin-top: 5px;
    }    
}

@media screen and (max-width:768px) {
    .navbar, .navbar-header, .navbar-brand, .navbar-btn{
        height:65px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        padding:8px 0;
    }
    .navbar-btn {
        border-radius: 10px;
        margin: 0;
        padding: 8px 15px;
    }
    .navbar img {
        height: 100%;
        margin-left: 15px;
        max-height: 73px;
        max-width: 231px;
    }
    .navbar .navbar-nav {
        float: left;
    }    
    .navbar .navbar-collapse {
        background:#f3f8fd;
        position:relative;
        z-index:10;
    }
    .navbar-nav > li > a {
        font-size: 7px;
        line-height:28px;
    }
    .navbar-brand {
        padding: 12px 0;
    }
    .calc {
        background-size:cover;
        height: 440px;
    }
    .calc h1{
        font-size:25px;
        line-height:25px;
        margin-top:25px;
        margin-bottom:40px;
        text-align:center;
    }
    .calc .irs{
        margin:auto;
        width:270px;
    }
    .calc .irs-line, .calc .irs-bar, .calc .irs-bar-edge {
        height:5px;
        top:21px;
    }
    .irs-single {
        background-color:rgba(119, 158, 206, 0.64) !important;
        border-radius:24px;
        display:block;
        font-size:14px;
        padding:3px 30px;
        top:-20px;
    }   
    .calc .irs-slider {
        height: 35px;
        top: 5px;
        width: 35px;
    }
    .calc .btn, .calc .btn:active, .calc .btn.focus, .calc .btn:focus, .calc .btn:hover {
        font-size:13.5px;
        font-family:'Lato', sans-serif;
        font-weight:600;
        /*font-family:'latobold', 'Lato', sans-serif;*/
        height:45px;
        margin-top:5px;
        padding:11px;
    }
    .form-info-title {
        float: left;
    }    
    .form-info-data {
        line-height: 18px;
    }
    #circle, .tip-twitter {
        display: none;
    } 
    .suggestions-suggestions.suggestions-mobile {
       width: 250px !important;
       left: 0px !important;
       background: #ffffff !important;
       border: 1px solid #999 !important;
    }
    .suggestions-suggestions.suggestions-mobile.suggestions-value {
       left: 0px !important;
    }    
}

@media screen and (max-width:580px) {
    .contacts-item {
        height: 535px;
    }
    .panel-body{
        padding:5px;
    }
    footer .social{width:30px;}
    .results-small .btn{
        width:100%;
    }
    .proc-label{
        margin-bottom: -30px;
        margin-top: 30px;
    }
}
.navbar-nav > li > a:hover {
    color: #000000;
}
.font07 {
    font-size: 0.7em;
}
.col_black {
    color: #000000 !important;
}
.col_middle {
    color: #617486 !important;
}
.decore-none {
    text-decoration: none;
}
.index_special {
    font-size: 1.4em !important;
}
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
  }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  .cd-top {
    z-index: 16;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(/templates/dengimo/img/cd-top-arrow.png) center 50% no-repeat #3c434d;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }
  #ya-rtb {
    text-align: center !important;
    min-width: 100% !important; 
  }
  input#i , input#o, input#f, input#feedback-name {
    text-transform: capitalize !important;
  }
  .spec_form88 {
    background: #ffffff !important;
  }
  input:invalid:not(:placeholder-shown) {border-color: red;}
    input:valid:not(:placeholder-shown) {border-color: green;}
    .help-block2 {
        display: none;
        margin-bottom: 5px;
        margin-top: 2px;
        font-size: 0.8em;
        float: left;
        color: red !important;
    } 
    .help-block {
        display: none !important;
    }