.j-rating {
  font-size: 14px;
  position: relative;
  display: inline-block;
  height: 18px;
}

.j-rating .stars {
  display: inline-block;
}

.j-rating .top {
  white-space: nowrap;
  overflow: hidden;
  color: $stars;
}

.j-rating .bottom {
  position: absolute;
  top: 0;
  left: 0;
  color: #b0b0b0;
}

.j-rating .glyphicon {
  left: 0.5px;
  font-size: 16px;
}

.j-rating .text {
  float: right;
  line-height: 1.1;
  margin-left: 5px;
  padding: 0 5px;
  color: #fff;
  background-color: #f0ad4e;
  border-radius: 3px;
  cursor: default;
  display: inline-block;
  text-align: center;
}