.ex-articles {
  background-color: #fcfcfc;
  padding-bottom: 60px;
  .ex-for-about-bg {
    width: 100%;
    height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 991px) {
      display: none;
    }
  }
  h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .ex-main-btn {
    margin-top: 40px;
  }
}

.ex-art1-bg {
  background-image: url("../img/art-full1.png");
}
.ex-art2-bg {
  background-image: url("../img/art-full2.png");
}