.ex-faq {
  padding-top: 90px;
  padding-bottom: 60px;
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 0;
  }
  .ex-faq-content {
    padding-top: 60px;
    padding-bottom: 55px;
    @media (max-width: 991px) {
      padding-bottom: 0;
      padding-top: 20px;
    }
    .card {
      border: none;
      margin-bottom: 20px;
      .card-header {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
        h4 {
          margin-bottom: 0;
          a {
            position: relative;
            display: block;
            text-decoration: none;
            color: #2e3035;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            @media (max-width: 767px) {
              font-size: 16px;
              line-height: 26px;
            }
            i {
              position: absolute;
              right: 0;
              &.ex-plus {
                width: 20px;
                height: 20px;
                background-image: url(../img/icons/plus.png);
                background-repeat: no-repeat;
              }
              &.ex-minus {
                width: 20px;
                height: 20px;
                background-image: url(../img/icons/minus.png);
                background-repeat: no-repeat;
              }
              @media (max-width: 1199px) {
                display: none;
              }
            }
          }
        }
      }
      .card-body {
        padding: 0;
        background-color: transparent;
        border: none !important;
        @include prefix(border-radius, 5px);
        .ex-money-img {
          text-align: center;
        }
        p {
          margin-top: 4px;
          margin-bottom: 0;
          color: #2e3035;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;


        }
      }
    }
  }
  .ex-bg-head {
    padding-left: 0 !important;
    background-color: transparent !important;
    a {
      color: #9b9b9b !important;
    }
  }
  .ex-for-buttons {
    padding-top: 55px;
    @media (max-width: 767px) {
      padding-top: 20px;
    }
    .ex-question-btn {
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
}
