.ex-money {
  .ex-left {
    display: inline-block;
    width: 30%;
    @media (max-width: 1199px) {
      width: 40%;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
    .nav-tabs {
      position: relative;
      margin-bottom: 30px;
      border: none;
      display: block;
      margin-top: 90px;
      @media (max-width: 991px) {
     margin-top: 40px;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 62px;
        height: 488px;
        left: 0;
        top: -7px;
        background-image: url("../img/sircle.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        @media (max-width: 991px) {
          display: none;
        }
      }
      li {
        position: relative;
        cursor: pointer;
        display: block;
        margin-bottom: 62px;
        padding-left: 10px;
        @media (max-width: 991px) {
          margin-bottom: 4px;
        }
        &.active.nav-item {
          span {
            color: #ffffff;
            border: 1px solid transparent;
            background-color: #71d379;
          }
          a {
            background-color: #71d379;
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            &:after {
              content: "";
              display: block;
              position: absolute;
              right: -20px;
              top: 0;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 23px 0 22px 20px;
              border-color: transparent transparent transparent #71d379;
              @media (max-width: 991px) {
               display: none;
              }
            }
          }
        }
        a {
          width: 218px;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          color: #2e3035;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.56px;
          text-decoration: none;
          padding: 9px 20px;
          @media (max-width: 991px) {
            width: 100%;
          }
        }
        span {
          vertical-align: middle;
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #c9d5dc;
          background-color: #ffffff;
          position: relative;
          margin-right: 30px;
          color: #2e3035;
          font-size: 18px;
          font-weight: 700;
          @media (max-width: 991px) {
            display: none;
          }
        }
        span:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:first-child span:after {
          content: "1";
        }
        &:nth-child(2) span:after {
          content: "2";
        }
        &:nth-child(3) span:after {
          content: "3";
        }
        &:nth-child(4) span:after {
          content: "4";
        }
        &:last-child span:after {
          content: "5";
        }
      }
    }
  }
  .ex-right {
    display: inline-block;
    width: 70%;
    float: right;
    border-left: 1px solid #dae2ed;
    @media (max-width: 1199px) {
      width: 60%;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
    .tab-content {
      padding: 40px 40px 60px 40px;
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
      }
      .ex-bold {
        text-indent: 40px;
        font-weight: 700;
        @media (max-width: 991px) {
          text-indent: 0;
        }
      }
      ul {
        margin-bottom: 50px;
        li {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
        }
        @media (max-width: 991px) {
          padding: 0;
          margin-bottom: 20px;
        }
      }
      @media (max-width: 991px) {
      padding: 15px 15px 30px 15px;
      }
    }
    .ex-action {
      padding: 0 12px;
      @media (max-width: 991px) {
        margin-top: 30px;
      }
    }
    .ex-money-2 {
      @media (min-width: 992px) {
        margin-top: 190px;
      }
    }
    .ex-money-3 {
      @media (min-width: 992px) {
        margin-top: 110px;
      }
    }
    .ex-money-4 {
      @media (min-width: 992px) {
        margin-top: 40px;
      }
    }
    .ex-money-5 {
      @media (min-width: 992px) {
        margin-top: 240px;
      }
    }
  }

}

.ex-grey {
  background-color: #fcfcfc;
}