.ex-about {
  .ex-for-about-bg {
    height: 340px;
    background-image: url("../img/aboutbg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1199px) {
      display: none;
    }
  }
  h1 {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: 1199px) {
      padding-bottom: 20px;
    }
  }
  .ex-about-cont{
    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 30px;
      margin-bottom: 0;
      @media (max-width: 1199px) {
        br {
          display: none;
        }
      }
    }
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      b {
        font-weight: 700;
      }
    }
  }
  .ex-main-btn {
    margin-top: 60px;
  }
  .ex-info-block {
    padding-top: 70px;
    h2 {
      padding-bottom: 20px;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
    }
    p {
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}