.ex-offerta {
  padding-top: 20px;
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 21px;
  }
  .ex-offerta-bg {
    background-color: #fcfcfc;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .ex-offerta-head {
    margin-bottom: 10px;
    table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;
      tbody {
        tr {
          td {
            padding: 5px 0;
            text-align: right;
            color: #9b9b9b;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            border-bottom: 1px solid #9b9b9b;
            &:first-child {
              text-align: left;
              width: 190px;
            }
            &:last-child {
              width: 320px;
              border-bottom: none;
            }
            &:nth-child(2) {
              width: 160px;
            }
            &:nth-child(3) {
              width: 110px;
            }
            &:nth-child(4) {
              width: 110px;
            }
          }
        }
      }
    }
    @media (max-width: 991px) {
      display: none;
    }
  }
  .ex-offerta-block {
    @include prefix(transition, all 0.3s ease);
    border: 1px solid transparent;
    table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;
      tbody {
        tr {
          td {
            text-align: right;
            padding: 38px 0;
            color: #9b9b9b;
            font-size: 16px;
            font-weight: 700;
            line-height: 14px;
            &:last-child {
              width: 320px;
              padding-left: 40px;
              padding-right: 20px;
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
            &:first-child {
              width: 190px;
              padding-left: 20px;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
            }
            &:nth-child(2) {
              width: 160px;
              @media (max-width: 991px) {
                width: auto;
              }
            }
            &:nth-child(3) {
              width: 110px;
              @media (max-width: 991px) {
                width: auto;
              }
            }
            &:nth-child(4) {
              width: 110px;
              @media (max-width: 991px) {
                width: auto;
              }
            }
          }
        }
      }
    }
    &.ex-on-small-device {
      @media (max-width: 991px) {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid rgba(151, 151, 151, 0.18);
        background-color: #ffffff;
        table {
          tbody {
            tr {
              td {
                color: #333333;
                font-size: 16px;
                font-weight: 700;
                line-height: 14px;
                &:first-child {
                  -webkit-filter: initial;
                  filter: initial;
                  border-bottom-left-radius: 0;
                  border-top-left-radius: 0;
                }
                &:last-child {
                  border-bottom-right-radius: 5px;
                  border-top-right-radius: 5px;
                }
              }
            }
          }
          .ex-grey-btn {
            color: #ffffff;
            background-color: #ffe23b;
          }
        }
      }
    }
    &.ex-offerta-active {
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid rgba(151, 151, 151, 0.18);
      background-color: #ffffff;
      table {
        tbody {
          tr {
            td {
              color: #333333;
              font-size: 16px;
              font-weight: 700;
              line-height: 14px;
              &:first-child {
                -webkit-filter: initial;
                filter: initial;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
              }
              &:last-child {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
              }
            }
          }
        }
      }
      .ex-grey-btn {
        @extend .ex-main-btn;
      }
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 991px) {
  .ex-offerta table {
    border: 0;
  }
  .ex-offerta table caption {
    font-size: 1.3em;
  }
  .ex-offerta table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .ex-offerta table tr {
    display: block;
  }
  .ex-offerta table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .ex-offerta table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    width: 45%;
    font-size: 12px;
  }

  .ex-offerta table td:after {
    clear: both;
    content: '';
    display: block;
  }
  .ex-offerta table td:last-child {
    border-bottom: 0;
  }
  .ex-offerta .ex-offerta-block table tbody tr td:first-child {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    div {
      display: inline-block;
      width: 50%;
      img {
        width: auto;
      }
    }
  }
  .ex-offerta .ex-offerta-block table tbody tr td {
    padding: 20px 15px;
  }
  .ex-offerta .ex-offerta-block table tbody tr td:last-child {
    width: auto;
    padding-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .ex-offerta .ex-offerta-block table tbody tr td:first-child {
    div {
      img {
        width: 100%;
      }
    }
  }
}
