.ex-money{
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  .nav-tabs {
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    .active.nav-item {
        a {
          background-color: #ffe23b;
          color: #000000;
        }
    }
    li {
      cursor: pointer;
      width: 210px;
      margin-right: 14px;

      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      a {
        height: 120px;
        border-radius: 5px;
        border: 1px solid rgba(155, 155, 155, 0.18);
        background-color: #ffffff;
        padding: 24px 15px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        display: block;
        text-decoration: none;
        img {
          margin-top: 23px;
        }
        span {
          display: block;
        }
      }
    }
    @media (max-width: 1199px) and (min-width: 992px) {
     li {
       width: 178px;
       margin-right: 10px;
       a {
         font-size: 13px;
         padding: 15px 10px;
       }
     }
    }
    @media (max-width: 991px) {
      display: block;
      li {
        width: 100%;
        height: auto;
        a {
          height: auto;
          padding: 15px 15px;
          span {
            display: block;
          }
          img {
            margin-top: 5px;
          }
        }
      }

    }
  }
  .tab-content {
      p {
        padding: 40px 0;
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
      }
  }
}
.bg-grey {
  background-color: #fcfcfc;
  padding-bottom: 60px;
}