header {
  background-color: #fff;
  .navbar-default {
    background-color: #fff !important;
  }
}

#ex-homepage-header {
  height: 86px;
  padding-top: 24px;
  padding-bottom: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0); /* IE6-9 */
  margin-bottom: 0;
  #navbarCollapse {
    padding-top: 0;
    padding-right: 0;
  background-image: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);;
  }
  .navbar-brand {
    width: 172px;
    height: 34px;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .navbar-right {
    li {
      a {
        padding: 8px 23px !important;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        &:hover {
          color: #7f96ec;
          background-color: transparent;
        }
        @media screen and (max-width: 991px) and (min-width: 768px) {
          font-size: 12px;
          padding: 8px 18px !important;
        }
        @media (max-width: 768px) {
          padding: 8px 18px !important;
        }
      }
    }
    .ex-hes-border {
      border-radius: 5px;
      border: 1px solid #333333;
      margin-left: 35px;
      a {
        padding: 10px!important;
        outline: none;
        padding-left: 18px!important;
      }
      @media screen and (max-width: 991px) and (min-width: 320px) {
        border: none;
        margin-left: 0;
      }
    }
    .icon-bar {
      background-color: #000 !important;
    }
  }
  .ex-dropdown-menu {
    .dropdown-menu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      border-radius: 0 0 5px 5px;
      background-image: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
      padding: 0;
      margin-top: 24px;
      left: -30px;
      right: initial;
      li {
        a {
          text-transform: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px;
          padding-left: 21px!important;
          padding-right: 75px!important;
        }
        > a:hover {
          color: #fff;
          background-color: #5c6be5;
        }
      }

    }
    > a {
      position: relative;
      background-color: transparent;
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 1px;
        top: 14px;
        width: 6px;
        height: 6px;
        border: solid #727988;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        @include prefix(border-radius, 0);
      }
    }
    @media screen and (max-width: 991px) and (min-width: 320px) {
      .dropdown-menu {
        margin-top: 0 !important;

        li {
          > a:hover {
            border-bottom: none;
            border-top: none;
          }
        }

      }
    }
  }

}

.ex-main-header {
  background-color: #268FFB;
  @extend #ex-homepage-header;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse {
    padding: 0;
  }
}