.ex-main {
  background-color: #428ce1;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #001727 100%);
  opacity: 0.87;
  @media (max-width: 991px) {
    opacity: 1;
  }
  h1 {
    padding-top: 136px;
    padding-bottom: 42px;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    font-weight: 900;
    line-height: 60px;
    margin: 0;
    @media (max-width: 991px) {
      font-size: 36px;
      padding-top: 90px;
      br{
        display: none;
      }
    }

  }
  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
  }
  .ex-calc-wraper {
    margin-top: 79px;
    .ex-val-block {
      #ex-slider-val {
        color: #ffffff;
        font-size: 48px;
        font-weight: 900;
        margin: 0;
        @media (max-width: 1090px) {
          font-size: 38px;
        }
        span {
          font-weight: 400;
        }
        @media (max-width: 767px) {
          padding: 0;
          margin-bottom: 20px;
          margin-top: 0;
        }
      }
      @media (max-width: 767px) {
        padding: 5px 30px;
      }
    }
    .ex-tab-section {
      margin-top: 17px;
      margin-bottom: 129px;
      .ex-calc-block {
        font-size: 0;
        //padding-right: 10px;
        padding: 0;
        margin: 0;
        li {
          position: relative;
          display: inline-block;
          //border-radius: 5px;
          border: 3px solid #ffffff;
          background-color: #fff;
          border-right: none;
          border-left: none;
          @media (max-width: 767px) {
            border: 3px solid #ffffff;
          }
          &:last-child .ex-crumbs {
            position: relative;
            padding-right:0;
            @media (max-width: 768px) {
              padding-right: 0 !important;
            }
            &:after {
              right: -18px;
              width: 40px;
              height: 40px;
              top: 3px;
              @media (max-width: 767px) {
                display: none;
              }
            }
            &:before {
              position: absolute;
              content: "";
              display: block;
              width: 0;
              height: 0;
              border-top: 24px solid transparent;
              border-bottom: 24px solid transparent;
              border-left: 24px solid #5c6be5;
              right: -24px;
              @media (max-width: 767px) {
                display: none;
              }
            }
            @media (max-width: 767px) {
              border-right: none;
              border-left: none;
            }

          }
          &:first-child {
            border-left: 3px solid #ffffff;
          }
          .ex-crumbs.ex-crumbs-first {
            padding-left: 10px;
            @media (max-width: 1090px) {
              padding-left: 0;
            }
          }

          .ex-crumbs {
            width: 178px;
            padding-left: 2px;
            padding-right: 12px;
            position: relative;
            background-color: #5c6be5;
            span {
              color: #ffffff;
              font-size: 11px;
              font-weight: 700;
              line-height: 46px;
              text-transform: uppercase;
              &:first-child {
                padding-right: 4px;
              }
              @media (max-width: 1090px) {
                font-size: 10px;
              }
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              right: 9px;
              top: 4px;
              width: 38px;
              height: 38px;
              border: solid #fff;
              border-width: 0 3px 3px 0;
              transform: rotate(-45deg);
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -ms-border-radius: 5px;
              border-radius: 5px;
              z-index: 99;
              @media (max-width: 767px) {
                display: none;
              }

            }
            @media (max-width: 767px) {
              padding-right: 0;
            }
          }

          .ex-unique {
            font-size: 12px;
            @media (max-width: 1090px) {
              font-size: 10px;
            }
          }
          p {
            font-size: 20px;
            @media (max-width: 991px) {
              font-size: 16px;
            }
          }
          @media (max-width: 991px) {
            width: initial;
            text-align: center;
            background: none;
          }
          @media (max-width: 600px) {
            width: 100%;
            margin-right: 0;
          }
        }
        @media (max-width: 991px) {
          padding: 0;
        }
        @media (max-width: 991px) {
          margin-bottom: 40px;
        }
      }

    }
    .ex-range-scope {
      #ex-main-slider-range {
        @media (max-width: 767px) {
          padding: 0;
        }
        .ex-slider-info {
          span {
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            line-height: 12px;
            &:first-child {
              float: left;
            }
            &:last-child {
              float: right;
            }
            &:nth-child(2) {
              margin-left: 40%;
            }
          }
        }
      }
      @media (max-width: 767px) {
        padding: 0 40px;
      }
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.ex-advantages {
  background-color: #fff;
  h2 {
    margin-top: 70px;
    margin-bottom: 66px;
  }
  .ex-adv-bg {
    .ex-pad-not {
      padding-left: 15px;
    }
    .ex-pad-not-right {
      padding-right: 15px;
    }
    .ex-line-right {
      border-right: 1px solid #e5e5e5;
      @media (max-width: 1090px) {
        border-right: none;
      }
    }
    .ex-line-bottom {
      border-bottom: 1px solid #e5e5e5;
      @media (max-width: 1090px) {
        border-bottom: none;
      }
    }
    margin-bottom: 41px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    background-image: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
    .ex-adv-block {
      min-height: 360px;
      padding: 44px;
      text-align: center;
      p.ex-og-text {
        padding-top: 24px;
        padding-bottom: 34px;
        color: #fe984b;
        font-size: 25px;
        font-weight: 700;
      }
      p {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    //  .ex-pad-not {
    //    display: none;
    //  }
    //  .ex-pad-not-right {
    //    display: none;
    //  }
    //  .ex-line-bottom {
    //    display: none;
    //  }
    //}
  }
}