.ex-about {
  padding-top: 56px;
  padding-bottom: 60px;
  h1 {
    text-align: center;
    color: #1f1c09;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .ex-about-content {
    margin-bottom: 60px;
    h2 {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 300;
    }
    p {
      color: #333333;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}