.ex-article {
  padding-top: 56px;
  padding-bottom: 60px;
  h1 {
    text-align: center;
    color: #1f1c09;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .ex-article-wrap {
    padding: 29px 42px;
    margin-bottom: 16px;
    background-color: #f5f5f5;
    @include prefix(border-radius , 5px);
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;

    }
  }
  .ex-article-wrap.ex-article-2{
    padding: 40px 42px 36px 42px;
    margin-bottom: 58px;
  }
  .ex-article-wrap.ex-article-3 {
    padding: 30px 42px 26px 42px;
    margin-bottom: 31px;
  }
  .ex-article-wrap.ex-article-4 {
    padding: 39px 42px 26px 42px;
    margin-bottom: 60px;
  }
}