.ex-article-all {
  padding-top: 58px;
  padding-bottom: 60px;
  .ex-art-block {
    margin-bottom: 29px;
    &:last-child {
      margin-bottom: 60px;
    }
    h2 {
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      margin: 0;
    }
    p {
      padding-top: 10px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 19px;
    }
      a {
        display: inline-block;
        border: 1px solid #5d4889;
        text-align: center;
        padding: 12px 70px;
        color: #5d4889;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        @include prefix(border-radius, 5px);
        transition: all 0.5s ease;
    }
  }
}