.ex-main-header {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-header {
    .navbar-toggle {
      margin-top: 25px;
    }
    .navbar-brand {
      padding: 27px 15px;
      i {
        display: inline-block;
        width: 165px;
        height: 40px;
        background-image: url(../img/icons/logo-header.png);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        vertical-align: middle;
      }
    }
  }
  .navbar-nav {
    padding: 27px 15px 0 15px;
    li {
      &.dropdown {
        .ex-dropdown-arrow {
          display: inline-block;
          width: 9px;
          height: 6px;
          background-image: url(../img/icons/dropdown-arrow.png);
          margin-left: 5px;
        }
      }
      &:hover {
        a.ex-menu-item {
          color: #5d4889;
        }
        .ex-dropdown-arrow {
          background-image: url(../img/icons/dropdown-arrow-hover.png);
        }
      }
      a.ex-menu-item {
        background-color: transparent !important;
        padding-left: 20px;
        padding-right: 20px;
        color: $mainPurple;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        @include prefix(transition, all 0.3s ease);
        &:focus {
          background-color: transparent !important;
        }
        &:active {
          background-color: transparent !important;
        }
      }
      .ex-feedback {
        min-width: 160px;
        text-align: center;
        padding: 13px 5px 11px;
        display: inline-block;
        border: 1px solid #5d4889;
        color: #5d4889;
        font-size: 14px;
        @include prefix(border-radius, 5px);
      }
    }
    @media (max-width: 767px) {
      -webkit-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.25);
      box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.25);
      li {
        a {
          display: inline-block;
        }
        .ex-feedback {
          min-width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .navbar-collapse {
    border-color: transparent;
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .navbar-header {
      .navbar-brand {
        padding: 27px 10px;
        i {
          width: 122px;
          height: 30px;
        }
      }
    }

    .navbar-nav {
      padding: 18px 15px;
      li {
        .ex-menu-item {
          padding-left: 12px !important;
          padding-right: 12px !important;
        }
        .ex-feedback {
          min-width: 135px;
          text-align: center;
          padding: 13px 5px 11px;
          display: inline-block;
          border: 1px solid #5d4889;
          color: #5d4889;
          font-size: 14px;
          @include prefix(border-radius, 5px);
        }
      }
    }
  }
  .navbar-right {
    .dropdown-menu {
      right: auto !important;
      top: auto !important;
    }
  }
  .ex-dropdown-menu {
    .dropdown-menu {
      background-color: transparent;
      padding: 0;
      box-shadow: none !important;
      border: none;
      li {
        @include prefix(border-radius, 5px);
        background-color: #ffffff;;
        margin-bottom: 2px;
        a {
          text-transform: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px;
          padding-left: 21px !important;
          padding-right: 75px !important;
        }
        &:hover {
          a {
            color: #ffffff;
            background-color: #5d4889;
            @include prefix(border-radius, 5px);
          }
        }
      }
    }
  }
}

